{% if site.breadcrumbs.post and site.breadcrumbs.post.size > 0 %}
<nav>
    <ol aria-label="breadcrumb" class="breadcrumb" style="--bs-breadcrumb-divider: '&rsaquo;';">
    {% for item in site.breadcrumbs.post %}
        {%- assign item_path = item.path -%}
        {%- assign item_path_first = item_path | slice: 0 %}
        {%- if item_path_first == '/' -%}
        {%- assign item_path = item_path | slice: 1, item_path.size -%}
        {%- endif -%}
        <li class="breadcrumb-item">
            <a href="{{ page.baseurl }}{{ item_path }}">{{ item.label | t }}</a>
        </li>
    {% endfor %}
    </ol>
</nav>
{% endif %}
