{% assign status_css = include.indicator.reporting_status | slugify %}
{% case status_css %}
    {% when "notapplicable" %}
        {% assign status_desc = page.t.status.not_applicable %}
    {% when "notstarted" %}
        {% assign status_desc = page.t.status.exploring_data_sources %}
    {% when "inprogress" %}
        {% assign status_desc = page.t.status.statistics_in_progress %}
    {% when "complete" %}
        {% assign status_desc = page.t.status.reported | default: page.t.status.reported_online %}
{% endcase %}
{% assign reporting_status_type = site.reporting_status.status_types | where: 'value', include.indicator.reporting_status | first %}
{% unless reporting_status_type.hide_on_goal_pages %}
<span class="status {{ status_css }}">
    <span class="status-inner">{{ status_desc }}</span>
</span>
{% endunless %}
