{%- assign indicators_plural = page.t.general.indicators | downcase -%}

{%- assign status_types = site.reporting_status.status_types -%}
{%- if include.status_types and site[include.status_types] -%}
    {%- assign status_types = site[include.status_types].status_types -%}
{%- endif -%}

<h2>{{ include.title }}</h2>
{%- for goalreport in include.goals -%}
{%- assign goal = goalreport.goal | strip | sdg_lookup -%}
<div class="goal reporting-status-item">
    <div class="frame goal-tiles">
        <a href="{{ goal.url }}">
        <img src="{{ goal.icon }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" width="100" height="100" class="goal-icon-{{ goal.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </a>
    </div>
    <div class="details">
        <h3 class="status-goal">
            <a href="{{ goal.url }}">{{ goal.short }}</a>
        </h3>
        <span class="total">{{ goalreport.totals.total }} {{ indicators_plural }}</span>
        <div class="summary">
            <div class="statuses">
                {%- for status_type in status_types -%}
                {% assign status_stats = goalreport.statuses | where: "status", status_type.value | first %}
                {% if status_stats %}
                <div>
                    <span class="status {{ status_type.value | slugify }}"><span class="status-inner">{{ status_stats.count }}</span></span><strong>{{ status_type.label | t }}</strong><span class="value">{{ status_stats.percentage | round }}%</span>
                </div>
                {% endif %}
                {%- endfor -%}
                <br style="clear:both;">
            </div>
        </div>
        <div class="goal-stats">
            {%- for status_type in status_types -%}
                {% assign status_stats = goalreport.statuses | where: "status", status_type.value | first %}
                {% if status_stats %}
                {% assign status_count_precise = status_stats.count | times: 1.0 %}
                {% assign goalreport_total_precise = goalreport.totals.total  | times: 1.0 %}
                {% assign percentage_precise = status_count_precise | divided_by: goalreport_total_precise | times: 100 %}
                <span class="{{ status_type.value | slugify }}" style="width:{{ percentage_precise }}%" title="{{ status_type.label | t }}: {{ status_stats.percentage | round }}%"></span>
                {% endif %}
            {%- endfor -%}
        </div>
        <div class="divider"></div>
    </div>
    <br style="clear:both;">
</div>
{%- endfor -%}
