@mixin focus {
    color: $focusColor !important;
    outline: 3px solid transparent !important;
    background-color: $focusBackgroundColor !important;
    outline-offset: 0 !important;
    box-shadow: 0 -2px $focusOutlineColor, 0 4px $focusColor !important;
    text-decoration: none !important;
}

@mixin focusOutlineOnly {
    background-color: $backgroundColor !important;
    box-shadow: 0 0 0 5px $focusOutlineColor !important;
    outline: 2px solid $text-color !important;
}

@mixin focusHighContrast {
    color: $focusColor-highContrast !important;
    background-color: $focusBackgroundColor-highContrast !important;
    box-shadow: 0 -2px $focusOutlineColor-highContrast, 0 4px $focusColor-highContrast !important;
}

@mixin focusOutlineOnlyHighContrast {
    background-color: $color-dark-highContrast !important;
    box-shadow: none !important;
    outline: 3px solid $focusOutlineColor-highContrast !important;
    color: $text-color-highContrast !important;
}
