@mixin searchBar {
    clear: both;
    float: right;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 0;
    }

    form {
        margin-top: 5px;
    }

    input {
        padding: 5px;
        width: 300px;
        width: 33ch;
        height: 34px;
        font-size: $searchBar-input-fontSize;
        border: 1.25px solid $text-color;
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 0;
        &:focus-visible {
            z-index: 1;
        }
    }

    button {
        height: 34px;
        color: $button-foregroundColor;
        font-size: 1.4em;
        line-height: 1em;
        background-color: $button-color;
        border: 1.25px solid $button-color;
        border-radius: 0;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 0;
        &:focus-visible {
            color: $button-foregroundColor !important;
            background-color: $button-color !important;
            box-shadow: none !important;
            outline: 3px solid $focusOutlineColor !important;
            z-index: 1;
        }
    }
}

@mixin searchBarHighContrast {
    input {
        color: $color-dark-highContrast;
    }
    button {
        &,
        &:focus-visible {
            background-color: $button-color-highContrast !important;
            color: $button-foregroundColor-highContrast !important;
            border-color: $button-foregroundColor-highContrast !important;
        }
        &:hover {
            background-color: $button-color-hover-highContrast !important;
        }
    }
}
