{% include multilingual-js.html key="header" %}
<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
<div id="disclaimer">
  {% include components/dev-disclaimer.html %}
</div>

<header class="header-accessible" role="banner">
  <div class="container">
    <nav class="navbar navbar-default" id="main-nav">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ page.baseurl }}" id="home">
          <img src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="{{ page.t.general.sdg }} - {{ page.t.header.tag_line }}" />
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsible-nav-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="collapsible-nav-menu">
        {% include search.html %}
        <ul class="nav navbar-nav" id="menu">
          {%- if site.menu -%}
            {%- assign current_path_no_slash = page.url | remove: '/' -%}
            {%- for item in site.menu -%}
            {%- assign item_path_no_slash = item.path | remove: '/' -%}
            {%- assign item_path = item.path -%}
            {%- assign item_path_first = item_path | slice: 0 %}
            {%- if item_path_first == '/' -%}
              {%- assign item_path = item_path | slice: 1, item_path.size -%}
            {%- endif -%}
            <li class="nav-link {% if current_path_no_slash == item_path_no_slash %}active{% endif %}">
              <a href="{{ page.baseurl }}{{ item_path }}">{{ item.translation_key | t }}</a>
            </li>
            {%- endfor -%}
          {%- endif -%}
        </ul>
        <ul class="contrast-switcher">
          {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
          <li class="language-toggle-menu-header">
            {% include components/language-toggle.html %}
          </li>
          {%- endif -%}
        </ul>
      </div>
    </nav>
  </div>
</header>
<div id="top" tabindex=-1></div>
