<ol class="breadcrumb">
  {% if site.breadcrumbs.goal and site.breadcrumbs.goal.size > 0 %}
  {% for item in site.breadcrumbs.goal %}
    {%- assign item_path = item.path -%}
    {%- assign item_path_first = item_path | slice: 0 %}
    {%- if item_path_first == '/' -%}
      {%- assign item_path = item_path | slice: 1, item_path.size -%}
    {%- endif -%}
    <li><a href="{{ page.baseurl }}{{ item_path }}">{{ item.label | t }}</a></li>
  {% endfor %}
  {% else %}
  <li><a href="{{ page.baseurl }}">{{ page.t.general.home }}</a></li>
  <li class="active">{{ page.t.general.goal }} {{ page.goal.number }}</li>
  {% endif %}
</ol>
