<footer role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-9">
        <a href="mailto:{{site.email_contacts.suggestions}}">{{ t.menu.contact_us }}</a>
        {% if site.twitter %}
          | <a class="twitter-follow-button" href="https://twitter.com/{{ site.twitter }}" data-show-count="false">
              @{{ site.twitter }}
            </a>
        {% endif %}
      </div>
      <div class="col-xs-3 text-right">
        <a href="{{ site.baseurl }}{% link _pages/faq.md %}">{{ t.menu.faq }}</a> | <a href="{{ site.baseurl }}{% link _pages/cookies.md %}">{{ t.menu.cookies }}</a>
      </div>
    </div>
  </div>
</footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<!-- /.container </div> -->
{% include scripts.html %}

<script>
  {% if site.analytics.ga_prod and site.analytics.ga_prod != blank %}
  initialiseGoogleAnalytics();
  {% endif %}
</script>
</body>
</html>
