<footer role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="footerLinks">
          <ul>
            <li>Built using <a href="https://open-sdg.readthedocs.io/en/latest/">Open SDG</a></li>
            <li><a href="mailto:{{site.email_contacts.suggestions}}">{{ page.t.menu.contact_us }}</a></li>
            {% if site.twitter %}
            <li><a class="twitter-follow-button" href="https://twitter.com/{{ site.twitter }}" data-show-count="false">{{ page.t.general.twitter }}: @{{ site.twitter }}</a></li>
            {% endif %}
            {% if site.facebook %}
            <li><a href="https://facebook.com/{{ site.facebook }}" target="_blank">{{ page.t.general.facebook }}: @{{ site.facebook }}</a></li>
            {% endif %}
            <li><a href="{{ site.baseurl }}{% link _pages/faq.md %}">{{ page.t.menu.faq }}</a></li>
            <li><a href="{{ site.baseurl }}{% link _pages/cookies.md %}">{{ page.t.menu.cookies }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Digital Analytics Program roll-up, see https://analytics.usa.gov for data -->
<!-- <script id="_fed_an_ua_tag" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA"></script> -->
<!-- Google Analytics -->

<!-- /.container </div> -->
{% include scripts.html %}

{% if site.analytics.ga_prod and site.analytics.ga_prod != '' %}
<script>
  initialiseGoogleAnalytics();
</script>
{% endif %}

</body>
</html>
