{% include multilingual-js.html key="header" %}
<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
<div id="disclaimer">
  {% include components/dev-disclaimer.html %}
</div>

<header role="banner">
  <div class="container">

    <a class="navbar-brand" href="{{ page.baseurl }}" id="home">
      <img src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="{{ page.t.general.sdg }} - {{ page.t.header.tag_line }}" />
    </a>

  <div class='hidden visible-xs float-right'>
    <ul id='accessibility-nav' class='contrast-switcher'></ul>
    {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
    <div class="language-toggle-mobile">
      {% include components/language-toggle.html location="header" %}
    </div>
    {%- endif -%}
  </div>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li id="menuToggle"
            aria-label="Menu toggle. Click to expand or collapse the menu."
            aria-haspopup="true"
            aria-expanded="false">
          <span data-target="menu" tabindex="0"
          role="navigation">{{ page.t.menu.menu }}</span>
        </li>
        <li><span data-target="search">{{ page.t.search.search }}</span></li>
      </ul>

      {% include search.html %}

      <ul class="nav navbar-nav menu-target contrast-switcher" id="menu">
        {%- if site.menu -%}
          {%- assign current_path_no_slash = page.url | remove: '/' -%}
          {%- for item in site.menu -%}
          {%- assign item_path_no_slash = item.path | remove: '/' -%}
          {%- assign item_path = item.path -%}
          {%- assign item_path_first = item_path | slice: 0 %}
          {%- if item_path_first == '/' -%}
            {%- assign item_path = item_path | slice: 1, item_path.size -%}
          {%- endif -%}
          <li class="nav-link {% if current_path_no_slash == item_path_no_slash %}active{% endif %}">
            <a href="{{ page.baseurl }}{{ item_path }}">{{ item.translation_key | t }}</a>
          </li>
          {%- endfor -%}
        {%- endif -%}
        {%- if site.languages.size > 1 and site.header_language_toggle != 'none' -%}
        <li>
          {% include components/language-toggle.html %}
        </li>
        {%- endif -%}
      </ul>

    </nav>
  </div>

</header>
