<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ t.header.skip_link }}</a>
<div id="disclaimer">
  {% include components/dev-disclaimer.html %}
</div>

<header role="banner">
  <div class="container">
    
    <div class="row"
      <div class="column">
      {%- if site.nso_link -%}
      <a class="navbar-nso" href="{{ site.nso_link }}/" id="nso">
        <img src="{{ site.baseurl }}/assets/img/NSO_logo.png" alt="Link to country's statistics office website" />
      </a>
      {%- endif -%}
      </div>
      <div class="column">
        <a class="navbar-brand" href="{{ site.baseurl }}{{ baseurl_folder }}/" id="home">
          <img src="{{ site.baseurl }}/assets/img/SDG_logo.png" alt="{{ t.general.sdg }} - {{ t.header.tag_line }}" />
        </a>
      </div>
    </div>

  <div class='hidden visible-xs float-right'>
    <ul id='accessibility-nav' class='contrast-switcher'></ul>
    {%- if site.languages.size > 1 -%}
    <div class="language-toggle-mobile">
      {% include components/language-toggle.html %}
    </div>
    {%- endif -%}
  </div>

    <nav class="navbar navbar-default" id="main-nav">

      <ul class="top-level">
        <li><span data-target="menu">{{ t.menu.menu }}</span></li>
        <li><span data-target="search">{{ t.search.search }}</span></li>
      </ul>

      <ul class="nav navbar-nav menu-target contrast-switcher" id="menu">
        {%- if site.menu -%}
          {%- for item in site.menu -%}
          <li class="nav-link {% if page.permalink == item.path %}active{% endif %}">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}{{ item.path }}">{{ item.translation_key | t }}</a>
          </li>
          {%- endfor -%}
        {%- endif -%}
        {%- if site.languages.size > 1 -%}
        <li>
          {% include components/language-toggle.html %}
        </li>
        {%- endif -%}
      </ul>

      {% include search.html %}

    </nav>
  </div>

</header>
