<script>
// This is where we initialise any global variables, namespaced in "opensdg".
var opensdg = {

  // A base URL for asynchronous calls to SDG data.
  remoteDataBaseUrl: '{{ site.remotedatabaseurl }}',

  // A hook which can be replaced to modify the configuration for Chart.js.
  // To see where this is used, see indicatorView.js createPlot() and updatePlot().
  // To see an example of replacing it, see binary.html.
  chartConfigAlter: function(config) {
    // Alterations go here.
    return config;
  },
};

// For backwards compatibility, some of these might need to be global.
// @TODO: Remove these eventually.
var remoteDataBaseUrl = opensdg.remoteDataBaseUrl;

</script>
