<script>
// This is where we initialise any global variables, namespaced in "opensdg".
var opensdg = function() {

  var remoteDataBaseUrl = '{{ page.remote_data_prefix }}';
  var chartAlterations = [];
  var dataAlterations = [];

  return {
    // Get the base URL for asynchronous calls to SDG data.
    getRemoteDataBaseUrl: function() { return remoteDataBaseUrl; },

    // Add functions to alter the Chart.js configuration.
    addChartAlteration: function(callback) { chartAlterations.push(callback); },

    performChartAlterations: function(config, context) {
      chartAlterations.forEach(function(callback) {
        config = callback(config, context);
      });
      return config;
    },

    // Add functions to alter data before displaying on tables/graphs.
    addDataAlteration: function(callback) { dataAlterations.push(callback); },

    performDataAlterations: function(data) {
      dataAlterations.forEach(function(callback) {
        data = callback(data);
      });
      return data;
    },
  };
}();

// For backwards compatibility, some of these might need to be global.
// @TODO: Remove these eventually.
var remoteDataBaseUrl = opensdg.remoteDataBaseUrl;

</script>
