<script>
// This is where we initialise any global variables, namespaced in "opensdg".
var opensdg = {

  // A base URL for asynchronous calls to SDG data.
  remoteDataBaseUrl: '{{ page.remote_data_prefix }}',

  chartConfigAlterations: [],
  // A hook which can be used to modify the configuration for Chart.js.
  chartConfigAlter: function(callback) {
    this.chartConfigAlterations.push(callback);
  },

  // A hook which can be replaced to alter whether/how the values that are
  // displayed on indicator tables/graphs get rounded.
  dataRounding: function(value) {
    // Alterations go here.
    return value;
  },

  language: '{{ page.language }}',
};

// For backwards compatibility, some of these might need to be global.
// @TODO: Remove these eventually.
var remoteDataBaseUrl = opensdg.remoteDataBaseUrl;

</script>
