<script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script src="//cdn.datatables.net/fixedcolumns/3.2.3/js/dataTables.fixedColumns.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/patternomaly@1.3.2/dist/patternomaly.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.zoomshowhide@0.1.0/dist/leaflet-zoom-show-hide.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.4.0/chroma.min.js"></script>
<script src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
<script src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<script src="https://bowercdn.net/c/leaflet.zoomhome-latest/dist/leaflet.zoomhome.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-search@2.9.7/dist/leaflet-search.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.3/dist/html2canvas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
<script src='{{ site.baseurl }}/assets/js/sdg.js?v={{ cache_bust }}'></script>
{%- if site.custom_js -%}
  {%- for custom_js_file in site.custom_js -%}
    <script src="{{ site.baseurl }}{{ custom_js_file }}?v={{ cache_bust }}"></script>
  {%- endfor -%}
{%- endif -%}
<script>
$(function() {
    if($('#indicatorData').length) {
      var domData = $('#indicatorData').data();

      $('.async-loading').each(function(i, obj) {
          $(obj).append($('<img />').attr('src', $(obj).data('img')));
      });

      $.ajax({
        url: opensdg.remoteDataBaseUrl + '/comb/' + domData.id + '.json',
        success: function(res) {

          $('.async-loading').remove();
          $('.async-loaded').show();

          var model = new indicatorModel({
            data: res.data,
            edgesData: res.edges,
            geoCodeRegEx: domData.geocoderegex,
            showMap: domData.showmap,
            country: domData.country,
            indicatorId: domData.indicatorid,
            shortIndicatorId: domData.id,
            chartTitle: domData.charttitle,
            measurementUnit: domData.measurementunit,
            copyright: domData.copyright,
            dataSource: domData.datasource,
            geographicalArea: domData.geographicalarea,
            showData: domData.showdata,
            footnote: domData.footnote,
            graphType: domData.graphtype,
            startValues: domData.startvalues
          }),
          view  = new indicatorView(model, {
            rootElement: '#indicatorData',
            legendElement: '#plotLegend',
            maxChartHeight: 420,
            tableColumnDefs: [
              { maxCharCount: 25 }, // nowrap
              { maxCharCount: 35, width: 200 },
              { maxCharCount: Infinity, width: 250 }
            ]
          }),
          controller = new indicatorController(model, view);
          controller.initialise();
        }
      });
    }

    var switcher = new accessibilitySwitcher();


});
</script>
