<div id="search" class="menu-target">
  <label for="indicator_search">
    <button aria-label="Indicator search" id="search-btn" type="submit"><i class="fa fa-search" aria-hidden="false"></i></button><span>{{ t.search.search }}:</span>
  </label>
  <input id="indicator_search" title="{{ t.search.indicator_search }}" placeholder="{{ t.search.indicator_search }}" data-url="{{ site.baseurl }}{{ baseurl_folder }}/indicators.json" data-pageurl="{{ site.baseurl }}{{ baseurl_folder }}/search/?q=" />
</div>
