<script type="text/template" id="item_template">
  <label for="comparison-select">My label</label>
  <select id="comparison-select">
  <% _.each(fields, function(fieldItem) { %>
    <% if (fieldItem.field !== opensdg.reportingTypeColumn) { %>
      <% _.each(fieldItem.values, function(item) { %>
        <option data-field="<%=fieldItem.field%>" value="<%=item.value%>" <%=item.checked ? 'selected' : ''%>><%=fieldItem.field%> - <%=item.value%></option>
      <% }); %>
    <% } %>
  <% }); %>
  </select>
</script>
