<div class="mt-4 global-national-metadata">
    {% for indicator_metadata in site.data.schema %}
        {%- assign metadata_label = indicator_metadata.name | translate_metadata_field -%}
        {% if indicator_metadata.field.scope == 'global' %}
            {% assign global_key = indicator_metadata.name %}
            {% assign global_content = page.indicator[global_key] %}
            {% assign national_key = indicator_metadata.name | replace: "__GLOBAL", "" %}
            {% assign national_content = page.indicator[national_key] %}
            {% if global_content and national_content and global_content != '' and national_content != '' %}
                {% include components/indicator/comparison/metadata-field.html
                    title=metadata_label
                    national=national_content
                    global=global_content
                %}
            {% endif %}
        {% endif %}
    {% endfor %}      
</div>
