{% include multilingual-js.html key="header" %}
<a class="sr-only sr-only-focusable" id="skiplink" href="#main-content" tabindex="0">{{ page.t.header.skip_link }}</a>
<div id="disclaimer">
  {% include components/dev-disclaimer.html %}
</div>

<header role="banner" class="header-default">
  <div class="container">

    <div class="logo-and-mobile-widgets">
      {% include components/header/logo.html %}
      {% include components/header/widgets-mobile.html %}
    </div>

    <nav class="navbar navbar-default" id="main-nav">
      {% include components/header/navigation-mobile.html %}
      {% include search.html id="search" %}
      {% include navigation.html id="menu" dropdowns=true %}
    </nav>
  </div>

</header>
{% include components/page-top.html %}
