<ul class="top-level">
    <li id="menuToggle"
        aria-label="{{ page.t.header.toggle_menu }}"
        aria-haspopup="true">
        <button data-target="menu-mobile" aria-expanded="false">{{ page.t.menu.menu }}</button>
        {% include navigation.html id="menu-mobile" %}
    </li>
    <li id="searchToggle"
        aria-label="{{ page.t.header.toggle_search }}"
        aria-haspopup="true">
        <button data-target="search-mobile" aria-expanded="false">{{ page.t.search.search }}</button>
        {% include search.html id="search-mobile" %}
    </li>
</ul>