$goal-colors: #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A !default;
$goal-banner-background-colors: white white white white white white white white white white white white white white white white white !default;
$goal-banner-color: black !default;

$text-color: #333 !default;
$text-dark-color: black !default;
$text-on-dark-background-color: white !default;
$background-color: white !default;
$link-color: #337ab7 !default;
$dark-highlight: #0275d8 !default;
$footer-color: #000000 !default;
$footer-background-color: white !default;

$high-contrast-dark-color: black !default;
$high-contrast-light-color: white !default;
$high-contrast-highlight-color: yellow !default;
$high-contrast-success-color: green !default;
$high-contrast-danger-color: red !default;
$high-contrast-medium-color: #767676 !default;

$danger-color: #E27874 !default;
$warning-color: #f0ad4e !default;
$success-color: #5cb85c !default;

$menu-hover-border-bottom: #aaaaaa !default;
$menu-link-color: #595959 !default;
$menu-mobile-link-color: #E5E6E7 !default;
$menu-mobile-link-background-color: #414042 !default;
$menu-mobile-link-active-color: white !default;
$menu-mobile-link-active-background-color: #58595B !default;
$menu-mobile-dropdown-color: #58595B !default;

$status-complete-color: $text-on-dark-background-color !default;
$status-inprogress-color: $text-on-dark-background-color !default;
$status-notstarted-color: $text-color !default;
$status-notapplicable-color: $text-color !default;
$status-complete-background-color: #2B2B2B !default;
$status-inprogress-background-color: #757575 !default;
$status-notstarted-background-color: white !default;
$status-notapplicable-background-color: repeating-linear-gradient(135deg, #ccc, white 10px, #ccc 10px, white 20px) !default;

$horizontal-rule-color: #ccc !default;
$indicator-content-rule-color: #faebcc !default;

$search-highlight-color: yellow !default;
$search-url-color: green !default;

$disclaimer-tag-color: #005ea5 !default;
$disclaimer-text-color: #3D3D3D !default;

$button-color: #0F8243 !default;
$button-pressed-color: #0b5d30 !default;

$goal-tiles-shadow-color: rgba(5,5,5,0.3) !default;
$goal-tiles-hover-shadow-color: rgba(5,5,5,0.6) !default;

$language-toggle-shadow-color: #a6a6a6 !default;

$map-legend-shadow-color: #666 !default;
$map-legend-no-value-color: repeating-linear-gradient(45deg, #FFF, #FFF 2px, #CCC 2px, #CCC 4px) !default;
$map-legend-value-color: #ddd !default;
$map-legend-bar-color: white !default;

$loader-color: #FF6700 !default;

$indicator-disabled-color: #777 !default;
$indicator-disabled-background-color: #ccc !default;
$indicator-field-border-hover-color: #acacac !default;
$indicator-selected-background-color: #555 !default;
$indicator-possible-background-color: #dedede !default;
$indicator-excluded-background-color: #666 !default;
$indicator-field-border-color: #dedede !default;
$indicator-selector-border-color: #ccc !default;
$indicator-selector-hover-border-color: #555 !default;
$indicator-hint-color: #666 !default;
$indicator-field-button-border-color: #555 !default;
$indicator-field-button-hover-background-color: #f5f3f3 !default;
$indicator-field-label-border: #cdcdcd !default;
$indicator-dataset-size-warning: #FFCC0B !default;
$indicator-legend-color: #666 !default;
$indicator-legend-hover-background-color: #eee !default;

$indicator-tabs-border-color: #888 !default;
$indicator-tabs-inactive-background-color: #eeeeee !default;
