---
# site styles
---

$main-background-color: #eaeaea;
$dark-highlight : #0275d8;
$vanilla: #fff;
$footer-color : #E5E6E7;
$goal-colors : #E52B3D #DDA63A #4C9F38 #C42130 #FF3E24 #28BCE1 #FCC30B #A21942 #FD6925 #DD1367 #FD9C27 #BF8B2E #417D46 #0A96D8 #57BE2F #00689C #1F4A6A;
$navbar-height : 175;
$disclaimer-height: 40;
$collapsed-navbar-height: $navbar-height - 30;
@mixin noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

@mixin indicatorcards {
  .indicator-cards {
    a {
      color: black;
      padding: 1rem;
      display: inline-block;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
      height: 100%;
      width: 100%;
      text-decoration: none;
      &:hover {
        background: transparent;
      }
    }

    span {
      display: block;
      margin-bottom: 0.5rem;
      font-weight: bold;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      position: relative;
      padding: 5px 0;

      &.status {
        color: black;
        font-weight: normal;
        border: none;
        padding: 4px;
        position: absolute;
        top: -1px;
        right: 0;
        display: inline;
      }
    }

    .match {
      display: inline;
      font-weight: normal;
      border-bottom: none;
    }
  }
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters>[class^="col-"],
.row.no-gutters>[class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.container.no-gutters {
  padding-left: 0;
  padding-right: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: $main-background-color;
  padding: $disclaimer-height + unquote("px") 0 0 0;
  margin: 0 0 50px 0;
}

header {
  background: $vanilla url('../img/sdgbg.png') bottom left repeat-x;
  .container {
    min-height: 113px;
    .navbar-default {
      border: none;
    }
  }
}

.match {
  background-color: yellow;
}

.loader {
  svg path,
  svg rect{
    fill: #FF6700;
  }
}

.async-loading {
  img {
    margin-right: 4px;
  }
}

.results {
  div.row .col:nth-child(2) {
    padding-left: 0;
  }

  img {
    width: 100%;
    max-width: 250px;
  }

  p {
    border-bottom: 1px solid #cdcdcd;
    padding: 4px 0;
    padding: 4px 0;
  }

  p.description {
    border: none;
  }

  p.keywords {
    border: none;
    font-style: italic;
    color: #444;
  }

  h2 {
		font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem !important;
  }

  @include indicatorcards;

  .indicator-cards {
    a {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 3.2em;
    }
  }

  .match {
    display: inline;
  }
}

.breadcrumb {
  margin-bottom: 15px;
  a {
    color: darken(#337ab7, 10%);
    // text-decoration: underline;
  }
  &>.active {
    display: inline;
    color: black;
  }
}

#disclaimer {
  background: #f2dede;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 400;

  .phase-tag {
    background: #005ea5;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 0;
  }
  .alert {
    color: #3D3D3D;
    margin-bottom: 0;
    padding: 10px;
    a {
      color: #3D3D3D;
    }
  }
  .alert-danger {
    border: none;
    margin-bottom: 0;
    a {
      text-decoration: underline;
    }
    @media only screen and (max-width: 680px) {
      font-size: 0.75em;
    }
  }
}

.navbar-brand {
  display: block;
  width: 75%;
  max-width: 300px;
  img {
    width: 100%;
  }
}

.navbar {

  margin-bottom: 32px;

  li {
    text-transform: uppercase;
  }

  ul.navbar-nav {
    float: right;
    margin-top: 12px;

    li {
      a {
        padding: 2px;
        margin: 2px 15px;
        color: #595959;
      }

      &.active a {
        border-bottom: 2px solid #333;
        background: transparent;
        color: #333;

        &:hover {
          background: transparent;
        }
      }

      a:last-child {
        margin-right: 0;
      }

      &.contrast {
        @media only screen and (max-width: 768px) {
          display: none;
        }
        font-size: 1.3em;
        font-weight: bold;
        border-radius: 50%;
        width: 25px;
        max-height: 25px;
        text-align: center;
        margin-left: 0.5em;
        a {
          margin: auto;
          text-decoration: none;
        }
      }

      &.contrast-default {
        background: white;
        a {
          color: black;
        }
      }

      &.contrast-high {
        background: black;
        a {
          color: yellow;
        }
      }
    }
  }

  &.navbar-default {
    background: transparent;
    border: none;
    float: right;
  }

  .top-level {
    display: none;
  }

  #search {
    position: relative;
    clear: both;
    float: right;

    label {
      position: absolute;
      top: 8px;
      left: 7px;
      font-size: 1.25em;

      span {
        display: none;
      }
    }

    input {
      padding: 5px;
      padding-left: 29px;
      width: 140px;
      transition: width 0.4s;
      margin-top: 5px;

      &:focus {
        width: 350px;
      }
    }
  }
}

.table {
  .table-value {
    text-align: right;
  }
}

@media only screen and (max-width: 768px) {

  header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar {
    clear: left;

    &.navbar-default {
      color: #E5E6E7;
      background: #414042;
      margin-bottom: 10px;
      width: 100%;
      float: none;
    }

    .top-level {
      display: block;
      font-size: 1em;
      @include noselect;

      li {
        float: left;
        width: 50%;
        cursor: pointer;

        &.active {
          background: #58595B;
        }

        span {
          color: #E5E6E7;
          display: block;
          padding: 15px;
        }
      }
    }

    & .menu-target {
      background: #58595B;
    }

    ul.navbar-nav {
      float: none;
      display: none;
      clear: left;
      margin: 0;

      font-size: 0.938em;

      li {
        cursor: pointer;
        a {
          display: block;
          background: #58595B;
          padding: 6px 0 6px;
          color: #E5E6E7;

          &:hover {
            color: #E5E6E7;
          }
        }

        &.active a {
          border: none;
          color: #fff;
          font-weight: bold;

          &:hover {
            color: #fff;
          }
        }

        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    #search {
      display: none;
      width: 100%;
      padding: 20px;

      label {
        top: 23px;
        left: 25px;
        color: black;
      }

      input {
        width: 100%;
        color: #333;
        margin-top: 0;

        &:focus {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px)  {
  .navbar {
    width: 100%;
    ul.navbar-nav {
      float: none;
      margin-top: 40px;
    }
  }

  #search {
    margin-top: -100px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

header ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

ul {
	padding-left: 2rem;
}

.table-hover {
  tbody tr:hover {
    background: darken(white, 12%);
  }
}

.btn-download {
  margin-top: 1.5rem;
  margin-right: 0.8rem;
  border: none !important;
  background: #0F8243 !important;

  &:hover, &:active, &:focus {
    background: #0b5d30 !important;
  }
}

h5.download {
  font-weight: bold;
}

h5 + .btn-download {
  margin-top: 0.5rem;
}

@for $i from 1 through length($goal-colors) {
  $c: nth($goal-colors, $i);
  $dark-c: darken($c, 20%);
  .goal-#{$i} {
    &.heading {
      background-color: $c;
      border-bottom: 5px solid $dark-c;
    }
    &.goal-indicators {
      div {
        span {
          border-color: $dark-c;
          color: $dark-c;
        }
      }
    }
  }
  .goal-tiles #goal-#{$i} {
    &:hover {
      background-color: $c;
    }
  }
}

#skiplink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  padding: 10px;
  background: white;
  text-align: center;
  border: 1px solid black;
  color: black;
  display: block;
}

.heading {
  a {
    background: transparent;
    color: white;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1,
	h2,
  h3 {
    color: white;
  }
  h1 {
    margin-top: 12px;
		font-size: 2.2em;
    @media only screen and (max-width: 480px) {
      font-size: 0.938em;
    }
  }
  h2 {
    font-size: 1.5em;

    @media only screen and (min-width: 768px) {
      font-size: 1.8em;
    }

    @media only screen and (min-width: 992px) {
      font-size: 2.2em;
    }
  }
  h3 {
    @media only screen and (max-width: 480px) {
      font-size: 0.813em;
    }
  }

  &.indicator {
    h1 {
      font-size: 24px;

      @media only screen and (max-width: 480px) {
        font-size: 0.813em;
      }
    }
    h3 {
      font-size: 30px;

      @media only screen and (max-width: 480px) {
        font-size: 0.938em;
      }
    }
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

.danger {
  background-color: #E27874;
}
.warning {
  background-color: #f0ad4e;
}
.success {
  background-color: #5cb85c;
}

#main-content {
  font-family: 'Roboto', sans-serif;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;
  .collapsible {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    margin-bottom: 10px;
    h3 {
      font-size: 1.8rem;
      cursor: pointer;
      padding: 8px 12px;
      margin: 0;
      position: relative;
      span {
        position: absolute;
        top: 17px;
        right: 12px;
        background-repeat: no-repeat;
        background-position: top right;
        background-color: transparent;
        text-indent: -9999px;
      }
    }
    article {
      display: none;
      padding: 8px 12px;
    }
  }
  h4 {
    margin-bottom: 1.5rem;
  }

  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #indicatorData {
    &.no-series {

      #series-help {
        display: none;
      }

      &.no-units {
        // no units and no series, hide the column:
        > .col-md-3 {
          display: none;
        }
        > .col-md-9 {
          width: 100%;
        }
      }
    }
  }

  #toolbar {
    button {
      width: 100%;
      background-color: #fff;
      position: relative;
      border: 1px solid #ccc;
      text-align: left;
      padding: 10px 7px 14px 7px;
      font-size: 0.875em;
      font-family: 'Open Sans', sans-serif;
      margin-right: 8px;

      i {
        position: absolute;
        top: 11px;
        right: 6px;
        font-size: 1.063em;
      }

      &.disabled {
        color: #777;
        background: #ccc;
      }

    }

		.accessBtn {
			padding: 0px !important;
			border: none;
		}

    > p {
      font-size: 96%;
    }
  }

  #fields {

    @include noselect;

    padding-bottom: 14px;
    font-size: 0.75em;
    margin-top: 10px;

    label {
      background-color: #fff;
      padding: 7px;
      display: block;
      font-weight: normal;
      margin-bottom: 1px;
      cursor: pointer;
      position: relative;

      input {
        position: absolute;
        top: 7px;
        right: 6px;
      }
      &:hover {
        border-color: #acacac;
      }
      &.disabled {
        color: #888;
        cursor: not-allowed;
        &:hover {
          border-color: #ccc;
        }
      }
      &.possible {
        background-color: #dedede;
      }
      &.excluded {
        background-color: #666;
        color: white;

        & input {
          display: none;
        }
      }
    }

    h5 {
      padding-left: 7px;
      position: relative;
      padding-right: 33px;

      i {
        font-size: 0.875em;
        position: absolute;
        top: 0;
        right: 6px;
      }
    }

    .bar {
      height: 7px;
      border: 1px solid #dedede;
      margin: 2px;
      padding: 0;
      position: relative;

      > div {
        height: 5px;
        float: left;
      }
      .selected {
        background-color: #555;
      }

      .default {
        background-color: white;
      }

      .possible {
        background-color: #dedede;
      }

      .excluded {
        background-color: #666;
      }
    }

    .variable-selector {
      position: relative;
      cursor: pointer;
      width: 100%;
      border: 1px solid #ccc;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 10px;

      &:hover {
        border-color: #555;
      }

      .no-data-hint,
      .variable-hint {
        display: none;
        padding-left: 7px;
        color: #666;
      }

      .variable-options {
        background-color: white;
        display: none;
        position: static;
        z-index: 100;
        border-top: 0;
        right: -1px;
        left: -1px;
        overflow: auto;

        > div {
          text-align: left;
          padding: 4px;
        }

        button {
          width: auto;
          background-color: #fff;
          border: 1px solid #555;
          color: #000;
          float: none;
          position: static;
          text-align: center;
          width: 40%;
          margin: 0;
          font-size: 1.2em;
          padding: inherit;
          border-radius: 4px;

          &:hover {
            background: #f5f3f3;
          }
        }

        label {
          padding-left: 7px;
          padding-right: 25px;
          position: relative;
          font-size: 1.3em;

          &:not(:first-child) {
            border-top: 1px solid #cdcdcd;
          }

          input {
            position: absolute;
            top: 4px;
            right: 4px;
          }

          &:hover {
            background: #f5f3f3;
          }

          &[data-has-data="false"] {
            cursor: default;
            &:hover {
              background: white;
            }
            input {
              display: none;
            }
          }
        }
      }

      &.child {
        margin-left: 20px;
        width: calc(100% - 20px);
      }

      &[data-has-data="false"],
      &.disallowed {
        .bar {
          display: none;
        }

        .variable-options {
          > div {
            display: none;
          }

          input {
            display: none;
          }

          label {
            cursor: default;
            &:hover {
              background: white;
            }
          }
        }

        padding-bottom: 5px;
      }

      &[data-has-data="false"]:not(.disallowed) {
        .no-data-hint {
          display: block;
        }
      }
      &.disallowed {
        .variable-hint {
          display: block;
        }
      }
    }
  }
  #units {
    clear: left;

    label {
      font-family: 'Open Sans', sans-serif;
      font-weight: normal;
      border: 1px solid #ccc;
      padding: 10px;
      margin-right: 8px;
      cursor: pointer;
      width: 100%;
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #dataset-size-warning {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    vertical-align: middle;
    background: #FFCC0B;
    border-radius: 4px;
    padding: 5px;

    i {
      font-size: 1.2em;
    }
  }

  .plot-container {
    margin-bottom: 4.5rem;
    padding: 10px;
  }

  #chartSelectionDownload {
    // margin-top: -40px;
    margin-bottom: 10px;
    clear: left;
  }

  #legend {
    padding-left: 0;
    text-align: center;
    margin-top: -32px;
    li {
      font-size: 13px;
      list-style-type: none;
      display: inline-block;
      color: #666;
      line-height: 18px;
      cursor: pointer;
      padding: 5px;

      &:hover {
        background: #eee;
      }

      &.notshown {
        text-decoration: line-through;
      }
    }
    .swatch {
      display: inline-block;
      width: 45px;
      height: 15px;
      margin-right: 3px;

      &.dashed {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==');
        background-repeat: repeat;
        background-position: -5px 0;
      }
    }
    span {
      vertical-align: middle;
      line-height: 18px;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  canvas {
    @include noselect;
  }
  .no-gutters img {
    width: 100%;
    border: 1px solid transparent;
    padding: 2px;
    margin: 2px 2px 0 0;
  }
  &.goal-indicators {
    @include indicatorcards
  }
  .goal-indicators:after {
    content: "";
    display: table;
    clear: both;
  }
  .nav-tabs {
    .nav-item {
      background: none;
      border: none;
      a {
        border: none;
        padding-left: 5px;
        &:hover {
          background: none;
        }
      }
      &.active {
        a {
          border: none;
          border-bottom: 2px solid black;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      padding-top: 1.5rem;
      // th {
      //   width: 35%;
      // }
      #datatable {
        overflow-x: auto;
      }
    }
		h4 {
			margin-top: 2rem !important;
		}
  }

  #selectionsTable {
    div.dataTables_wrapper {
      overflow-x: auto;

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
    table {
      th {
        cursor: pointer;

        span.sort {
          background-position: center center;
          background-repeat: no-repeat;
          background-color: transparent;
          display: inline-block;
          width: 24px;
          height: 19px;
          margin-bottom: -3px;
        }

        &:hover {
          text-decoration: underline;
        }

        &.sorting_asc {
          span.sort { background-image: url(../img/sort_asc.png); }
        }
        &.sorting_desc {
          span.sort { background-image: url(../img/sort_desc.png); }
        }
      }
    }

    padding-bottom: 20px;

    .table-footer-text {
      p {
        font-size: 0.85em;
        margin: 0 0 5px;
      }
    }
  }

  /*
      MAP STUFF
  */

  #map {
    position: relative;
    width: 590px;
  }

  g.tick {
    line {
      stroke: rgb(0, 0, 0);
    }
    text {
      fill: rgb(0, 0, 0);
    }
  }

  line.track {
    stroke: rgb(0, 0, 0);
  }

  g.parameter-value {
    path {
      stroke: rgb(0, 0, 0);
    }
  }

  .background {
    fill: #e5f3ff;
    pointer-events: all;
  }

  .map-layer {
    fill: #fff;
    stroke: #aaa;
  }

  .tooltip {
    color: #222;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    padding: .2em;
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9;
    position: absolute;
    min-width: 180px;

    &.hidden {
      display: none;
    }

    h2 {
      font-size: 13px;
      margin: 4px 0;

    }

    table {
      width: 100%;
    }
  }
/*
  #zoom {
    position: absolute;
    top: 12px;
    right: 12px;

    a {
      background-color: white;
      border: none;
      text-indent: -9999px;
      float: left;
    }
  }

  #zoom-in, #zoom-out {
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(../img/zoom.png);
    display: block;
    width: 18px;
    height: 18px;
  }

  #zoom-in {
    background-position: 1px 1px;
  }

  #zoom-out {
    background-position: 1px -51px;
  }
*/
  #resetButton {
    position: absolute;
    top: 13px;
    right: 12px;
    background: #444;
    color: white;
    border: none;
    padding: 5px 10px;
    display: none;

    &:hover {
      background: #000;
    }

    i {
      font-size: 12px;
      margin-right: 4px;
    }
  }

  #key {
    display: block;
    margin-top: -5px;
  }

  #slider {
    position: absolute;
    top: 0;
  }

  #infoPanel {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.75);
    width: 590px;
    display: none;
    padding: 10px;
    color: white;

    h2 {
      margin: 0 0 20px 0;
      font-size: 20px;
    }

    table {
      width: 100%;
    }
  }

  /*
      /MAP STUFF
  */

  .statuses {

    strong {
      font-weight: normal;
    }
    > div {
      display: inline-block;

      margin-right: 10px;

      .status {
        display: inline-block;
        margin-right: 3px;
        padding: 2px 5px;
        border-radius: 4px;
        color: black;
        width: 40px;
        text-align: center;
      }
    }
  }
  .value {
    color: #333;
    font-weight: bold;
    margin-left: 3px;
  }
  .goal-stats {
    height: 10px;
    & span {
      display: inline-block;
      height: 10px;
      font-weight: bold;
    }
  }
  .divider {
    height: 15px;
  }
  .goal {
    clear: left;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
		h2 {
			font-size: 1.6em;
		}
  }
  .frame {
    width: 115px;
    float: left;
    min-height: 1px;
  }
  .details {
    width: calc(100% - 125px);
    float: left;
    h3 {
      margin-top: 10px;
      @media only screen and (max-width: 720px) {
        margin-top: 3px;
      }
      @media only screen and (max-width: 520px) {
        margin-bottom: 3px;
      }
      line-height: 24px;

      .total {
        line-height: 24px;
        vertical-align: middle;
        font-size: 0.65em;
        width: 110px;
        text-align: center;
        display: inline-block;
        margin-left: 10px;
        margin-top: -2px;
        border-radius: 4px;
        border: 1px solid #ccc;
      }
    }
  }
  .goal-overall {
    margin-bottom: 20px;

    .details {
      width: 100%;
    }
  }

  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: lighten($dark-highlight, 10%);
    font-size: 3rem;
    padding: 0.5rem 1.0rem;
    &:hover, &:focus {
      background: $dark-highlight;
    }
  }
  .fa-info {
    margin-right: 5px;
  }
  .alert {
    color: black;
  }
  .alert a {
    display: inline;
    color: inherit;
    padding: 0;
  }

  h2:first-child {
    // margin-top: 0;
    margin-bottom: 14px;
  }
}

footer {
  clear: left;
  background-color: #414042;
  color: $footer-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  img {
    float: left;
    margin-right: 12px;
    margin-top: 3px;
  }
  .row {
    padding: 15px 0;

    @media only screen and (max-width: 767px) {
      padding: 5px 0;
    }
  }
  a {
    color: $footer-color;
    text-decoration: underline;
    &:hover, &:focus {
      color: lighten($footer-color, 20%);
    }
  }
}

.post-categories {
  margin: 3px 0;
}

.post-title {
  margin-top: 0;
}

.newslist{
  article {
    p {
      margin: 0;

      &:first {
        font-size: 90%;
      }
    }

    h5 {
      margin: 3px 0;
      font-size: 120%;
    }

    time {
      margin: 0;
    }

    margin-bottom: 20px;
  }
}

#page-content {

  border-top: 1px solid #faebcc;
  border-bottom: 1px solid #faebcc;
  padding-top: 10px;

  table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: $footer-color;
    border-width: 1px;
  }

  td, th {
    padding-right: 5px;
    padding-left: 5px;
  }

  thead {
    padding-bottom: 10px;
    border-bottom: 1pt solid $footer-color;
  }
}

.js {
  #headlineTable {
    display: none;
  }
}

.no-js {
  #indicatorData {
    > .col-md-3 {
      display: none;
    }
    > .col-md-9 {
      width: 100%;
    }
  }
  .data-view {
    display: none;
  }
  .plot-container {
    display: none;
  }
  .tab-pane {
    display: block!important;
  }
  #main-content {
    .collapsible {
      border: 0;
      &:first-child {
        border: none;
      }
      article {
        display: block;
        padding: 8px 0;
      }
      h3 {
        padding: 0;
        cursor: default;

      }
      h3 span {
        display: none;
      }
    }
  }
}

.roleHeader {
	cursor: pointer;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.language-ar {
  direction: rtl;
}
.language-options {
  display: none;
  position: absolute;
  z-index: 999;
  left: 12px;
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: .2em 1em .2em .2em;
  text-shadow: #f5f5f5 0 1px 0;
  li {
    padding: 5px;
    padding-left: 0;
  }
}

.language-toggle-button {
  cursor: pointer;
}
.navbar ul.navbar-nav li a.language-toggle-button {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}
.language-toggle-mobile {
  position: relative;
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  .language-options {
    left: -36px;
    li {
      padding-left: 5px;
    }
  }
  a {
    text-transform: uppercase;
    .language-toggle-text {
      display: none;
    }
    .language-toggle {
      display: none !important;
    }
    .fa-globe {
      font-size: 2em;
    }
  }
}
.contrast-high {
  .language-toggle-mobile, ul.navbar-nav {
    .language-options a {
      color: black;
      &:hover {
        color: black;
      }
    }
  }
}

#accessibility-nav {
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  text-align: right;
  li {
    display: inline-block;
    list-style: none;
    &.contrast {
      font-size: 1.3em;
      font-weight: bold;
      border-radius: 50%;
      width: 25px;
      max-height: 25px;
      text-align: center;
      margin: 0.25em;
      margin-top: 0.1em;
      a {
        margin: auto;
        text-decoration: none;
      }
    }

    &.contrast-default {
      display: none;
      background: white;
      a {
        color: black;
      }
    }

    &.contrast-high {
      display: block;
      background: black;
      a {
        color: yellow;
      }
    }
  }
}


/* example stuff */
body.contrast-high {

  #accessibility-nav {
    li {
      &.contrast-default {
        display: block;
      }

      &.contrast-high {
        display: none;
      }
    }
  }

  background-color: black;
  .table {
    background: black;
  }

  .btn { background: white !important; color: black !important;
    &:hover {
      background: yellow !important;
    }
    &:focus {
      background: yellow !important;
    }
  }

  div#units {
    color: white;
  }

  .nav-tabs { border-color: yellow; }

  #main-content #fields .bar .selected { background-color: white; }

  #main-content #fields .variable-selector .variable-hint { color: white; }

  #main-content .nav-tabs .nav-item.active a { background: yellow; color: black; border-color: yellow; }

  a.nav-link:focus { background: white; color: black; }

  caption {
    color: white;
  }

  .table-hover {
    tbody tr:hover {
      background: yellow;
      td {
        color: black;
      }
    }
  }



  .container, #main-content, header, footer, #disclaimer, .heading {
    background: black;
    border-color: black;
  }

  p, h2, h3, h4, span, td, th, a#text {
    color: white;
  }

  h1, li, a {
    color: yellow;
  }

  li.contrast-default a {
    color: black !important;
  }

  .navbar {
    li {
      a {
        color: white;
        &:hover, &:focus {
          color: yellow;
        }
      }
    }
    li.active {
      a {
        color: yellow;
        border-color: yellow;
        &:hover {
          color: yellow;
        }
        &:focus {
          color: yellow;
        }
      }
    }
  }

  .goal-indicators {
    div {
      span {
        border-color: white !important;
        color: white !important;
      }
    }
    .indicator-cards {
      a {
        color: white !important;
      }
      span.status {
        color: black !important;
      }
    }
  }

  #main-content #fields label {
    background: black;
    color: white;
    &:hover {
      background: white;
      color: black;
    }
    &:focus {
      background: white;
      color: black;
    }
  }

  #toolbar {
    button {
      background-color: black !important;
      border-color: white;
      color: white;
    }
  }

  .danger {
    background-color: red;
  }
  .warning {
    background-color: yellow;
  }
  .success {
    background-color: green;
  }

  .statuses {
    strong {
      color: white;
    }
    .value {
      color: white !important;
    }
  }

  .variable-options {
    background: black;
    color: white;
    div {
      background: black;
      color: white; }
      button {
        background: black;
        color: white !important;
        border-color: white; }
      }

      .breadcrumb {
        background: white;
        a {
          color: black !important;
        }
      }

      span.match {
        color: black !important;
      }

      @media screen and (max-width: 768px) {
        .navbar.navbar-default {
          background: black;
          color: white;
        }
        .navbar .top-level li.active {
          background: white;
          span {
            color: black;
          }
        }
        .navbar .menu-target {
          background: black;
        }
        .navbar ul.navbar-nav li a {
          background: black;
        }
      }

    }
