#architecture {
  padding: 20px;
  width: 100%;
  height: 900px;
  border: 1px solid gray;
}

.container {
  position: relative;
}

.local {
  background-color: #2980B9;
  color: white;
  border: 1px solid transparent;
  border-radius: 20px;
}
.global {
  background-color: #ffff7f;
  border: 1px solid black;
  border-radius: 0px;
}
.service {
  background-color: #27AE60;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
}

#legend {
  position: absolute;
  top: 30px;
  left: 36%;
  font-size: small;
  width: 230px;
}
#legend .swatch {
  padding: 4px;
  box-shadow: 2px 2px 4px #666;
  margin-right: 4px;
}
#legend .local {
  border-radius: 8px;
}
#legend .service {
  border-radius: 3px;
}
#legend li {
  list-style-type: none;
  margin: 0 0 10px 0;
}

.node {
  padding: 25px;
  position: absolute;
  box-shadow: 2px 2px 4px #666;
}
.node.connector-tooltip {
  border: none;
  padding: 0;
  height: 20px;
  box-shadow: none;
}
.node.connector-tooltip i {
  background: white;
}

.node .info {
  display: none;
}

.node i {
  margin: 0 5px;
  font-size: large;
}

.site-column {
  left: 10px;
}

.data-column {
  right: 10px;
}

.row1 {
  top: 10px;
}

.row2 {
  top: 160px;
}

.row3 {
  top: 310px;
}

.row4 {
  top: 460px;
}

.row5 {
  top: 610px;
}

.row6 {
  top: 760px;
}

#sdg-translations {
  left: 180px;
}

.logos {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 auto;
  left: 50%;
}
.logo-container {
  left: -50%;
  position: relative;
}

.logos img {
  max-width: 40px;
  height: auto;
  float: left;
  margin: 0 10px;
  opacity: 0.4;
}

.connector-tooltip { z-index: 3; }
.jtk-connector { z-index:4; }
.jtk-endpoint { z-index:5; }
.jtk-overlay { z-index:6; }
.tooltip { z-index:7; }

/* Desktop optimizations */
@media only screen and (min-width: 650px) and (max-width: 768px),
       only screen and (min-width: 1000px) {

  .logos {
    display: block;
    padding-top: 20px;
  }
}

/* Popperjs tooltip styles */
.tooltip {
  position: absolute;
}
.inner {
  background: #ffd2e8;
  color: black;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 99999;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: #FFC107;
}
.tooltip[x-placement^="top"] {
  margin-bottom: -10px;
}
.tooltip[x-placement^="top"] .inner {
  margin-bottom: 15px;
}
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^="bottom"] {
  margin-top: -10px;
}
.tooltip[x-placement^="bottom"] .inner {
  margin-top: 15px;
}
.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip a:visited, .tooltip a {
  color: black;
  text-decoration: underline;
}
