<div class="col-sm-6 col-md-4">
    <div class="card">
    <div class="card-body">

    {% if include.card.title and include.card.title != '' %}
    <h2 class="card-title"
        {% if include.card.rule_color %}
        style="border-color: {{ include.card.rule_color }};"
        {% endif %}
    >{{ include.card.title | t }}</h2>
    {% endif %}
  
    {% if include.card.content and include.card.content != '' %}
    <div class="card-text">{{ include.card.content | t | markdownify }}</div>
    {% endif %}
  
    {% if include.card.include and include.card.include != '' %}
      {% include {{ include.card.include }} %}
    {% endif %}
  
    {% if include.card.button_label and include.card.button_label != '' %}
    {% assign button_href = include.card.button_link %}
    {% assign href_start = button_href | slice: 0, 4 %}
    {% if href_start != 'http' %}
      {%- assign href_first = button_href | slice: 0 %}
      {%- if href_first == '/' -%}
        {%- assign button_href = button_href | slice: 1, button_href.size -%}
      {%- endif -%}
      {% assign button_href = page.baseurl | append: button_href %}
    {% endif %}
    <a class="btn btn-primary btn-download" href="{{ button_href }}">
      {{ include.card.button_label }}
    </a>
    {% endif %}

    </div>
  
  </div>
  
  </div>