{% assign slug = page.Indicator.number | slugify %}
{% assign sdg_headline_data = site.data.headlines[slug] %}

<div id="headlineTable">

  <div id="datatables">

    <a href="{{ site.remotedatabaseurl }}/headline/{{ slug }}.csv" class="btn btn-primary btn-download" download="indicator_{{ slug }}.csv" tabindex="0" role="button">{{ t.indicator.download_headline }}</a>

    <a href="{{ site.remotedatabaseurl }}/data/{{ slug }}.csv" class="btn btn-primary btn-download" style='float:left;margin-right:1em' download='indicator_{{ slug }}.csv' tabindex='0' role='button'>{{ t.indicator.download_source }}</a>

    <h3>Headline data</h3>
    <table class="table-responsive table table-hover dataTable no-footer" role="grid">
      <caption>{{ page.Indicator.graph_title }}</caption>
      <thead>
        {% for column in sdg_headline_data[0] %}
        {% if forloop.last %}
        <th scope="col" class="table-value">{{ column[0] | t }}</th>
        {% else %}
        <th scope="col">{{ column[0] | t }}</th>
        {% endif %}
        {% endfor %}
      </thead>
      <tbody>
        {% for row in sdg_headline_data %}
        <tr>
          {% for cell in row %}
          {% if forloop.last %}
          <td class="table-value">{{ cell[1] }}</td>
          {% else %}
          <td>{{ cell[1] }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="datatableFooter">
    {% if page.Indicator.source_organisation_1 %}
    <p>{{ t.indicator.source }}: {{ page.Indicator.source_organisation_1 }}</p>
    {% endif %}
    {% if page.Indicator.national_geographical_coverage %}
    <p>{{ t.indicator.geographical_area }}: {{ page.Indicator.national_geographical_coverage }}</p>
    {% endif %}
    {% if page.Indicator.computation_units %}
    <p>{{ t.indicator.unit_of_measurement }}: {{ page.Indicator.computation_units }}</p>
    {% endif %}
    {% if page.Indicator.data_footnote %}
    <p>{{ t.indicator.footnote }}: {{ page.Indicator.data_footnote }}</p>
    {% endif %}
  </div>

</div>
