{% assign language_toggle_setting = 'header_language_toggle' %}
{% assign language_toggle_location = 'header' %}
{% if include.location == 'footer' %}
  {% assign language_toggle_setting = 'footer_language_toggle' %}
  {% assign language_toggle_location = 'footer' %}
{% endif %}
{% assign language_toggle_type = site[language_toggle_setting] | default: 'dropdown' %}

{% if language_toggle_type == 'dropdown' %}
  {% include components/language-toggle-dropdown.html location=language_toggle_location %}
{% elsif language_toggle_type == 'links' %}
  {% include components/language-toggle-links.html location=language_toggle_location %}
{% endif %}
