<ul class="language-toggle-links">
{%- for language in site.languages -%}
  {%- if language != page.language -%}
  <li>
    <a class="language-toggle-link" href="{{ page.url_by_language[language] }}">
      <span class="language-name">{{ page.t.languages[language] }}</span>
      <span class="language-abbreviation">{{ language }}</span>
    </a>
  </li>
  {%- elsif site.languages.size > 2 -%}
  <li>
    <span class="language-toggle-active-language">
      <span class="language-name">{{ page.t.languages[language] }}</span>
      <span class="language-abbreviation">{{ language }}</span>
    </span>
  </li>
  {%- endif -%}
{%- endfor -%}
</ul>
