<a class="language-toggle-button" onclick="$(this).find('.language-toggle').toggle(); $(this).next('.language-toggle').toggle(); return false;">
  <i class="fa fa-globe"></i>
  <span class="language-toggle-text">{{ page.t.languages[page.language] }}</span>
  <i class="language-toggle fa fa-chevron-down" {% if include.location == 'footer' %}style="display:none;"{% endif %}></i>
  <i class="language-toggle fa fa-chevron-up" {% if include.location == 'header' %}style="display:none;"{% endif %}></i>
</a>

<ul class="language-options language-toggle">
{%- for language in site.languages -%}
  {%- if language != page.language -%}
    <li><a href="{{ page.url_by_language[language] }}">{{ page.t.languages[language] }}</a></li>
  {%- endif -%}
{%- endfor -%}
</ul>
