<table class="table table-hover">
  {% for indicator_metadata in site.data.schema %}
    {%- if t.metadata_fields[indicator_metadata.name] -%}
      {%- assign metadata_label = t.metadata_fields[indicator_metadata.name] -%}
    {%- else -%}
      {%- assign metadata_label = indicator_metadata.field.label -%}
    {%- endif -%}
    {% if indicator_metadata.field.scope == include.scope %}
      {% unless indicator_metadata.name contains "_url_text" or indicator_metadata.name contains "_link_text" %}
      <tr>
        <th scope="row">{{ metadata_label }} </th>
        <td>
          {% if indicator_metadata.name contains "_url" or indicator_metadata.name contains "_link" %}
            {% assign url_text_name = indicator_metadata.name | replace_first:'_url','_url_text'  %}
            {% assign url_text_name = url_text_name | replace_first:'_link','_link_text'  %}
            {% assign url_text = meta[url_text_name] %}
            {% unless url_text %}
              {% assign url_text = 'Link' %}
            {% endunless %}

            {% if meta[indicator_metadata.name] contains "http" or meta[indicator_metadata.name] contains "mailto" %}
              <a href="{{ meta[indicator_metadata.name] }}" target="_blank">
                {{ url_text }} <span class="visuallyhidden">{{ t.general.opens_new_window }}</span>
              </a>
            {% endif %}

          {% else %}
            {{ meta[indicator_metadata.name] }}
          {% endif %}
        </td>
        </tr>
        {% endunless %}
      {% endif %}
  {% endfor %}
</table>
