.layout-config-builder {
    .config-widgets {
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        padding: 20px;
        #button_holder {
            text-align: right;
            button {
                margin-top: 0;
            }
        }
    }
    .well {
        background: none;
        padding: 0;
        border: none;
    }
    div[data-schemapath="root"] > .well > div > div > .row {
        margin-bottom: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        background-color: #f5f5f5;
    }
    div[data-schemapath="root"] > .well > div > div > .row > div[data-schematype] > div > label {
        font-size: $fontSize-medium;
        font-weight: 700;
    }
    div[data-schemapath="root"] > .well > div > div > .row > div[data-schematype] > div a {
        margin-top: 15px;
        display: block;
        margin-bottom: 15px;
    }
    div[data-schemapath="root"] > .je-header {
        display: none !important;
    }
    .help-block {
        color: $text-color;
    }
    #no_results {
        background-color: $color-warning;
        padding: 20px;
        margin: 20px;
    }
    .errormsg {
        color: $color-error;
        font-weight: bold;
    }
    .config-required {
        color: $color-error;
    }
    .translation-link {
        margin-top: 0;
        margin-bottom: 20px;
    }
    &.contrast-high {
        .config-widgets {
            background-color: $color-dark-highContrast;
        }
        div[data-schemapath="root"] > .well > div > div > .row {
            background-color: $color-dark-highContrast;
        }
        .help-block {
            color: $text-color-highContrast;
        }
        #no_results {
            background-color: $color-highlight-highContrast;
            color: $color-dark-highContrast;
        }
        .errormsg {
            color: $color-error;
        }
        .config-required {
            color: $color-error;
        }
        .editor-toolbar {
            background-color: $color-light-highContrast;
            opacity: 1;
            border-bottom: 2px solid $color-dark-highContrast;
        }
        .btn-group {
            .btn {
                span {
                    color: $color-dark-highContrast;
                }
            }
        }
    }
}
