.layout-config-builder-2 {

    .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
        border-top: 5px solid rgb(25, 118, 210);
        padding-top: 20px;
        margin-top: 20px;
        &:first-child {
            margin-top: -0.5em;
        }
        .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
            border-top: none;
        }
    }

    .MuiButton-root,
    .MuiTab-root,
    .MuiTypography-root,
    .MuiFormLabel-root {
        font-family: $fontFamily;
    }

    .MuiButton-root {
        @include button;
        @include buttonDownload;
        text-transform: capitalize;
    }

    .MuiTab-root {
        text-transform: capitalize;
    }

    .MuiAppBar-root {
        background-color: #eee;
        color: $text-color;
    }

    .MuiInput-input:not([role="combobox"]) {
        border: 1px solid $color-medium-highContrast;
        padding: 5px;
    }

    .MuiTabs-scroller {
        padding-left: 10px;
        padding-right: 10px;
    }

    .MuiGrid-spacing-xs-2 {
        justify-content: space-between;
        > .MuiGrid-item:first-child {
            max-width: 100%;
        }
        > .MuiGrid-itm:last-child {
            max-width: 50%;
            .MuiListItem-root {
                .MuiListItemText-root {
                    min-width: fit-content;
                }
            }
            .MuiListItemSecondaryAction-root {
                right: -50px;
            }
        }
    }
}

body.contrast-high.layout-config-builder-2 {
    .config-widgets {
        background-color: $color-dark-highContrast;
    }
    .config-repository-button {
        span {
            color: $color-dark-highContrast;
        }
    }
    .MuiButton-root {
        @include buttonHighContrast;
        @include buttonDownloadHighContrast;
    }
    .MuiInputLabel-root {
        color: $color-light-highContrast;
    }
    input {
        background-color: $color-light-highContrast;
    }
    .MuiAccordionSummary-root, .MuiAccordionSummary-root:focus {
        color: $color-dark-highContrast !important;
        background-color: $color-light-highContrast !important;
        .MuiAccordionSummary-content {
            .MuiTypography-root {
                color: $color-dark-highContrast;
                background-color: $color-light-highContrast;
            }
        }
    }
    .MuiAccordionDetails-root {
        p, h1, h2, h3, h4, h5, h6, span, td, th, li, & {
            color: $color-dark-highContrast;
            background-color: $color-light-highContrast;
        }
    }
}
