.layout-config-builder-2 {

    .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
        border-top: 5px solid rgb(25, 118, 210);
        padding-top: 20px;
        margin-top: 20px;
        &:first-child {
            margin-top: -0.5em;
        }
        .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
            border-top: none;
        }
    }

    .MuiButton-root,
    .MuiTab-root,
    .MuiTypography-root,
    .MuiFormLabel-root {
        font-family: $fontFamily;
    }

    .MuiButton-root {
        @include button;
        @include buttonDownload;
        text-transform: capitalize;
    }

    .MuiTab-root {
        text-transform: capitalize;
    }

    .MuiAppBar-root {
        background-color: #eee;
        color: $text-color;
    }

    .MuiInput-input:not([role="combobox"]) {
        border: 1px solid $color-medium-highContrast;
        padding: 5px;
    }

    .MuiTabs-scroller {
        padding-left: 10px;
        padding-right: 10px;
    }

    .MuiGrid-spacing-xs-2 {
        justify-content: space-between;
        > .MuiGrid-item:first-child {
            max-width: 100%;
        }
        > .MuiGrid-itm:last-child {
            max-width: 50%;
            .MuiListItem-root {
                .MuiListItemText-root {
                    min-width: fit-content;
                }
            }
            .MuiListItemSecondaryAction-root {
                right: -50px;
            }
        }
    }
}

body.contrast-high.layout-config-builder-2 {
    .config-widgets {
        background-color: $color-dark-highContrast;
    }
    .config-repository-button {
        span {
            color: $color-dark-highContrast;
        }
    }
    .MuiInputBase-root {
        textarea {
            background-color: $color-light-highContrast;
        }
    }
    .MuiIconButton-root {
        background-color: $color-light-highContrast;
        color: $color-dark-highContrast;
    }
    .MuiToolbar-root {
        .MuiIconButton-root {
            background-color: $color-light-highContrast;
        }
    }
    .MuiButton-root {
        @include buttonHighContrast;
        @include buttonDownloadHighContrast;
    }
    .MuiInputLabel-root {
        color: $color-light-highContrast;
    }
    .MuiInputLabel-animated {
        color: $color-dark-highContrast;
        background-color: $color-light-highContrast;
        z-index: 999;
    }
    .MuiAutocomplete-popper {
        .MuiPaper-root {
            .MuiAutocomplete-listbox {
                .MuiAutocomplete-option {
                    color: $color-dark-highContrast;
                }
            }
        }
    }
    input {
        background-color: $color-light-highContrast;
    }
    .MuiAccordionSummary-root, .MuiAccordionSummary-root:focus {
        color: $color-dark-highContrast !important;
        background-color: $color-light-highContrast !important;
        .MuiAccordionSummary-content {
            .MuiTypography-root, span {
                color: $color-dark-highContrast;
                background-color: $color-light-highContrast;
            }
        }
    }
    .MuiAccordionSummary-content {
        .MuiIconButton-root {
            background-color: $color-dark-highContrast;
            color: $color-light-highContrast !important;
            .MuiSvgIcon-root {
                z-index: 999;
                background-color: $color-dark-highContrast;
            }
            .MuiTouchRipple-root {
                background-color: $color-dark-highContrast !important;
            }
            &:focus {
                .MuiSvgIcon-root {
                    background-color: $color-highlight-highContrast;
                    color: $color-dark-highContrast;
                }
                .MuiTouchRipple-root {
                    background-color: $color-highlight-highContrast !important;
                }
            }
        }
    }
    .MuiCollapse-root {
        background-color: $color-dark-highContrast;
    }
    .MuiTableHead-root {
        .MuiIconButton-root {
            background-color: $color-light-highContrast;
        }
    }
    .docs-content {
        padding: 5px;
        p, h1, h2, h3, h4, h5, h6, span, td, th, li, & {
            color: $color-dark-highContrast;
            background-color: $color-light-highContrast;
        }
        
    }
    .MuiCard-root {
        background-color: $color-dark-highContrast;
    }
    .MuiSwitch-track {
        background-color: $color-medium-highContrast;
    }
    .MuiSwitch-switchBase {
        &.Mui-checked {
            .MuiSwitch-thumb {
                background-color: $color-highlight-highContrast;
            }
        }
    }
    .MuiDialog-container {
        .MuiPaper-root {
            background-color: $color-dark-highContrast;
            border: 1px solid $color-light-highContrast;
        }
    }
    .Mui-error {
        color: $color-danger-highContrast;
    }
    .MuiFormHelperText-root.Mui-error {
        background-color: $color-light-highContrast;
        margin-bottom: 10px;
    }
}
