.layout-config-builder {
    .config-widgets {
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        padding: 20px;
        #button_holder {
            text-align: right;
            button {
                margin-top: 0;
            }
        }
    }
    .well {
        background: none;
        padding: 0;
        border: none;
    }
    div[data-schemapath="root"] > .well > div > div > .row {
        margin-bottom: 30px;
        padding-bottom: 5px;
        padding-top: 10px;
        background-color: #f5f5f5;
    }
    div[data-schemapath="root"] > .well > div > div > .row > div[data-schematype] > div > label {
        font-size: 24px;
        font-weight: 700;
    }
    div[data-schemapath="root"] > .well > div > div > .row > div[data-schematype] > div a {
        margin-top: 15px;
        display: inline-block;
    }
    div[data-schemapath="root"] > h3 {
        display: none !important;
    }
    .help-block {
        color: $text-color;
    }
    #no_results {
        background-color: $color-warning;
        padding: 20px;
        margin: 20px;
    }
    .errormsg {
        color: $color-error;
        font-weight: bold;
    }
}
