.layout-config-builder {

    .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
        border-top: 5px solid rgb(25, 118, 210);
        padding-top: 20px;
        margin-top: 20px;
        &:first-child {
            margin-top: -0.5em;
        }
        .MuiGrid-container > .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-true:not(:empty) {
            border-top: none;
        }
    }

    .MuiButton-root,
    .MuiTab-root,
    .MuiTypography-root,
    .MuiFormLabel-root {
        font-family: $fontFamily;
    }

    .MuiButton-root {
        @include button;
        @include buttonDownload;
        text-transform: capitalize;
    }

    .MuiTab-root {
        text-transform: capitalize;
    }

    .MuiAppBar-root {
        background-color: transparent;
        color: $text-color;
    }

    .MuiInput-input {
        border: 1px solid $color-medium-highContrast;
        padding: 5px;
    }
}

body.contrast-high.layout-config-builder {
    .config-widgets {
        background-color: $color-dark-highContrast;
    }
    .config-repository-button {
        span {
            color: $color-dark-highContrast;
        }
    }
    .MuiButton-root {
        @include buttonHighContrast;
        @include buttonDownloadHighContrast;
    }
}
