.layout-data-editor {
    .editor-wrapper {
        margin-top: 20px;
    }
    .config-widgets {
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        padding: 20px;
        .data-download-buttons {
            .config-download-button {
                margin-top: 0;
            }
            .config-repository-button {
                margin-left: 10px;
            }
            margin-top: 10px;
            @media only screen and (min-width: 768px) {
                margin-top: 0;
                text-align: right;
            }
        }
        .data-grid-buttons {
            label, #add-column-name {
                float: left;
                margin-right: 10px;
            }
            #add-column {
                margin-top: 0;
            }
        }
    }
}
