.layout-data-editor {
    .editor-wrapper {
        margin-top: 20px;
    }
    .config-widgets {
        margin-top: 30px;
        margin-bottom: 10px;
        background-color: #f5f5f5;
        padding: 20px;
        .data-download-buttons {
            text-align: right;
            button {
                margin-top: 0;
            }
        }
        .data-grid-buttons {
            label, #add-column-name {
                float: left;
                margin-right: 10px;
            }
            #add-column {
                margin-top: 0;
            }
        }
    }
}
