footer {
  clear: left;
  color: $footer-text-color;
  background-color: $footer-text-backgroundColor;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  img {
    float: left;
    margin-right: 12px;
    margin-top: 3px;
  }
  .row {
    padding: 15px 0;

    @media only screen and (max-width: 767px) {
      padding: 5px 0;
    }
  }

  #footerLinks > ul {
    padding-left: 0;
    > li {
      display: inline-block;
      margin: 3px 9px;
      &:first-child {
        margin-left: 0px;
      }
    }
  }
}
