// @deprecated start
.layout-goal-by-target {
  .indicator-cards.target {
    @media screen and (max-width: 768px) {
      padding-top: 20px;
    }
  }
}
// @deprecated end

.layout-goal-by-target {
  #page-content {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .tags {
    margin-top: 10px;
    display: inline-block;
  }
}
