.layout-goal, .layout-goal-by-target, .layout-goal-by-target-vertical {
  #page-content {
    margin-top: -20px;
    margin-bottom: 10px;
  }
}

.layout-goal {
  .tags {
    margin-top: 0;
    margin-left: 10px;
  }
}

body.contrast-high {
  .goal-indicators {
    div {
      span {
        border-color: $color-light-highContrast !important;
        color: $color-light-highContrast !important;
      }
    }
    .indicator-cards {
      &.target {
        color: $color-light-highContrast !important;
      }
      span.status, .tags li{
        color: $color-dark-highContrast !important;
      }

      span.status{
        &.complete,
        &.notapplicable{
          color: $color-dark-highContrast !important;
        }

        &.notstarted,
        &.inprogress{
          color: $color-dark-highContrast !important;
        }
      }

      span.status.notstarted{
        color: $color-light-highContrast !important;
        border: 1px solid $color-light-highContrast !important;
      }
    }
  }
  #main-content.goal-indicators.goal-by-target .indicator-cards a{
    color: $color-highlight-highContrast;
  }
}
