$goal-by-target-indentation: 60px;

.layout-goal-with-progress {
  #page-content {
    margin-top: -20px;
    margin-bottom: 10px;
  }
  .goal-target, .goal-indicator {
    font-size: 16px;
    font-weight: normal;
    clear: both;
    display: inline-block;
  }
  #main-content .goal-indicator h4 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .goal-target-and-indicators {
    margin-bottom: 20px;
    &::after {
      height: 1px;
      width: calc(100% - #{$goal-by-target-indentation});
      border-bottom: 1px solid $goalTarget-horizontalRule-color;
      margin-left: $goal-by-target-indentation;
      margin-top: 20px;
    }
  }

  .goal-indicator {
    margin-top: 10px;
    .goal-with-progress-left, .goal-with-progress-right {
      clear: both;
    }
    @media screen and (min-width: 769px) {
      margin-left: $goal-by-target-indentation;
      position: relative;
      width: calc(100% - #{$goal-by-target-indentation});
      .goal-with-progress-left {
        float: left;
        clear: none;
        width: 80%;
      }
      .goal-with-progress-right {
        float: right;
        clear: none;
        width: 20%;
      }
      .progress-status {
        margin-top: 0;
      }
    }
    @media screen and (min-width: 992px) {
      min-height: auto;
      .status {
        width: auto;
      }
    }
  }

  .target-number, .target-name, .indicator-number, .indicator-name {
    display: block;
  }

  .target-number, .indicator-number {
    margin-top: 3px;
  }

  .target-name {
    margin-bottom: 10px;
  }

  .indicator-number {
    font-size: 16px;
  }

  .goal-target, .goal-indicator h4 {
    clear: left;
    float: left;
    margin-top: 0;
  }

  .target-name, .indicator-name {
    margin-left: $goal-by-target-indentation;
    box-decoration-break: clone;
  }

  .status {
    display: block;
    float: left;
    clear: left;
    @include status;
    margin-top: 10px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 1px;
  }

  .tags {
    display: inline-block;
    clear: left;
    @include tags;
    .tag {
      display: block;
      float: left;
      margin-top: 10px;
      padding: 1px 3px;
    }
  }

  .progress-status {
      margin-top: 10px;
      margin-bottom: 10px;
      @media screen and (min-width: 769px) {
        margin-bottom: 0;
      }
  }

  .tags, .progress-status {
    margin-left: $goal-by-target-indentation;
  }

  .progress-status {
    @media screen and (min-width: 769px) {
      margin-left: 20px;
    }
  }

  &.contrast-high {
    .status {
      @include statusHighContrast;
    }
  }
}
