body.contrast-high {
  .goal-indicators {
    div {
      span {
        border-color: white !important;
        color: white !important;
      }
    }
    .indicator-cards {
      &.target {
        color: white !important;
      }
      span.status, .tags li{
        color: #044b88 !important;
      }

      span.status{
        &.complete,
        &.notapplicable{
          color: black !important;
        }

        &.notstarted,
        &.inprogress{
          color: white !important;
        }
      }

      span.status.notstarted{
        color: white !important;
        border: 1px solid white !important;
      }
    }
  }
  #main-content.goal-indicators.goal-by-target .indicator-cards a{
    color: yellow;
  }
}
