body{
  background: $backgroundColor url('../img/sdgbg.png') top left repeat-x;
  padding-top: 15px;
}

#skiplink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  padding: 10px;
  background: $backgroundColor;
  text-align: center;
  border: 1px solid $color-dark;
  color: $color-dark;
  display: block;
}

header {
  .container {
    padding-top: 20px;
    min-height: 113px;
    .navbar-default {
      border: none;
    }
  }
}

.mobile-widgets {
  display: none;
}
@media screen and (max-width: 768px) {
  .logo-and-mobile-widgets {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    position: relative;
    .mobile-widgets {
      display: block;
      position: absolute;
      bottom: 10px;
      right: 5px;
    }
  }
}

.navbar-brand {
  display: block;
  width: 75%;
  max-width: 350px;
  padding: 15px;
  height: auto;
  &:focus {
    background-color: transparent !important;
    outline: 7px solid $focusOutlineColor !important;
  }
  @media screen and (min-width: 769px) {
    padding: 5px 15px 15px 0;
  }
  img {
    width: 100%;
  }
}
body.contrast-high {
  .navbar-brand {
    &:focus {
      background-color: transparent !important;
      outline: 7px solid $focusOutlineColor !important;
    }
  }
}

.navbar {

  margin-bottom: 32px;

  ul.navbar-nav {
    float: right;
    margin-top: 12px;
    clear: both;

    > li {
      > a {
        padding: 2px;
        margin: 2px 15px;
        color: $menu-link-color;
        font-size: 16px;

      }

      &.active > a {
        border-bottom: 2px solid $text-color;
        background: transparent;
        color: $text-color;

        &:hover {
          background: transparent;
        }
      }

      > a:last-child {
        margin-right: 0;
      }

      &.contrast {
        @media only screen and (max-width: 768px) {
          display: none;
        }
        font-size: 1.3em;
        font-weight: bold;
        border-radius: 50%;
        width: 25px;
        max-height: 25px;
        text-align: center;
        margin-left: 0.5em;
        margin-top: 4px;
        a {
          margin: auto;
          text-decoration: none;
        }
      }

      &.contrast-default {
        @include preserveOriginalColors;
        background: $color-light-highContrast;
        a {
          color: $color-dark-highContrast;
        }
      }

      &.contrast-high {
        @include preserveOriginalColors;
        background: $color-dark-highContrast;
        a {
          color: $color-highlight-highContrast;
        }
      }

    }
    @media screen and (min-width: 769px) {
      > li:first-child {
        a {
          margin-left: 0;
        }
      }
    }
  }

  &.navbar-default {
    background: transparent;
    border: none;
    float: right;
  }

  .top-level {
    display: none;
  }
}

.table {
  .table-value {
    text-align: right;
  }
}

#search, #search-mobile {
  @include searchBar;
}

@media only screen and (max-width: 768px) {

  header .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar {
    clear: left;

    &.navbar-default {
      color: $menu-link-color-mobile;
      background: $menu-link-backgroundColor-mobile;
      margin-bottom: 10px;
      width: 100%;
      float: none;
    }

    .top-level {
      display: block;
      font-size: 1em;
      @include noselect;

      > li {
        float: left;
        width: 50%;
        cursor: pointer;

        &.active {
          background: $menu-link-backgroundColor-mobile-active;
        }

        > button {
          color: $menu-link-color-mobile;
          display: block;
          padding: 15px;
          border: 0;
          background-color: inherit;
          text-align: left;
          width: 100%;
          &[data-target="search"] {
            text-transform: capitalize;
          }
        }
      }
    }

    & .menu-target {
      background: $menu-link-backgroundColor-mobile-active;
    }

    #menu-mobile {
      float: none;
      display: none;
      clear: left;
      margin: 0;
      width: 200%;

      font-size: 0.938em;

      li {
        cursor: pointer;
        a {
          display: block;
          background: $menu-link-backgroundColor-mobile-active;
          padding: 6px 0 6px 15px;
          margin-left: 0;
          color: $menu-link-color-mobile;
          font-size: 15px;

          &:hover, &:focus {
            color: $menu-link-color-mobile;
          }
        }

        &.nav-link.active a {
          color: $menu-link-color-mobile-active;
          background: $menu-link-backgroundColor-mobile-active;
          font-weight: bold;

          &:hover {
            color: $menu-link-color-mobile-active;
          }
        }

        &:last-child {
          padding-bottom: 10px;
        }
      }
    }

    #search-mobile {
      display: none;
      width: 200%;
      margin-left: -100%;
      padding: 20px;
      input {
        width: calc(100% - 45px);
        color: $text-color;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px)  {
  .navbar {
    width: 100%;
    ul.navbar-nav {
      float: none;
      margin-top: 40px;
    }
  }

  #search {
    margin-top: -100px;
  }
}

header ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.btn-group.menu-dropdown {
  .dropdown-toggle {
    @include dropdownToggle;
  }
  .dropdown-menu {
    @include dropdownMenu;
    margin-left: 15px;
  }
}


body.contrast-high {
  .navbar {
    #menu, #menu-mobile {
      li {
        a {
          color: $color-light-highContrast;
          &:hover, &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
      li.active {
        a {
          color: $color-highlight-highContrast;
          border-color: $color-highlight-highContrast;
          &:hover {
            color: $color-highlight-highContrast;
          }
          &:focus {
            color: $color-highlight-highContrast;
          }
        }
      }
    }
    #menu-mobile {
      li {
        a {
          background-color: $color-dark-highContrast;
        }
      }
    }
    #search, #search-mobile {
      @include searchBarHighContrast;
    }
    .top-level {
      > li.active {
        button {
          color: $color-dark-highContrast;
        }
      }
    }

    #menu {
      .btn-group.menu-dropdown {
        .dropdown-toggle {
          @include dropdownToggleHighContrast;
        }
        .dropdown-menu {
          @include dropdownMenuHighContrast;
        }
      }
    }
  }

  .header-menu-left-aligned {
    #search, #search-mobile {
      @include searchBarHighContrast;
    }
  }

  @media screen and (max-width: 768px) {
    .navbar.navbar-default {
      background: $color-dark-highContrast;
      color: $color-light-highContrast;
    }
    .navbar .top-level li.active {
      background: $color-light-highContrast;
      span {
        color: $color-dark-highContrast;
      }
    }
    .navbar .menu-target {
      background: $color-dark-highContrast;
    }
    .navbar ul.navbar-nav li a {
      background: $color-dark-highContrast;
    }
  }
}

#search, #menu {
  display: none;
  @media screen and (min-width: 769px) {
    display: block;
  }
}

.header-menu-left-aligned {
  .search-and-desktop-widgets {
    float: right;
    display: none;
    @media screen and (min-width: 769px) {
      display: block;
    }
    #search {
      margin-top: 0;
      margin-bottom: 0;
    }
    .navbar .navbar-nav {
      margin-top: 0;
    }
  }
  .menu-without-widgets {
    clear: both;
    float: left;
    margin-bottom: 0;
    .navbar-nav {
      margin-top: 0;
    }
  }
  .widgets-without-menu {
    margin-top: 20px;
    margin-bottom: 0;
    clear: both;
    .navbar-nav {
      float: right;
    }
  }
}
