.site-intro{
    .container{
        background: url('https://sdgplatform-assets.s3.us-east-2.amazonaws.com/SDG+Wheel_Transparent.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 150px;
        padding: 30px 30px 30px 200px;

        .description{
            margin-top:  30px;
            font-size:  18px;
        }
    }
}