#main-content {
  #indicatorData {
    &.no-fields {

      #series-help, #fields, #legend-help, #clear {
        display: none;
      }

      &.no-units {
        // no units and no series, hide the column:
        > .col-md-3 {
          display: none;
        }
        > .col-md-9 {
          width: 100%;
        }
      }
    }
  }

  // For shrinking the sidebar.
  .indicator-sidebar-hidden {
    padding: 0;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  // For expanding the main section.
  .indicator-main-full {
    width: 100%;
  }
  // To make the shrinking/expanding animated.
  #indicator-sidebar, #indicator-main {
    transition: width 0.3s ease;
  }

  #toolbar {
    button {
      width: 100%;
      background-color: $background-color;
      position: relative;
      border: 1px solid $horizontal-rule-color;
      text-align: left;
      padding: 10px 7px 14px 7px;
      font-size: 0.875em;
      margin-right: 8px;

      i {
        position: absolute;
        top: 11px;
        right: 6px;
        font-size: 1.063em;
      }

      &.disabled {
        color: $indicator-disabled-color;
        background: $indicator-disabled-background-color;
      }

    }

		.accessBtn {
			padding: 0px !important;
			border: none;
		}

    > p {
      font-size: 96%;
    }
  }

  #fields {

    @include noselect;

    padding-bottom: 14px;
    font-size: 0.75em;
    margin-top: 10px;

    label {
      background-color: $background-color;
      padding: 7px;
      display: block;
      font-weight: normal;
      margin-bottom: 1px;
      cursor: pointer;
      position: relative;

      input {
        position: absolute;
        top: 7px;
        right: 6px;
      }
      &:hover {
        border-color: $indicator-field-border-hover-color;
      }
      &.disabled {
        color: $indicator-disabled-color;
        cursor: not-allowed;
        &:hover {
          border-color: $indicator-disabled-background-color;
        }
      }
      &.possible {
        background-color: $indicator-possible-background-color;
      }
      &.excluded {
        background-color: $indicator-excluded-background-color;
        color: $text-on-dark-background-color;

        & input {
          display: none;
        }
      }
    }

    h5 {
      padding-left: 7px;
      position: relative;
      padding-right: 33px;

      i {
        font-size: 0.875em;
        position: absolute;
        top: 0;
        right: 6px;
      }
    }

    .bar {
      height: 7px;
      border: 1px solid $indicator-field-border-color;
      margin: 2px;
      padding: 0;
      position: relative;

      > div {
        height: 5px;
        float: left;
      }
      .selected {
        background-color: $indicator-selected-background-color;
      }

      .default {
        background-color: $background-color;
      }

      .possible {
        background-color: $indicator-possible-background-color;
      }

      .excluded {
        background-color: $indicator-excluded-background-color;
      }
    }

    .variable-selector {
      position: relative;
      cursor: pointer;
      width: 100%;
      border: 1px solid $indicator-selector-border-color;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 10px;

      &:hover {
        border-color: $indicator-selector-hover-border-color;
      }

      .no-data-hint,
      .variable-hint {
        display: none;
        padding-left: 7px;
        color: $indicator-hint-color;
      }

      .variable-options {
        background-color: $background-color;
        display: none;
        position: static;
        z-index: 100;
        border-top: 0;
        right: -1px;
        left: -1px;
        overflow: auto;

        > div {
          text-align: left;
          padding: 4px;
        }

        button {
          width: auto;
          background-color: $background-color;
          border: 1px solid $indicator-field-button-border-color;
          color: $text-dark-color;
          float: none;
          position: static;
          text-align: center;
          width: 40%;
          margin: 0;
          font-size: 1.2em;
          padding: inherit;
          border-radius: 4px;

          &:hover {
            background: $indicator-field-button-hover-background-color;
          }
        }

        label {
          padding-left: 7px;
          padding-right: 25px;
          position: relative;
          font-size: 1.3em;

          &:not(:first-child) {
            border-top: 1px solid $indicator-field-label-border;
          }

          input {
            position: absolute;
            top: 4px;
            right: 4px;
          }

          &:hover {
            background: $indicator-field-button-hover-background-color;
          }

          &[data-has-data="false"] {
            display: none;
            cursor: default;
            &:hover {
              background: $background-color;
            }
            input {
              display: none;
            }
          }
        }
      }

      &.child {
        margin-left: 20px;
        width: calc(100% - 20px);
      }

      &[data-has-data="false"],
      &.disallowed {
        .bar {
          display: none;
        }

        .variable-options {
          > div {
            display: none;
          }

          input {
            display: none;
          }

          label {
            cursor: default;
            &:hover {
              background: $background-color;
            }
          }
        }

        padding-bottom: 5px;
      }

      &[data-has-data="false"]:not(.disallowed) {
        .no-data-hint {
          display: block;
        }
      }
      &.disallowed {
        .variable-hint {
          display: block;
        }
      }
    }
  }
  #units {
    clear: left;
    margin-bottom: 20px;

    label {
      font-weight: normal;
      border: 1px solid $indicator-selector-border-color;
      padding: 10px;
      margin-right: 8px;
      cursor: pointer;
      width: 100%;
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  #dataset-size-warning {
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    vertical-align: middle;
    background: $indicator-dataset-size-warning;
    border-radius: 4px;
    padding: 5px;

    i {
      font-size: 1.2em;
    }
  }

  .plot-container {
    margin-bottom: 4.5rem;
    padding: 10px;
  }

  #chartSelectionDownload {
    margin-bottom: 10px;
    clear: left;
  }

  #legend {
    padding-left: 0;
    text-align: center;
    margin-top: -32px;
    li {
      font-size: 13px;
      list-style-type: none;
      display: inline-block;
      color: $indicator-legend-color;
      line-height: 18px;
      cursor: pointer;
      padding: 5px;

      &:hover {
        background: $indicator-legend-hover-background-color;
      }

      &.notshown {
        text-decoration: line-through;
      }
    }
    .swatch {
      display: inline-block;
      width: 45px;
      height: 15px;
      margin-right: 3px;

      &.dashed {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==');
        background-repeat: repeat;
        background-position: -5px 0;
      }
    }
    span {
      vertical-align: middle;
      line-height: 18px;
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  canvas {
    @include noselect;
  }
  .no-gutters img {
    width: calc(100% - 10px);
    border: 0;
    padding: 0;
    margin: 5px 10px 5px 0;

    &:not(#goal-18){
      box-shadow: 5px 5px 5px 0px $goal-tiles-shadow-color;

      &:hover{
        box-shadow: 5px 5px 5px 0px $goal-tiles-hover-shadow-color;
      }
    }
  }

  &.goal-indicators {
    @include indicatorcards;
    &.goal-by-target {
      .indicator-cards a {
        padding: 0;
        margin-bottom: 2.5rem;

        .tags li{
          color: $text-dark-color;
        }

      }
      .indicator-cards.target {
        margin-bottom: 2.5rem;
        clear: left;
      }
    }
    .indicator-cards .tags li{
      color: $text-dark-color;
    }
  }
  .goal-indicators:after {
    content: "";
    display: table;
    clear: both;
  }
  .nav-tabs {
    border-bottom: 1px solid $indicator-tabs-border-color;
    .nav-item {
      background: none;
      border: none;
      a {
        border: none;
        color: $text-dark-color;
      }
      &.active {
        a {
          border: 1px solid $indicator-tabs-border-color;
          border-bottom: 0;
        }
      }
      &:not(.active){
        a{
          background-color: $indicator-tabs-inactive-background-color;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  .tab-content {
    border: 1px solid $indicator-tabs-border-color;
    padding: 15px;
    border-top:  0;

    .tab-pane {
      padding-top: 1.5rem;
      // th {
      //   width: 35%;
      // }
      #datatable {
        overflow-x: auto;
      }
    }
		h4 {
			margin-top: 2rem !important;
		}
  }

  #selectionsTable {
    div.dataTables_wrapper {
      overflow-x: auto;

      .row {
        margin-left: 0;
        margin-right: 0;
      }
    }
    table {
      thead th {
        cursor: pointer;

        span.sort {
          background-position: center center;
          background-repeat: no-repeat;
          background-color: transparent;
          display: inline-block;
          width: 24px;
          height: 19px;
          margin-bottom: -3px;
        }

        &:hover {
          text-decoration: underline;
        }

        &.sorting_asc {
          span.sort { background-image: url(../img/sort_asc.png); }
        }
        &.sorting_desc {
          span.sort { background-image: url(../img/sort_desc.png); }
        }
      }
      tbody th {
        font-weight: normal;
      }
    }

    padding-bottom: 20px;

    .table-footer-text {
      p {
        font-size: 0.85em;
        margin: 0 0 5px;
      }
      padding-left: 20px;
    }
  }

  #selectionsChart {
    padding-bottom: 20px;
  }

  #selectionChartFooter {
    font-size: 12px;
    line-height: 1.2;
    padding-left: 20px;
  }
}

.roleHeader {
	cursor: pointer;
}

.chart-title {
  text-align: center;
}

body.contrast-high {
  #main-content #fields label {
    background: $high-contrast-dark-color;
    color: $high-contrast-light-color;
    &:hover {
      background: $high-contrast-light-color;
      color: $high-contrast-dark-color;
    }
    &:focus {
      background: $high-contrast-light-color;
      color: $high-contrast-dark-color;
    }
  }

  #toolbar {
    button {
      background-color: $high-contrast-dark-color !important;
      border-color: $high-contrast-light-color;
      color: $high-contrast-light-color;
    }
  }

  .variable-options {
    background: $high-contrast-dark-color;
    color: $high-contrast-light-color;
    div {
      background: $high-contrast-dark-color;
      color: $high-contrast-light-color;
    }
    button {
      background: $high-contrast-dark-color;
      color: $high-contrast-light-color !important;
      border-color: $high-contrast-light-color;
    }
  }

  #main-content #fields .bar .selected { background-color: $high-contrast-light-color; }

  #main-content #fields .variable-selector .variable-hint { color: $high-contrast-light-color; }

  caption {
    color: $high-contrast-light-color;
  }

  div#units {
    color: $high-contrast-light-color;
  }

  #legend {
    li {
      color: $high-contrast-light-color !important;
      border: 1px solid transparent;
      &:hover {
        background: transparent !important;
        border: 1px solid $high-contrast-light-color;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  body.layout-indicator{
    .container{
      .goal-icon{
        float: none;
      }
      .indicator-details {
        float: none;
        width: 100%;
      }
    }
  }
}
