.layout-news {
  .post-listing {
    clear: both;
    margin-bottom: 40px;

    .post-categories {
      list-style-type: none;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }

    .post-title {
      font-size: $fontSize;
      margin-bottom: 7px !important;
    }

    .post-date {
      float: left;
      margin-right: 40px;
    }
  }
}
