.notapplicable {
  background-color: #ccc;
  background: repeating-linear-gradient(
    135deg,
    #ccc,
    white 10px,
    #ccc 10px,
    white 20px
  );
}

.inprogress {
  background-color: #767676;
}
.complete {
  background-color: #000000;
}

#main-content {
  .statuses {

    strong {
      font-weight: normal;
    }
    > div {
      display: inline-block;

      margin-right: 10px;

      .status {
        display: inline-block;
        margin-right: 3px;
        padding: 2px 5px;
        border-radius: 4px;
        
        width: 40px;
        text-align: center;
        font-size: 16px;

        &.notstarted{
          border: 1px solid #000000;
          color: black;
        }
        &.complete, &.inprogress{
          color: white;
        }
      }
    }
  }
  .value {
    color: #333;
    font-weight: bold;
    margin-left: 3px;
  }
  .goal-stats {
    border: 1px solid #000000;
    font-size: 0;
    margin-top:10px;
    & span {
      display: inline-block;
      height: 10px;
      font-weight: bold;
    }
  }
  .divider {
    height: 15px;
  }
  .goal {
    clear: left;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
		h2 {
			font-size: 1.6em;
		}
    .total {
       line-height: 24px;
       vertical-align: middle;
       font-size: 16px;
       width: auto;
       padding-left: 4px;
       padding-right: 4px;
       text-align: center;
       display: inline-block;
       margin-left: 10px;
       margin-top: -2px;
       border-radius: 4px;
       border: 1px solid #ccc;
    }
  }
  .frame {
    width: 115px;
    float: left;
    min-height: 1px;
  }
  .details {
    width: calc(100% - 125px);
    float: left;
    h3 {
      margin-top: 10px;
      @media only screen and (max-width: 720px) {
        margin-top: 3px;
      }
      @media only screen and (max-width: 520px) {
        margin-bottom: 3px;
      }
      line-height: 24px;
    }
  }
  .goal-overall {
    margin-bottom: 20px;

    .details {
      width: 100%;
    }
  }
}

body.contrast-high {

  .statuses {
    strong {
      color: white;
    }
    .value {
      color: white !important;
    }
    
  }

  .complete{
    background-color: white;
    color: black !important;
  }

  .inprogress{
    background-color: #767676;
  }

  .notstarted{
    border: 1px solid white !important;
    color: white !important;
  }

  .notapplicable{
    color: black !important;
  }
  
}