.notapplicable {
  background: $status-backgroundColor-notapplicable;
}

.inprogress {
  background-color: $status-backgroundColor-inprogress;
}
.complete {
  background-color: $status-backgroundColor-complete;
}

#main-content {
  .statuses {

    strong {
      font-weight: normal;
    }
    > div {
      display: inline-block;

      margin-right: 10px;

      .status {
        display: inline-block;
        margin-right: 3px;
        padding: 2px 5px;
        border-radius: 4px;

        width: 40px;
        text-align: center;
        font-size: 16px;

        &.notstarted{
          border: 1px solid $color-dark;
          color: $status-color-notstarted;
        }
        &.complete {
          color: $status-color-complete;
        }
        &.inprogress {
          color: $status-color-inprogress;
        }
        &.notapplicable {
          color: $status-color-notapplicable;
        }
      }
    }
  }
  .value {
    color: $text-color;
    font-weight: bold;
    margin-left: 3px;
  }
  .goal-stats {
    border: 1px solid $color-dark;
    font-size: 0;
    margin-top:10px;
    & span {
      display: inline-block;
      height: 10px;
      font-weight: bold;
    }
  }
  .divider {
    height: 15px;
  }
  .goal {
    clear: left;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid $horizontalRule-color;
    .total {
       line-height: 24px;
       vertical-align: middle;
       font-size: 16px;
       width: auto;
       padding-left: 4px;
       padding-right: 4px;
       text-align: center;
       display: inline-block;
       margin-left: 10px;
       margin-top: -2px;
       border-radius: 4px;
       border: 1px solid $horizontalRule-color;
    }
  }
  .frame {
    width: 115px;
    float: left;
    min-height: 1px;
  }
  .details {
    width: calc(100% - 125px);
    float: left;
    h3 {
      margin-top: 10px;
      @media only screen and (max-width: 720px) {
        margin-top: 3px;
      }
      @media only screen and (max-width: 520px) {
        margin-bottom: 3px;
      }
      line-height: 24px;
    }
  }
  .goal-overall {
    margin-bottom: 20px;

    .details {
      width: 100%;
    }
  }
}

body.contrast-high {

  .goal-stats{
    border: 1px solid $color-light-highContrast !important;
  }

  .statuses {
    strong {
      color: $color-light-highContrast;
    }
    .value {
      color: $color-light-highContrast !important;
    }

  }

  .summary .statuses .notstarted{
    border: 1px solid $color-light-highContrast !important;
  }

  .complete{
    background-color: $status-backgroundColor-complete-highContrast;
    color: $status-color-complete-highContrast !important;
  }

  .inprogress{
    background-color: $status-backgroundColor-inprogress-highContrast;
    color: $status-color-inprogress-highContrast;
  }

  .notstarted{
    color: $status-color-notstarted-highContrast !important;
  }

  .notapplicable{
    color: $status-color-notapplicable-highContrast !important;
  }

}
