{% comment %}
Because the "bar" visualization is basic, not too much needs to be done here,
apart from providing the canvas tag and supporting graph limits. For details on
the Chart.js configuration being used, see `createPlot()` in `indicatorView.js`.
We also check for "graph_stacked_disaggregation" here to support stacked bars.
{% endcomment %}
{% include components/charts/canvas.html %}
{% include components/charts/graph_limits.html %}
{% include components/charts/graph_annotations.html %}
<script>
opensdg.chartConfigAlter(function(config, info) {
  if (info.stackedDisaggregation) {
    var overrides = {
      options: {
        scales: {
          xAxes: [{ stacked: true }],
          yAxes: [{ stacked: true }],
        }
      }
    };
    // If we have stackedDisaggregation, we need to group datasets into stacks.
    config.data.datasets.forEach(function(dataset) {
      var disaggregation = $.extend({}, dataset.disaggregation);
      // We're going to "stringify" each combination of disaggregations in order
      // to place them in their own "stacks". To place "stacked" disaggregations
      // into the same stack, we set them as "samestack" before stringifying.
      // Note that the string "samestack" is completely arbitrary.
      if (typeof disaggregation[info.stackedDisaggregation] !== 'undefined') {
        disaggregation[info.stackedDisaggregation] = 'samestack';
      }
      // Use the disaggregation as a unique id for each stack.
      dataset.stack = JSON.stringify(disaggregation);
    });
    // Add these overrides onto the normal config, and return it.
    $.extend(true, config, overrides);
  }
});
</script>
