{% comment %}
The "binary" graphs builds on top of "bar", with a few configuration overrides.
{% endcomment %}
{% include components/charts/canvas.html %}
{% include components/charts/graph_annotations.html %}
<script>

opensdg.convertBinaryValue = function(value) {
  if (typeof value === 'string') {
    value = parseInt(value, 10);
  }
  if (value === 1) {
    return 'Yes';
  }
  else if (value === -1) {
    return 'No';
  }
  return '';
}

opensdg.chartConfigAlter(function(config) {
  var overrides = {
    // Force the "bar" type instead of the "binary" type which Chart.js
    // does not recognize.
    type: 'bar',
    // Assign some callbacks to convert 1/-1 to Yes/No.
    options: {
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label || '';
            label += ': ' + opensdg.convertBinaryValue(tooltipItem.yLabel);
            return label;
          }
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            // Set the min/max to -1/1 so that the bars will start from the
            // middle and either go up (for 1) or down (for -1).
            min: -1,
            max: 1,
            callback: opensdg.convertBinaryValue,
          },
        }]
      },
    }
  }

  // Add these overrides onto the normal config.
  $.extend(true, config, overrides);
});

opensdg.tableConfigAlter(function(config, info) {
  var targetColumns = [];
  for (var i = 1; i < info.table.headings.length; i++) {
    targetColumns.push(i);
  }
  var overrides = {
    columnDefs: [
      {
        targets: targetColumns,
        createdCell: function(td, cellData, rowData, row, col) {
          $(td).text(opensdg.convertBinaryValue(cellData));
        },
      }
    ]
  };

  $.extend(true, config, overrides);
});

</script>
