{% comment %}
The "binary" graphs builds on top of "bar", with a few configuration overrides.
{% endcomment %}
<canvas></canvas>
<script>
opensdg.addChartAlteration(function(config) {
  var overrides = {
    // Force the "bar" type instead of the "binary" type which Chart.js
    // does not recognize.
    type: 'bar',
    // Assign some callbacks to convert 1/-1 to Yes/No.
    options: {
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var label = data.datasets[tooltipItem.datasetIndex].label || '';
            if (tooltipItem.yLabel == 1) {
              label += ': Yes';
            }
            else {
              label += ': No';
            }
            return label;
          }
        }
      },
      scales: {
        yAxes: [{
          ticks: {
            // Set the min/max to -1/1 so that the bars will start from the
            // middle and either go up (for 1) or down (for -1).
            min: -1,
            max: 1,
            callback: function(value, index, values) {
                if (value == 1) {
                  return 'Yes';
                }
                if (value == -1) {
                  return 'No';
                }
                return '';
            }
          },
        }]
      },
    }
  }

  // Add these overrides onto the normal config.
  $.extend(true, config, overrides);
});
</script>
