{% if include.graph_type %}

    <div id="dataset-size-warning" style="display:none">
      <i class="fa fa-bolt"></i> {{ t.indicator.dataset_size_warning }}
    </div>

    {% assign graph_template = 'components/charts/' | append: include.graph_type | append: '.html' %}
    <div id="chart">
      <div id="selectionsChart" class="plot-container">
          <h3 class="chart-title">{{ meta.graph_title | t }}</h3>
          {% include {{graph_template}} %}
      </div>
        
      <div id="plotLegend"></div>
    </div>
    <button id="btn-save" class="btn btn-primary btn-download">Save chart as image</button>

{% endif %}
