<script>
// Add a chart alteration to support the chart_graph_limits metadata field.
opensdg.chartConfigAlter(function(config, info) {
  if (info.graphLimits) {
    var limit = _.findWhere(info.graphLimits, { unit: info.selectedUnit }) || info.graphLimits[0];
    var overrides = {
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: limit.minimum,
              max: limit.maximum,
            }
          }]
        }
      }
    }
    // Add these overrides onto the normal config.
    $.extend(true, config, overrides);
  }
});
</script>
