<script>
// Add a chart alteration to support the chart_annotations metadata field.
opensdg.chartConfigAlter(function(config, info) {
    if (info.graphAnnotations) {
        var annotations = info.graphAnnotations.filter(function(annotation) {
            var match = true;
            console.log(annotation);
            if (match && info.selectedUnit) {
                match = (info.selectedUnit === annotation.unit);
            }
            if (match && info.selectedSeries) {
                match = (info.selectedSeries === annotation.series);
            }
            return match;
        });
        // Apply some helpers/fixes to the annotations.
        {% include components/charts/annotation_presets.js %}
        annotations.forEach(function(annotation) {
            // Apply any specified presets.
            if (annotation.preset) {
                var preset = annotation.preset;
                if (annotationPresets[preset]) {
                    Object.keys(annotationPresets[preset]).forEach(function(key) {
                        if (typeof annotation[key] === 'undefined') {
                            annotation[key] = annotationPresets[preset][key];
                        }
                    });
                }
            }
            // Default to horizontal lines.
            if (!annotation.mode && annotation.type === 'line') {
                annotation.mode = 'horizontal';
            }
            // Provide the obscure scaleID property on user's behalf.
            if (!annotation.scaleID && annotation.type === 'line') {
                if (annotation.mode === 'horizontal') {
                    annotation.scaleID = 'y-axis-0';
                }
                if (annotation.mode === 'vertical') {
                    annotation.scaleID = 'x-axis-0';
                }
            }
        });
        if (annotations.length > 0) {
            var overrides = {
                options: {
                    annotation: {
                        drawTime: 'afterDatasetsDraw',
                        annotations: annotations
                    }
                }
            };
            // Add these overrides onto the normal config.
            $.extend(true, config, overrides);
        }
    }
});
</script>
