<script>
// Add a chart alteration to support the chart_graph_limits metadata field.
opensdg.chartConfigAlter(function(config, info) {
  if (info.graphLimits && Object.keys(info.graphLimits).length > 0) {
    var overrides = {
      options: {
        scales: {
          yAxes: [{
            ticks: {
              min: info.graphLimits.minimum,
              max: info.graphLimits.maximum,
            }
          }]
        }
      }
    }
    // Add these overrides onto the normal config.
    $.extend(true, config, overrides);
  }
  else {
    // Otherwise remove any min/max that may be there.
    try {
      delete config.options.scales.yAxes[0].ticks.min;
      delete config.options.scales.yAxes[0].ticks.max;
    }
    catch(e) {}
  }
});
</script>
