<span style="display: none;" id="chart-annotations" role="status"></span>
<script>
{% include components/charts/annotation_presets.js %}
// Add a chart alteration to support the chart_annotations metadata field.
opensdg.chartConfigAlter(function(config, info) {
    if (info.graphAnnotations) {
        var annotations = info.graphAnnotations.filter(function(annotation) {
            var match = true;
            if (match && info.selectedUnit) {
                match = (info.selectedUnit === annotation.unit);
            }
            if (match && info.selectedSeries) {
                match = (info.selectedSeries === annotation.series);
            }
            return match;
        });
        // Apply some helpers/fixes to the annotations.
        annotations = annotations.map(function(annotation) {
            // Apply the "common" preset.
            if (opensdg.annotationPresets.common) {
                annotation = $.extend(true, {}, opensdg.annotationPresets.common, annotation);
            }
            // Apply any specified presets.
            if (annotation.preset) {
                var preset = annotation.preset;
                if (opensdg.annotationPresets[preset]) {
                    annotation = $.extend(true, {}, opensdg.annotationPresets[preset], annotation);
                }
            }
            // Default to horizontal lines.
            if (!annotation.mode && annotation.type === 'line') {
                annotation.mode = 'horizontal';
            }
            // Provide the obscure scaleID property on user's behalf.
            if (!annotation.scaleID && annotation.type === 'line') {
                if (annotation.mode === 'horizontal') {
                    annotation.scaleID = 'y-axis-0';
                }
                if (annotation.mode === 'vertical') {
                    annotation.scaleID = 'x-axis-0';
                }
            }
            // Translate any label content.
            if (annotation.label && annotation.label.content) {
                annotation.label.content = translations.t(annotation.label.content);
            }
            // Save some original values for later used when contrast mode is switched.
            if (typeof annotation.defaultContrast === 'undefined') {
                annotation.defaultContrast = {};
                if (annotation.borderColor) {
                    annotation.defaultContrast.borderColor = annotation.borderColor;
                }
                if (annotation.label) {
                    annotation.defaultContrast.label = {};
                    if (annotation.label.fontColor) {
                        annotation.defaultContrast.label.fontColor = annotation.label.fontColor;
                    }
                    if (annotation.label.backgroundColor) {
                        annotation.defaultContrast.label.backgroundColor = annotation.label.backgroundColor;
                    }
                }
            }
            return annotation;
        });
        if (annotations.length > 0) {
            var overrides = {
                options: {
                    annotation: {
                        drawTime: 'afterDatasetsDraw',
                        annotations: annotations
                    }
                }
            };
            // Add these overrides onto the normal config.
            $.extend(true, config, overrides);

            // Update the chart annotations element.
            var descriptions = annotations.map(function(annotation) {
                var description = '';
                if (annotation.description) {
                    if (typeof annotation.description === 'function') {
                        description = annotation.description.call(annotation);
                    }
                    else {
                        description = translations.t(annotation.description);
                    }
                }
                return description;
            }).filter(function(description) { return description != ''; });

            var currentDescription = $('#chart-annotations').text();
            var newDescription = descriptions.join('. ');
            if (currentDescription != newDescription) {
                $('#chart-annotations').text(newDescription);
            }
        }
    }
});
</script>
