{% comment %}
Because the "line" visualization is basic, nothing special needs to be done here,
apart from providing the canvas tag and supporting graph limits. For details on
the Chart.js configuration being used, see `createPlot()` in `indicatorView.js`.
{% endcomment %}
{% include components/charts/canvas.html %}
{% include components/charts/graph_limits.html %}
{% include components/charts/graph_annotations.html %}
<script>
// For line charts, add the vertical line hover functionality.
opensdg.chartConfigAlter(function(config, info) {
    var overrides = {
        options: {
            {% if site.version_2_preview %}
            plugins: {
                tooltip: {
                    mode: 'index',
                    intersect: false,
                },
            },
            {% else %}
            tooltips: {
                intersect: false,
                axis: 'x',
            },
            {% endif %}
        },
        plugins: [{
            beforeDatasetsDraw: function(chart) {
                if (chart.tooltip._active && chart.tooltip._active.length) {
                    var activePoint = chart.tooltip._active[0],
                        ctx = chart.ctx,
                        {% if site.version_2_preview %}
                        x = activePoint.element.x,
                        topY = chart.scales.y.top,
                        bottomY = chart.scales.y.bottom;
                        {% else %}
                        x = activePoint.tooltipPosition().x,
                        topY = chart.scales['y-axis-0'].top,
                        bottomY = chart.scales['y-axis-0'].bottom;
                        {% endif %}

                    // draw line
                    ctx.save();
                    ctx.beginPath();
                    ctx.moveTo(x, topY);
                    ctx.lineTo(x, bottomY);
                    ctx.lineWidth = 2;
                    ctx.strokeStyle = '#757575';
                    ctx.stroke();
                    ctx.restore();
                }
            }
        }],
    };
    // Add these overrides onto the normal config, and return it.
    _.merge(config, overrides);
});
</script>
