{% comment %}
The stacked bar chart can be used when a particular disaggregation is central
to the visualization. It is typically used in combination with the metadata
fields "data_start_values" and "graph_stacked_disaggregation".
{% endcomment %}
<canvas></canvas>
{% include components/charts/graph_limits.html %}
{% include components/charts/hide_headline.html %}
<script>
opensdg.chartConfigAlter(function(config, info) {
  var overrides = {
    type: 'bar',
    options: {
      scales: {
        xAxes: [{ stacked: true }],
        yAxes: [{ stacked: true }],
      }
    }
  };
  // If we have stackedDisaggregation, we need to group datasets into stacks.
  config.data.datasets.forEach(function(dataset) {
    var disaggregation = $.extend({}, dataset.disaggregation);
    if (info.stackedDisaggregation) {
      // We don't want the stackedDisaggregation to be considered when stacking.
      delete disaggregation[info.stackedDisaggregation];
    }
    // Use the disaggregation as a unique id for each stack.
    dataset.stack = JSON.stringify(disaggregation);
  });
  // Add these overrides onto the normal config, and return it.
  $.extend(true, config, overrides);
});
</script>
