#main-content {
  #back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: lighten($backToTop-backgroundColor, 10%);
    font-size: 3rem;
    padding: 0.5rem 1.0rem;
    &:hover, &:focus {
      background: $backToTop-backgroundColor;
    }
  }

  a[href="#top"] {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15px;
    i.fa-arrow-up {
      margin-right: .3em;
    }
  }
}

#top:focus {
  outline: none !important;
}
