#main-content {
  a[href="#top"] {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-right: 15px;
    i.fa-long-arrow-up {
      margin-right: .3em;
    }
    text-align: right;
    width: 100%;
  }
}

#top:focus {
  outline: none !important;
}
