#main-content {
  a[href="#top"] {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 30px;
    margin-right: 15px;
    text-align: right;
    width: 100%;
    .app-c-back-to-top__icon {
      margin-right: .3em;
      width: .8em;
      height: .968em;
      margin-bottom: 3px;
    }
  }
}

#top:focus {
  outline: none !important;
}
