.breadcrumb {
  margin-bottom: 15px;
  a {
    color: darken(#337ab7, 10%);
  }
  &>.active {
    display: inline;
    color: $text-color;
  }
}

body.contrast-high {
  .breadcrumb {
    background: $high-contrast-light-color;
    a {
      color: $high-contrast-dark-color !important;
    }
  }
}
