#legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
    > li {
        font-size: 13px;
        list-style-type: none;
        display: inline-block;
        color: $indicator-legendSwatch-fillColor;
        padding: 5px;
    }
    .swatch {
        display: inline-block;
        width: 45px;
        height: 15px;
        margin-right: 3px;

        &.dashed {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFklEQVQImWP8////fwY0wMjIyIguBgCaAgQCms5tJwAAAABJRU5ErkJggg==");
            background-repeat: repeat;
            background-position: -5px 0;
        }
    }
    &.legend-for-line-chart {
        .swatch {
            height: 3px;
            position: relative;
            .swatch-inner {
                position: absolute;

                width: 11px;
                height: 11px;
                display: inline-block;
                top: -4px;
                left: 17px;
                border-radius: 10px;
            }
            &.headline {
                height: 6px;
                .swatch-inner {
                    top: -3px;
                    width: 12px;
                    height: 12px;
                    border-radius: 0;
                }
            }
        }
    }
    span {
        vertical-align: middle;
        line-height: 18px;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

body.contrast-high {
    #legend {
        li {
            color: $color-light-highContrast !important;
            border: 1px solid transparent;
        }
    }
}
