.cookie-settings {
    cursor: pointer;
    text-decoration: underline;
}
.klaro {
    .cookie-notice {
        .cn-body {
            .cm-link {
                color: $link-color;
                text-decoration: underline;
            }
            strong {
                text-transform: lowercase;
            }
            .cn-changes {
                text-decoration: none !important;
                font-weight: bold;
            }
            .cm-btn {
                border: none;
                background: $button-color;
                color: $button-foregroundColor;
                box-shadow: 0 2px 0 $button-color-dropShadow;
                border-radius: 0;
                &.cm-btn-success {
                    background: $button-color;
                }
                &.cn-decline {
                    background: $color-warning;
                    color: $text-color;
                }
            }
        }
    }
    .cookie-modal {
        .cm-modal {
            .cm-list-input:focus {
                & + label {
                    .cm-switch {
                        .slider {
                            outline: 3px solid $focusBackgroundColor;
                            box-shadow: 0 0 0 4px $focusColor;
                        }
                    }
                }
            }
        }
    }
}

body.contrast-high {
    .cookie-modal {
        .cm-modal {
            span {
                color: $color-dark-highContrast;
            }
            .cm-list-input {
                & + label {
                    .cm-switch {
                        .slider {
                            background-color: $color-dark-highContrast !important;
                        }
                    }
                }
                &:checked + label {
                    .cm-switch {
                        .slider {
                            &::before {
                                background-color: $color-highlight-highContrast !important;
                            }
                        }
                    }
                }
            }
            .cm-footer-buttons {
                .cm-btn {
                    background-color: $color-dark-highContrast !important;
                    color: $color-light-highContrast !important;
                    &:focus {
                        background-color: $color-highlight-highContrast !important;
                        color: $color-dark-highContrast !important;
                    }
                }
            }
        }
    }
    .cookie-notice {
        .cn-body {
            p span {
                color: $color-dark-highContrast;
            }
            .cm-link {
                color: $color-dark-highContrast;
            }
            strong {
                text-transform: lowercase;
            }
            .cn-changes {
                text-decoration: none !important;
                font-weight: bold;
            }
            .cm-btn {
                background: $button-color-highContrast;
                color: $button-foregroundColor-highContrast;
                &.cm-btn-success {
                    background: $button-color-highContrast;
                }
                &.cn-decline {
                    background: $button-color-highContrast;
                }
            }
        }
    }
}
