#tableTargetLines {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    dt {
        float: left;
        font-weight: normal;
        max-width: 80%;
    }
    dd {
        text-align: right;
    }
}

#selectionsTable {
    div.dataTables_wrapper {
        overflow-x: auto;
        overflow-y: auto;
        height: fit-content;
        max-height: $datatable-maxHeight;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }
    table {
        caption-side: top;
        thead {
            position: sticky;
            inset-block-start: 0;
        }
        thead th {
            cursor: pointer;

            span.sort {
                background-position: center center;
                background-repeat: no-repeat;
                background-color: transparent;
                display: inline-block;
                width: 24px;
                height: 19px;
                margin-bottom: -3px;
            }

            &:hover {
                text-decoration: underline;
            }

            &.sorting_asc {
                span.sort {
                    background-image: url(../img/sort_asc.png);
                }
            }
            &.sorting_desc {
                span.sort {
                    background-image: url(../img/sort_desc.png);
                }
            }
        }
        tbody th {
            font-weight: normal;
        }
        th:first-child {
            position: sticky;
            inset-inline-start: 0;
        }
    }
    div.dataTables_wrapper.scrolled-y {
        thead {
            background-color: $backgroundColor;
            box-shadow: $text-color 0px 5px 6px -6px;
            z-index: 1;
        }
    }
    div.dataTables_wrapper.scrolled-x {
        th:first-child {
            background-color: $backgroundColor;
        }
        thead th:first-child {
            z-index: 2;
        }
        tbody th:first-child {
            box-shadow: $text-color 1px 1px 2px 0px;
        }
    }

    padding-bottom: 20px;
}

caption {
    color: $text-color;
}

.roleHeader {
    cursor: pointer;
}

#datatable {
    overflow-x: auto;
}

.table {
    .table-value {
        text-align: right;
    }
}