#disclaimer {
  .phase-tag {
    background: $disclaimer-tag-backgroundColor;
    color: $disclaimer-tag-color;
    text-transform: uppercase;
    padding: 2px 5px;
  }
  .disclaimer-alert {
    color: $disclaimer-text-color;
    margin-bottom: 10px;
    padding: 12px 10px 10px 0;
    border-bottom: 1px solid #BBBBBB;
    @media only screen and (max-width: 680px) {
      font-size: 0.75em;
    }
  }
}
