#disclaimer {

  .phase-tag {
    background: #005ea5;
    color: white;
    text-transform: uppercase;
    padding: 2px 5px 0;
  }
  .disclaimer-alert {
    color: #3D3D3D;
    margin-bottom: 10px;
    padding: 12px 10px 10px 0;
    border-bottom: 1px solid #BBBBBB;
    a {
      color: #3D3D3D;
      text-decoration: underline;
    }
    @media only screen and (max-width: 680px) {
      font-size: 0.75em;
    }
  }
}
