.btn-download {
  margin-top: 1.5rem;
  margin-right: 0.8rem;
  border: none !important;
  background: $button-color !important;

  &:hover, &:active, &:focus {
    background: $button-pressed-color !important;
  }
}

h5.download {
  font-weight: bold;
}

h5 + .btn-download {
  margin-top: 0.5rem;
}

.image-download-in-progress {
  &, * {
    padding: 0;
    margin: 0;
  }
  #selectionChartFooter {
    padding-left: 20px;
    p {
      margin-bottom: 10px;
    }
  }
}

.zip-download-container {
  margin-top: 20px;
  a.btn {
    margin-left: 10px;
  }
  #zip-download-info {
    margin-top: 5px;
    margin-left: 10px;
  }
}

body.contrast-high {
  .btn { background: $high-contrast-light-color !important; color: $high-contrast-dark-color !important;
    &:hover {
      background: $high-contrast-highlight-color !important;
    }
    &:focus {
      background: $high-contrast-highlight-color !important;
    }
  }
  #zip-download-info {
    color: $high-contrast-light-color;
  }
}
