.btn-primary {
  &:visited {
    color: $button-foregroundColor-visited;
  }
}
.btn-download {
  margin-top: 1.5rem;
  margin-right: 0.8rem;
  border: none !important;
  background: $button-color !important;
  color: $button-foregroundColor !important;
  box-shadow: 0 2px 0 $button-color-dropShadow;
  border-radius: 0;
  position: relative;

  &:hover, &:active {
    background: $button-color-pressed !important;
  }
  &:visited {
    color: $button-foregroundColor-visited !important;
  }
  &:active {
    top: 2px;
  }
  &:focus {
    background: $button-color-focus !important;
    color: $button-foregroundColor-focus !important;
  }
}

h5.download {
  font-weight: bold;
}

h5 + .btn-download {
  margin-top: 0.5rem;
}

.image-download-in-progress {
  &, * {
    padding: 0;
    margin: 0;
  }
  #selectionChartFooter {
    padding-left: 20px;
    p {
      margin-bottom: 10px;
    }
  }
  .hide-during-image-download {
    display: none;
  }
  &.contrast-high {
    #indicator-main {
      width: 120%;
    }
    #chart-canvas {
      background-color: $color-dark-highContrast !important;
    }
    #chart-heading, #selectionChartFooter {
      max-width: 90%;
    }
  }
}

.zip-download-container {
  margin-top: 20px;
  a.btn {
    margin-left: 10px;
  }
  #zip-download-info {
    margin-top: 5px;
    margin-left: 10px;
  }
}

#selectionsChart, #selectionsTable {
  .btn-download {
    float: left;
  }
}

body.contrast-high {
  .btn { background: $color-light-highContrast !important; color: $color-dark-highContrast !important;
    &:hover {
      background: $color-highlight-highContrast !important;
    }
    &:focus {
      background: $focusBackgroundColor-highContrast !important;
    }
  }
  #zip-download-info {
    color: $color-light-highContrast;
  }
}
