@for $i from 1 through length($goal-banner-backgroundColors) {
  $background-c: nth($goal-banner-backgroundColors, $i);
  .goal-#{$i} {
    &.goal-banner {
      background-color: $background-c;
    }
  }
}

.goal-banner {
  h1, p {
    color: $goal-banner-color;
  }
  .goal-icon {
    a:focus {
      outline: 6px $focusOutlineColor solid !important;
    }
  }
  .goal-tiles {
    @media only screen and (max-width: 300px) {
      float: none;
    }
  }
}
