@for $i from 1 through length($goal-colors) {
  $c: nth($goal-colors, $i);
  $dark-c: darken($c, 20%);
  .goal-#{$i} {
    padding-top: 30px;
    padding-bottom: 30px;
    &.goal-indicators {
      div {
        span {
          border-color: $dark-c;
          color: $dark-c;
        }
      }
    }
  }
  .goal-tiles #goal-#{$i} {
    &:hover {
      background-color: $c;
    }
  }
}

#main-content {
  .goal-tiles {
    .goal-tile {
      padding-bottom: 10px;
    }
    .no-gutters img {
      width: calc(100% - 10px);
      border: 0;
      padding: 0;
      margin: 0;

      &:not(#goal-18){
        box-shadow: 5px 5px 5px 0px $goalTiles-tile-shadowColor;

        &:hover{
          box-shadow: 5px 5px 5px 0px $goalTiles-tile-shadowColor-hover;
        }
      }
    }
  }
}
