.navbar-brand {
    width: calc(100% - 75px);
    max-width: 350px;
    margin-bottom: 25px;
    img {
        max-width: 100%;
    }
    &:focus-visible {
        background-color: transparent !important;
        outline: 7px solid $focusOutlineColor !important;
    }
}

.header-search-bar {
    max-width: 100%;
    width: 100%;
    @media only screen and (min-width: 600px) {
        width: 38ch;
    }
}

.header-toggles {
    margin-left: auto;
}

#menu {
    margin-bottom: 20px;
}

body {
    background: $backgroundColor url("../img/sdgbg.png") top left repeat-x;
    padding-top: 15px;
}

header {
    .navbar {
        .navbar-nav {
            .nav-item:first-child {
                .nav-link {
                    padding-left: 0;
                }
            }
        }
    }
}

body.contrast-high {
    .navbar-brand {
        &:focus-visible {
            background-color: transparent !important;
            outline: 7px solid $focusOutlineColor !important;
        }
    }
}

.internet-explorer-message {
    display: none;
    border: 5px solid $disclaimer-tag-backgroundColor;
    background-color: $disclaimer-tag-backgroundColor;
    padding: 0;
    .internet-explorer-message-title {
        padding: 2px 20px 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        margin: 0;
        color: $disclaimer-tag-color;
    }
    .internet-explorer-message-body {
        padding: 20px;
        color: $disclaimer-text-color;
        background-color: $backgroundColor;
        margin: 0;
    }
}
body.contrast-high {
    .internet-explorer-message {
        border: 5px solid $color-light-highContrast;
        background-color: $color-light-highContrast;
        .internet-explorer-message-title {
            color: $color-dark-highContrast;
        }
        .internet-explorer-message-body {
            color: $color-light-highContrast;
            background-color: $color-dark-highContrast;
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .internet-explorer-message {
        display: block;
    }
}
