#accessibility-nav {
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  text-align: right;
  li {
    display: inline-block;
    list-style: none;
    &.contrast {
      font-size: 1.3em;
      font-weight: bold;
      border-radius: 50%;
      width: 25px;
      max-height: 25px;
      text-align: center;
      margin: 0.25em;
      margin-top: 0.1em;
      a {
        margin: auto;
        text-decoration: none;
      }
    }

    &.contrast-default {
      display: none;
      background: $high-contrast-light-color;
      a {
        color: $high-contrast-dark-color;
      }
    }

    &.contrast-high {
      display: block;
      background: $high-contrast-dark-color;
      a {
        color: $high-contrast-highlight-color;
      }
    }
  }
}

body.contrast-high {

  li {
    color: $high-contrast-light-color;
  }

  #accessibility-nav {
    li {
      &.contrast-default {
        display: block;
      }

      &.contrast-high {
        display: none;
      }
    }
  }

  background-color: $high-contrast-dark-color;
  .table {
    background: $high-contrast-dark-color;
  }

  .table-hover {
    tbody tr:hover {
      background: $high-contrast-highlight-color;
      td {
        color: $high-contrast-dark-color;
      }
      th {
        color: $high-contrast-dark-color;
      }
      a {
        color: $link-color;
        text-decoration: underline;
      }
    }
  }

  .container, #main-content, header, footer, #disclaimer, .heading {
    background: $high-contrast-dark-color;
    border-color: $high-contrast-dark-color;
  }

  p, h2, h3, h4, span, td, th, a#text {
    color: $high-contrast-light-color;
  }

  a {
    color: $high-contrast-highlight-color;
  }

  h1 {
    color: $high-contrast-light-color;
  }

  li.contrast-default a {
    color: $high-contrast-dark-color !important;
  }
}

body.long.contrast-default{
  li.contrast-default{
    display: none;
  }
  li.contrast-high{
    display: block;
    @media only screen and (max-width: 767px) {
      width: 60px;
    }
  }
}

body.long.contrast-high{
  li.contrast-default{
    display: block;
    @media only screen and (max-width: 767px) {
      width: 60px;
    }
  }
  li.contrast-high{
    display: none;
  }
}

body.long {
  .navbar ul.navbar-nav li.contrast {
    @media only screen and (max-width: 768px) {
      display: none
    }
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 50px;
    text-align: center;
    margin-left: 1em;
    a {
      margin: auto;
      text-decoration: none;
      font-size: 14px;
    }
  }

  #accessibility-nav li.contrast {
    @media screen and (max-width: 500px) {
      font-size: 3vw;
    }
    @media screen and (min-width: 501px) {
      font-size: 1em;
    }
    border-radius: 5px;
    height: auto;
    width: auto;
    text-align: center;
    margin: 0.25em;
    margin-top: 0.1em;
    position: relative;
    top: -2px;
    max-height: 60px;
    max-width: 110px;
    a {
      margin: auto;
      text-decoration: none;
      padding: 1px;
    }
  }
}

body.contrast-high .site-intro .description{
  color: $high-contrast-light-color;
}

body.contrast-high #main-content .no-gutters img:not(#goal-18):hover {
  box-shadow: 0px 0px 0px 5px $high-contrast-highlight-color;
}

body.contrast-high footer a {
  color: $high-contrast-light-color;
  &:hover, &:focus {
    color: $high-contrast-highlight-color;
  }
}

body.contrast-high #disclaimer {
  .phase-tag {
    background: $high-contrast-light-color;
    color: $high-contrast-dark-color;
  }
  .disclaimer-alert {
    color: $high-contrast-light-color;
  }
}

body.contrast-high {
  .goal-tiles img {
    background-color: black !important;
    &:hover {
      background-color: black !important;
    }
  }
}

body.contrast-high {
  #map {
    // Temporary code until high-contrast mode is implemented for maps.
    a {
      color: $high-contrast-dark-color;
    }
    .selection-legend {
      .legend-values, #selection-list {
        li, span {
          color: $high-contrast-dark-color;
        }
      }
    }
  }
}
