.progress-status {
    .progress-status-image {
        max-width: 136px;
        img {
            max-width: 100%;
        }
    }
}
.indicator-progress {
    margin-top: 20px;
    margin-bottom: 20px;
}