.language-ar {
  direction: rtl;
}
.language-options {
  display: none;
  position: absolute;
  z-index: 999;
  left: 12px;
  background: $backgroundColor;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px $languageToggle-dropDown-shadowColor;
  padding: .2em 1em .2em .2em;
  li {
    padding: 5px;
    padding-left: 0;
  }
}

.language-toggle-button {
  cursor: pointer;
}
.navbar ul.navbar-nav li a.language-toggle-button {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}
.language-toggle-mobile {
  position: relative;
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  .language-options {
    left: -36px;
    li {
      padding-left: 5px;
    }
  }
  a {
    text-transform: uppercase;
    .language-toggle-text {
      display: none;
    }
    .language-toggle {
      display: none !important;
    }
    .fa-globe {
      font-size: 2em;
    }
  }
}

.navbar .language-toggle-links,
.language-toggle-links {
  margin-left: 10px;
  li {
    display: inline;
    vertical-align: middle;
    .language-toggle-link {
      margin-left: 2px;
      margin-right: 2px;
    }
  }
  li + li::before {
    content: " | ";
    vertical-align: top;
  }
}
.contrast-high {
  .language-toggle-mobile, ul.navbar-nav {
    .language-options a {
      color: $color-dark-highContrast;
      &:hover {
        color: $color-dark-highContrast;
      }
    }
  }
}
