.language-toggle-dropdown {
  margin-top: -2px;
  .dropdown-toggle {
    @include dropdownToggle;
    color: $text-color;
    padding: 5px;
    font-size: 16px;
  }
  .dropdown-menu {
    @include dropdownMenu;
  }
}
.language-toggle-menu-header .language-toggle-dropdown {
  margin-top: 0px;
  .dropdown-toggle {
    font-size: 14px;
    position: relative;
    .language-globe-in-dropdown {
      display: inline-block;
      position: relative;
      top: 1px;
      margin-right: 5px;
    }
  }
}

// Because the mobile dropdown uses abbreviations only, it can be smaller.
.language-toggle-mobile .dropdown-menu {
  min-width: auto;
}
.language-toggle-mobile {
  float: right;
  margin-top: 8px;
  margin-right: 5px;
}
.language-toggle-mobile .language-toggle-dropdown {
  .dropdown-toggle, .dropdown-menu {
    font-size: 14px;
  }
  .language-abbreviation, .language-toggle-caret {
    position: relative;
    bottom: 2px;
  }
  @media only screen and (min-width: 480px) {
    .language-toggle-caret {
      margin-left: 4px;
    }
  }
}
// If the language toggle is in the navbar menu, separate it from the
// normal menu items to call attention to it.
.language-toggle-menu-header .language-toggle-container {
  margin-left: 40px;
}
.language-toggle-menu-header .language-toggle-globe-links {
  padding-top: 5px;
}
.nav > li.language-toggle-menu-header {
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
}
// This logic is to display language abbreviations on mobile,
// but full language names on desktop.
.language-name {
  display: none;
}
.language-abbreviation {
  display: inline;
}
.language-globe-in-dropdown {
  display: inline;
}
@media only screen and (min-width: 480px) {
  .language-abbreviation {
    display: inline;
  }
}
@media only screen and (max-width: 480px) {
  .language-toggle-mobile {
    .dropdown-toggle {
      .language-abbreviation {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .language-name {
    display: inline;
  }
  .language-abbreviation {
    display: none;
  }
}

.language-abbreviation {
  text-transform: uppercase;
}
.language-toggle-container .fa-globe {
  font-size: 18px;
}
.language-toggle-mobile {
  .language-toggle-container .fa-globe {
    font-size: 25px;
  }
}
.language-toggle-globe-links {
  float: left;
  margin-right: 5px;
  padding-top: 2px;
}
.language-toggle-menu-footer .language-toggle-links {
  margin-top: 2px;
}
.language-toggle-menu-footer .language-toggle-globe-links {
  padding-top: 5px;
}
.language-toggle-links {
  padding-left: 0;
  float: left;
  li {
    display: inline;
    .language-toggle-link {
      margin-left: 2px;
      margin-right: 2px;
      color: $link-color;
      text-decoration: underline;
      &:hover {
        border: none;
        text-decoration: underline;
      }
    }
  }
  li + li::before {
    content: " | ";
  }
}
header .language-toggle-links {
  font-size: 14px;
  margin-top: 4px;
}
.language-toggle-menu-header
.language-toggle-menu-header .language-globe-in-dropdown {
  margin-right: 5px;
}
footer #footerLinks .language-toggle-menu-footer {
  margin-bottom: -5px;
}
.language-toggle-menu-footer .language-toggle-dropdown {
  .language-globe-in-dropdown {
    margin-right: 5px;
  }
  .language-toggle-caret {
    margin-left: 5px;
  }
}

.contrast-high {
  .fa-globe {
    color: $color-light-highContrast;
  }
  .language-toggle-link span, .language-toggle-link {
    color: $color-highlight-highContrast !important;
    &:hover, &:visited {
      color: $color-highlight-highContrast !important;
    }
  }
  .language-toggle-link:focus {
    &, span {
      color: $focusColor-highContrast !important;
    }
  }
  .language-toggle-dropdown {
    .dropdown-toggle {
      @include dropdownToggleHighContrast;
      &:hover {
        span, i {
          color: $color-highlight-highContrast !important;
        }
      }
      &:focus {
        span, i {
          color: $color-dark-highContrast !important;
        }
      }
    }
    .dropdown-menu {
      @include dropdownMenuHighContrast;
    }
  }
}

.contrast-type-single {
  a:focus {
    border-radius: 50%;
    box-shadow: none !important;
    outline: 4px solid $focusOutlineColor !important;
  }
}
.contrast-high {
  .contrast-type-single {
    a:focus {
      background-color: inherit !important;
      box-shadow: 1px 1px white, -1px -1px white !important;
    }
  }
}

// @deprecated start
.language-toggle-menu-header > .language-toggle.language-options {
  display: none;
  position: absolute;
  z-index: 999;
  left: 12px;
  color: #222;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  padding: .2em 1em .2em .2em;
  text-shadow: #f5f5f5 0 1px 0;
  li {
    padding: 5px;
  }
}
// @deprecated end
