// Leaflet map styles.
#main-content {
  #map {
    height: 500px;
    width: 100%;

    #loader-container {
      position: relative;
      height: 100%;
      width: 100%;
      background: $backgroundColor;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        height: auto;
      }
    }

    .leaflet-control-search {
      #map-search-combobox {
        display: inline;
      }
      .search-button {
        background-image: none;
        font-size: 20px;
        padding-left: 6px;
        color: $text-color;
      }
      .search-cancel {
        background-image: none;
        color: $text-color;
        font-size: 16px;
        line-height: 16px;
        height: 22px;
        padding: 5px;
        margin: 3px 1px;
      }
      .search-input {
        color: $text-color;
      }
    }
    .leaflet-bar-timecontrol {
      border-color: $text-color;
      .timecontrol-date {
        min-width: 80px;
        padding: 0 10px;
        color: $text-color;
        text-align: center;
      }
      .timecontrol-slider {
        @media only screen and (max-width: 680px) {
          display: none;
        }
        .knob {
          background-color: lighten($text-color, 50%);
          border-color: $text-color;
        }
        .slider {
          border-color: lighten($text-color, 25%);
        }
      }
      &.leaflet-control-attribution {
        background: $backgroundColor;
        a {
          color: $link-color;
        }
      }
    }
    .leaflet-control-fullscreen-button {
      background-image: none;
      font-size: 20px;
    }
    .disaggregation-select-container {
      background: $backgroundColor;
      padding: 5px;
      border: 2px solid rgba(0,0,0,0.3);
      border-radius: 5px;
      label {
        margin-right: 4px;
      }
    }
    .leaflet-control-attribution {
      @media only screen and (max-width: 480px) {
        max-width: 100px;
        text-align: right;
      }
    }
    .selection-legend {
      @media only screen and (max-width: 680px) {
        display: none;
      }
      padding: 0;
      min-width: 460px;
      margin-right: 25px;
      .legend-footer {
        position: relative;
        width: 150px;
        left: 310px;
        bottom: 0;
        .legend-swatches, .legend-values {
          @include preserveOriginalColors;
          position: relative;
          bottom: 0;
          width: 150px;
          left: 0;
        }
        .legend-swatches {
          height: 10px;
          .legend-swatch {
            display: block;
            float: left;
            height: 10px;
          }
        }
        .legend-values {
          bottom: -10px;
          .arrow {
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: -10px;
            z-index: 1;
            &.left {
              border-width: 20px 0 0 20px;
              border-color: transparent transparent transparent $backgroundColor;
              left: 0;
            }
            &.right {
              border-width: 0 0 20px 20px;
              border-color: transparent transparent $backgroundColor transparent;
              right: 1px;
              box-shadow: 1px 1px 1px 0px $map-legendValue-shadowColor;
            }
          }
          .legend-value {
            color: $text-color;
            padding: 0 4px;
            background: $backgroundColor;
            position: absolute;
            z-index: 2;
            &.left {
              left: 0;
            }
            &.right {
              right: 1px;
            }
            box-shadow: 1px 1px 1px 0px $map-legendValue-shadowColor;
          }
        }
      }
      #selection-list {
        margin-bottom: 0;
        dt, dd {
          min-height: 25px;
          margin-bottom: 5px;
        }
        dt {
          float: left;
          clear: left;
          width: 300px;
          text-align: right;
          padding-top: 4px;
          .selection-name-background {
            background-color: rgba(255,255,255,0.6);
            padding: 5px;
          }
        }
        dd {
          margin-left: 310px;
          position: relative;
          width: 150px;
          background-color: rgba(150, 150, 150, 0.6);
          cursor: pointer;
          .selection-value, .selection-bar {
            position: absolute;
            left: 0;
          }
          .selection-bar, .selection-value {
            height: 25px;
            position: absolute;
          }
          .selection-bar {
            border-radius: 2px 0 0 2px;
            background: $map-legendBar-color;
            z-index: 1;
          }
          &.no-value {
            .selection-bar, .selection-value {
              display: none;
            }
          }
          .selection-value {
            z-index: 2;
            padding: 3px;
            border-radius: 2px;
          }
          .selection-value-high {
            right: 0;
            text-align: right;
            background-color: $map-legendValue-color;
            .selection-value-high-background {
              background-color: $map-legendValue-backgroundColor;
              padding: 2px;
              border-radius: 5px;
            }
          }
          .selection-value-low {
            .selection-value-low-background {
              background-color: $map-legendValue-backgroundColor;
              padding: 2px;
              border-radius: 5px;
            }
          }
          .selection-close {
            top: 1px;
            right: -20px;
            position: absolute;
            z-index: 3;
            padding: 6px;
          }
        }
      }
    }
  }
}

#embeddedmapview h3 {
  text-align: center;
}
