#global {
    td > h1:first-of-type {
        display: none;
    }
    td > h2:first-of-type {
        display: none;
    }
    td > h2 {
        font-size: inherit;
        font-weight: bold;
    }
}
