.navbar-toggler {
    margin-top: .325rem;
    &:focus-visible {
        border-color: transparent;
    }
}

body.contrast-high {
    .navbar-toggler {
        background: $color-light-highContrast;
    }
}