.danger {
  background-color: $color-danger;
}
.warning {
  background-color: $color-warning;
}
.success {
  background-color: $color-success;
}

#data-notice {
  .data-notice {
    display: inline-block;
    margin-left: 20px;
  }
  .notice-heading {
    font-size: 19px;
    font-weight: bold;
  }
  .fa-exclamation-circle {
    font-size: 60px;
    margin-left: 20px;
  }
}

body.contrast-high {

  #page-content {
    .alert {
      div {
        p, h4 {
          color: $color-dark-highContrast;
	      }
      }
    }
  }

  .danger {
    background-color: $color-danger-highContrast;
  }
  .warning {
    background-color: $color-highlight-highContrast;
  }
  .success {
    background-color: $color-success-highContrast;
  }
}
