.panel {
  box-sizing: border-box;
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.2em 0.7em;
  margin-bottom: 0.78947em;
}

h3.govuk-heading-s {
	font-size: 22px;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

.panel-border-wide {
  border-left-width: 10px;
}

.danger {
    background-color: $color-danger-light;
    border-colour: $color-danger;
  }
  .warning {
    background-color: $color-warning-light;
    border-colour$color-warning;
  }
  .success {
    background-color: $color-success-light;
    border-color: $color-success;
  }

body.contrast-high {

  #page-content {
    .alert {
      div {
        p, h4 {
          color: $color-dark-highContrast;
	      }
      }
    }
  }

  .danger {
    background-color: $color-danger-light-highContrast;
    border-colour: $color-danger-highContrast;
  }
  .warning {
    background-color: $color-warning-light-highContrast;
    border-colour$color-warning-highContrast;
  }
  .success {
    background-color: $color-success-light-highContrast;
    border-color: $color-success-highContrast;
  }
}
