.danger {
  background-color: $danger-color;
}
.warning {
  background-color: $warning-color;
}
.success {
  background-color: $success-color;
}

.data-notice {
  display: inline-block;
  margin-left: 20px;
}

body.contrast-high {

  #page-content {
    .alert {
      div {
        p, h4 {
          color: $high-contrast-dark-color;
	      }
      }
    }
  }

  .danger {
    background-color: $high-contrast-danger-color;
  }
  .warning {
    background-color: $high-contrast-highlight-color;
  }
  .success {
    background-color: $high-contrast-success-color;
  }
}
