.progress-status {
    font-size: 14px;
    img {
        width: 70px;
        max-width: 100%;
    }
}
.progress-status-heading {
    float: left;
    margin-right: 20px;
}
.indicator-progress {
    margin-bottom: 20px;
    margin-top: 20px;
}
