.progress-status {
    font-size: 12px;
    img {
        max-width: 100%;
    }
}
.progress-status-heading {
    @media screen and (min-width: 769px) {
        float: left;
        margin-right: 20px;
    }
}
.indicator-progress {
    margin-bottom: 10px;
}
