#sources {
    .row > div:nth-child(odd) {
        clear: left;
    }
}

#indicator-sources {
    .indicator-source-table {
        table-layout: fixed;
        img {
            max-width: 100%;
        }
    }
}