body.contrast-high {
  .nav-tabs {
    border-color: $color-highlight-highContrast;
  }

  #main-content .nav-tabs .nav-item.active a {
    background: $color-highlight-highContrast;
    color: $color-dark-highContrast;
    border-color: $color-highlight-highContrast; }

  a.nav-link:focus {
    background: $color-light-highContrast;
    color: $color-dark-highContrast;
  }

}

@media only screen and (max-width: 768px) {
  #main-content .nav-tabs .nav-item {
    width: 100%;
    a {
      margin-right: 0;
    }
    &.active {
      margin-bottom: 1px;
      border-bottom: 1px solid black;
    }
    &:not(.active) {
      border-bottom: 1px solid black;
      margin-bottom: 0;
    }
  }
}
