---
layout: default
---
<div id="main-content" class="container">
  <div class="row">
    <div class="col-xs-12">
      {{content}}
      {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div class="archive-group">
          {% capture category_name %}{{ category | first }}{% endcapture %}
          <div id="#{{ category_name | slugize }}">
            <h4 class="category-head">{{ category_name | t }}</h4>
            <a name="{{ category_name | slugize }}"></a>
            {% assign posts = site.categories[category_name] | where: 'language', page.language %}
            {% for post in posts %}
            <article class="archive-item">
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | t_date: "standard" }}</time> - <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
            </article>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
