{% include head.html noindex=true %}
{% include header.html %}
<div id="main-content" class="container" role="main">
  <div class="row no-gutters">
    <div class="col-md-12"><h1>{{ page.title }}</h1></div>
  </div>
  <div class="col-md-12 config-widgets">
    <div class="col-md-6 data-grid-buttons">
      <label for="add-column-name">Column name</label>
      <input id="add-column-name" />
      <button class="btn btn-primary btn-download" id="add-column">Add column</a>
    </div>
    <div class="col-md-6 data-download-buttons">
      <div>
        <button class="btn btn-primary btn-download" id="export">Download data</button>
      </div>
      {% if page.form_settings.repository_link and page.form_settings.repository_link != '' %}
      <div>
        <a class="btn btn-primary btn-download" target="_blank" href="{{ page.form_settings.repository_link }}">
          Go to repository
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row no-gutters">
    <div class="editor-wrapper col-md-12">
      <div id="editor-holder" style="height: 900px; width: 100%;" class="ag-theme-alpine"></div>
    </div>
  </div>

  <script src="https://unpkg.com/papaparse@latest/papaparse.min.js"></script>
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">

  <script>
  var httpRequest;
  var gridOptions;
  function makeRequest() {
    httpRequest = new XMLHttpRequest();

    if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }
    httpRequest.onreadystatechange = displaySpreadsheet;
    httpRequest.open('GET', '{{ page.remote_data_prefix_untranslated }}/data/{{ page.indicator_number }}.csv');
    httpRequest.send();
  }

  function displaySpreadsheet() {
    if (httpRequest.readyState === XMLHttpRequest.DONE) {
      if (httpRequest.status === 200) {
        var csvString = httpRequest.responseText;
        var csvData = Papa.parse(csvString, {header: true});
        var columnDefs = [],
            rowData = [];
        if (csvData.data.length > 0) {
          rowData = csvData.data;
          columnDefs = Object.keys(rowData[0]).map(function(key) {
            return { field: key, headerName: key };
          });
        }
        var container = document.getElementById('editor-holder');
        gridOptions = {
          defaultColDef: {
            editable: true,
            resizable: true,
            minWidth: 100,
            flex: 1,
          },
          columnDefs: columnDefs,
          rowData: rowData,
          undoRedoCellEditing: true,
          undoRedoCellEditingLimit: 5,
          enableCellChangeFlash: true,
          enterMovesDownAfterEdit: true,
          suppressDragLeaveHidesColumns: true,
          onCellValueChanged: function(info) {
            if (info.rowIndex + 1 === this.api.getDisplayedRowCount()) {
              this.api.applyTransaction({
                add: [{}],
              });
            }
          }
        };

        new agGrid.Grid(container, gridOptions);
      } else {
        alert('There was a problem when loading the data. Please edit the data in some other way (such as in Github).');
      }
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    makeRequest();
  });

  document.getElementById('export').onclick = function() {
    gridOptions.api.exportDataAsCsv({
      fileName: '{{ page.config_filename }}',
    });
  }

  document.getElementById('add-column').onclick = function() {
    var columnName = document.getElementById('add-column-name').value;
    if (columnName && columnName !== '') {
      var columnDefs = gridOptions.columnDefs;
      columnDefs.push({ field: columnName, headerName: columnName });
      gridOptions.api.setColumnDefs(columnDefs);
    }
    else {
      alert('Please enter a column name first and then try again.');
    }
  }
  </script>
</div>
{% include footer.html %}