{% comment %}
Currently the "frontpage.html" layout is serving 2 purposes:

1. A front page
2. A landing page for the 17 goals

This file will serve as a more targetted front page, and thus only serves
purpose #1 above. It is temporarily called "frontpage-alt.html", so as not to
conflict with the existing "frontpage.html". Eventually (at the next major
release) this can replace frontpage.html.
{% endcomment %}
{% include head.html %}
{% include header.html %}
<div id="main-content" class="container" role="main">

    {% if site.frontpage_introduction_banner %}
    <div class="site-intro">
        <h1>{{ site.frontpage_introduction_banner.title | t }}</h1>
        <div class="lead-copy">{{ site.frontpage_introduction_banner.description | t | markdownify }}</div>
    </div>
    {% endif %}

    {% if site.frontpage_goals_grid %}
    <div class="frontpage-goals-grid">

        {% if site.frontpage_goals_grid.title %}
        <h2 class="frontpage-goals-grid-title">{{ site.frontpage_goals_grid.title | t }}</h2>
        {% endif %}

        {% if site.frontpage_goals_grid.description %}
        <div class="frontpage-goals-grid-description">{{ site.frontpage_goals_grid.description | t | markdownify }}</div>
        {% endif %}

        <div class="goal-tiles">
            <div class="row no-gutters">
                {% for goal in page.goals %}
                <div class="col-xs-4 col-sm-2 col-md-1 goal-tile">
                    <a href="{{ goal.url }}">
                        <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" />
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    {% if site.frontpage_cards %}
    <div class="frontpage-cards">
    {% for card in site.frontpage_cards %}
        {% assign remainder = forloop.index | modulo: 3 %}

        {% if remainder == 1 or forloop.first %}
        <div class="row">
        {% endif %}

        {% include components/card.html card=card %}

        {% if remainder == 0 or forloop.last %}
        </div>
        {% endif %}

    {% endfor %}
    </div>
    {% endif %}

</div>
{% include footer.html %}
