{% include head.html %}
{% include header.html %}
<div id="main-content" class="container goal-tiles" role="main">

    {% assign country_name = site.country.name | t %}
    {% assign heading_default = page.t.frontpage.heading | replace: '%name', country_name %}
    <h1>{{ site.frontpage_heading | default: heading_default | t }}</h1>

    {% assign instructions_default = page.t.frontpage.instructions | replace_first: '%before_link', '<span id="jump-to-search"><a>' | replace_first: '%after_link', '</a></span>' | replace_first: '%name', country_name %}
    <p>{{ site.frontpage_instructions | default: instructions_default | t }}</p>
    {% for goal in page.goals %}
        {% cycle 'add row' : '<div class="row no-gutters">', '', '', '', '', '' %}
            <div class="col-xs-4 col-md-2">
                <a href="./{{ goal.number }}/">
                  <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" />
              </a>
            </div>
        {% cycle 'end row' : '', '', '', '', '', '</div>' %}
    {% endfor %}
    {% comment %}
        If there were exactly 17 goals, "pad" it with the download link.
    {% endcomment %}
    {% if page.goals.size == 17 %}
        <div class="col-xs-4 col-md-2 download-all-indicators">
            <a aria-label="{{ page.t.frontpage.download_all | escape }}"
               title="{{ page.t.frontpage.download_all | escape }}"
               href="{{ page.remote_data_prefix | append: '/zip/all_indicators.zip' }}">
              <i class="fa fa-download"></i>
            </a>
        </div>
    {% endif %}
    </div>
</div>
{% include footer.html %}
