{% include head.html %}
{% include header.html %}

<div class="container">
  {% include components/goal/breadcrumbs.html %}
  {% if site.create_goals.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.goal.previous next_label=page.t.goal.next %}
  {% endif %}
</div>

{% include components/goal/header.html %}

<div id="main-content" class="container goal-indicators goal-{{ page.goal.number }} goal-by-target" role="main">

  {% include components/goal/goal-content.html content=content %}

  <div class="visible-md-block visible-lg-block">
    <div class="col-md-6">
      <h2>{{ page.t.general.targets }}</h2>
    </div>
    <div class="col-md-6">
      <h2>{{ page.t.general.indicators }}</h2>
    </div>
  </div>

  {% assign goal_indicators = page.indicators | where: 'goal_number', page.goal.number | group_by: 'target_number' %}
  {% for group in goal_indicators %}
    {% assign target = group.name | sdg_lookup %}
    <div class="indicator-cards target goal-target col-md-6">
      <span class="indicator-card-number">
        <label class="hidden-md hidden-lg">{{ page.t.general.target }}</label>
        {{ target.number }}
      </span>
      {{ target.name }}
    </div>
    <div class="indicator-cards col-md-6 row no-gutters">
    {% for indicator in group.items %}

      {% assign tag_classes = "" | split: "," %}
      {% if indicator.tags %}
        {% for tag in indicator.tags %}
          {% assign tag_slug = "indicator-" | append: tag | slugify %}
          {% assign tag_classes = tag_classes | push: tag_slug %}
        {% endfor %}
      {% endif %}
      {% assign tag_classes = tag_classes | join: " " %}

      <div class="col-md-12 {{ tag_classes }} goal-indicator">
        {% if indicator.placeholder and indicator.placeholder != '' %}
        <span class="indicator-card-number">
          {{ indicator.number }}
        </span>
        {{ indicator.placeholder }}
        {% else %}
        <span class="indicator-card-number">
          {{ indicator.number }}
          {% include components/reportingstatus/reporting-status-label.html indicator=indicator %}
        </span>
        <a href="{{ indicator.url }}">
          {{ indicator.name }}
        </a>
        {% include components/indicator/tags.html tags=indicator.tags %}
        {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>

{% include footer.html %}
