{% include head.html %}
{% include header.html %}

<div class="container">
  {% include components/goal/breadcrumbs.html %}
  {% if site.create_goals.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.goal.previous next_label=page.t.goal.next %}
  {% endif %}
</div>

<div class="heading goal-banner goal-{{ page.goal.number }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2 goal-tiles">
        <img src="{{ page.goal.icon }}" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <span class="hidden-sm hidden-md hidden-lg">{{ page.t.general.goal }} {{ page.goal.number }}: </span>{{ page.goal.name }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-indicators goal-{{ page.goal.number }}" role="main">

  {% include components/goal/goal-content.html content=content %}

  {% assign goal_indicators = page.indicators | where: 'goal_number', page.goal.number %}
  {% for indicator in goal_indicators %}

    {% assign status_css = indicator.reporting_status | slugify %}
      {% if indicator.reporting_status == 'notapplicable' %}
        {% assign status_desc = page.t.status.not_applicable %}
      {% endif %}
      {% if indicator.reporting_status == 'notstarted' %}
        {% assign status_desc = page.t.status.exploring_data_sources %}
      {% endif %}
      {% if indicator.reporting_status == 'inprogress' %}
        {% assign status_desc = page.t.status.statistics_in_progress %}
      {% endif %}
      {% if indicator.reporting_status == 'complete' %}
        {% assign status_desc = page.t.status.reported_online %}
      {% endif %}
    {% assign tag_classes = "" | split: "," %}
    {% if indicator.tags %}
      {% for tag in indicator.tags %}
        {% assign tag_slug = "indicator-" | append: tag | slugify %}
        {% assign tag_classes = tag_classes | push: tag_slug %}
      {% endfor %}
    {% endif %}
    {% assign tag_classes = tag_classes | join: " " %}

    {% cycle 'add row' : '<div class="indicator-cards row no-gutters">', '', '', '' %}
        <div class="col-md-6 col-lg-3 {{ tag_classes }} goal-indicator">
          <a href="{{ indicator.url }}">
            <span class="indicator-card-number">
              {{ indicator.number }}
              <span class="status {{ status_css }}">
                {{ status_desc }}
              </span>
            </span>
            {{ indicator.name }}
          </a>
          {% include components/indicator/tags.html tags=indicator.tags %}
        </div>
    {% cycle 'end row' : '', '', '', '</div>' %}
    {% endfor %}
	 	{% assign last_row = goal_indicators.size | modulo:4 %}
		{% if last_row != 0 %}
			</div>
		{% endif %}
</div>

{% include footer.html %}
