{% include head.html %}
{% include header.html %}
{% assign goal_number = page.sdg_goal %}
{% assign translated_goal = t.global_goals[goal_number] %}

<div class="heading goal-{{page.sdg_goal}}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <img src="{{ site.baseurl }}/assets/img/goals/{{ current_language }}/{{ goal_number }}.png" alt="{{ translated_goal.short }} - {{ t.general.goal }} {{ goal_number }}" />
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <span class="hidden-sm hidden-md hidden-lg">{{ t.general.goal }} {{ goal_number }}: </span>{{ translated_goal.title }}
        </h1>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-indicators goal-{{page.sdg_goal}}">

  {{ content }}
  {% include components/breadcrumb.html %}

  {% assign goal_indicators = site.data.meta | where: 'sdg_goal', page.sdg_goal | sort: 'indicator_sort_order' %}
  {% for indicator in goal_indicators %}
    {%- assign translated_indicator = t.global_indicators[indicator.indicator] -%}

    {% if indicator.reporting_status == 'notstarted' %}
      {% assign status_desc = t.status.exploring_data_sources %}
      {% assign status_css = 'danger' %}          
    {% endif %}
    {% if indicator.reporting_status == 'inprogress' %}
      {% assign status_desc = t.status.statistics_in_progress %}
      {% assign status_css = 'warning' %}          
    {% endif %}
    {% if indicator.reporting_status == 'complete' %}
      {% assign status_desc = t.status.reported_online %}
      {% assign status_css = 'success' %}
    {% endif %}

    {% cycle 'add row' : '<div class="indicator-cards row no-gutters">', '', '', '' %}
        <div class="col-md-6 col-lg-3">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ indicator.indicator | slugify }}"><span>{{ indicator.indicator }}<span class="status {{ status_css }}">{{ status_desc }}</span></span> {{ translated_indicator.title }}</a>
        </div>
    {% cycle 'end row' : '', '', '', '</div>' %}
    {% endfor %}
	 	{% assign last_row = goal_indicators.size | modulo:4 %}
		{% if last_row != 0 %}
			</div>
		{% endif %}
</div>

{% include footer.html %}
