{% include head.html %}
{% include header.html %}

<div class="container">
  {% include components/goal/breadcrumbs.html %}
  {% if site.create_goals.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.goal.previous next_label=page.t.goal.next %}
  {% endif %}
</div>

{% include components/goal/header.html %}

<div id="main-content" class="container" role="main">

  {% include components/goal/goal-content.html content=content %}

  <div class="container">
    <h2>{{ page.t.general.targets_and_indicators }}</h2>

    {% assign goal_indicators = page.indicators | where: 'goal_number', page.goal.number | group_by: 'target_number' %}
    {% for group in goal_indicators %}
      {% assign target = group.name | sdg_lookup %}
      <div class="row no-gutters goal-target-and-indicators">
        <h3 class="goal-target">
          <span class="target-number"><span class="sr-only">{{ page.t.general.target }}</span> {{ target.number }}</span>
        </h3>
        <span class="target-name">{{ target.name }}</span>
        {% for indicator in group.items %}

          {% assign tag_classes = "" | split: "," %}
          {% if indicator.tags %}
            {% for tag in indicator.tags %}
              {% assign tag_slug = "indicator-" | append: tag | slugify %}
              {% assign tag_classes = tag_classes | push: tag_slug %}
            {% endfor %}
          {% endif %}
          {% assign tag_classes = tag_classes | join: " " %}

          <div class="goal-indicator">
            <h4>
              <span class="indicator-number"><span class="sr-only">{{ page.t.general.indicator }}</span> {{ indicator.number }}</span>
            </h4>
            {% if indicator.placeholder and indicator.placeholder != '' %}
            <span class="indicator-name">{{ indicator.placeholder }}</span>
            {% else %}
            <span class="indicator-name"><a href="{{ indicator.url }}">{{ indicator.name }}</a></span>
            <span class="sr-only">{{ page.t.indicator.status }}</span>
            {% include components/reportingstatus/reporting-status-label.html indicator=indicator %}
            {% include components/indicator/tags.html tags=indicator.tags %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>

{% include footer.html %}
