{% include head.html %}
{% include header.html %}
<div id="main-content" class="container" role="main">

    {% include components/goals-introduction.html %}

    <div class="goal-tiles">
        <div class="row {% if site.bootstrap_5 %}g-2{% else %}no-gutters{% endif %}">
            {% for goal in page.goals %}
            <div class="{% if site.bootstrap_5 %}col-4{% else %}col-xs-4{% endif %} col-md-2 goal-tile">
                <a href="{{ goal.url }}">
                    <img src="{{ goal.icon }}" id="goal-{{ goal.number }}" alt="{{ goal.short | escape }} - {{ page.t.general.goal }} {{ goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
                </a>
            </div>
            {% endfor %}
            {% comment %}
            If there were exactly 17 goals, "pad" it with 1 more, to make it come
            out more symmetrically.
            {% endcomment %}
            {% if page.goals.size == 17 %}
            <div class="{% if site.bootstrap_5 %}col-4{% else %}col-xs-4{% endif %} col-md-2 goal-tile global-goals-extra-icon">
                <img src="{{ site.goal_image_base }}/{{ page.language }}/18.png" id="goal-18" alt="The Global Goals for Sustainable Development" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}" />
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% include footer.html %}
