{% include head.html %}
{% include header.html %}

{% include components/indicator/fields-template.html %}
{% include components/indicator/units-template.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}

{% include components/indicator/header.html %}
<div id="main-content" class="container goal-{{ page.goal.number }}">
  {% include components/indicator/breadcrumbs.html %}
  {% include components/indicator/data-notice.html %}
  {% include components/indicator/indicator-available.html %}
  {% include components/indicator/indicator-content.html %}
  {% include components/indicator/data-section.html %}
  {% include components/indicator/metadata-section.html %}
</div>

{% include footer.html %}
