{% include head.html %}
{% include header.html %}
{% include components/fields-template.html %}
{% include components/units-template.html %}
{% include multilingual-js.html key="indicator" %}
{% include multilingual-js.html key="data" %}

<div class="heading indicator goal-{{ page.goal.number }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <a href="{{ page.goal.url }}" title="{{ page.t.indicator.view_indicator_list }}">
          <img src="{{ page.goal.icon }}" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" />
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <a href="{{ page.goal.url }}">
            <span class="hidden-sm hidden-md hidden-lg">{{ page.t.general.goal }} {{ page.goal.number }}: </span>{{ page.goal.name }}
          </a>
        </h1>
        <h2>{{ page.t.general.indicator }} {{ page.indicator.number }}: {{ page.indicator.name }}</h2>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-{{ page.goal.number }}">
  <ol class="breadcrumb">
    <li><a href="{{ page.baseurl }}">{{ page.t.general.home }}</a></li>
    <li><a href="{{ page.goal.url }}" title="{{ page.goal.name | escape }}">{{ page.t.general.goal }} {{ page.goal.number }}</a></li>
    <li class="active">{{ page.t.general.indicator }} {{ page.indicator.number }}</li>
  </ol>

  <div class="row" id="page-content-row">
    <div class="col-xs-12">
      {% include components/data-notice.html %}
      {% include components/indicator-content.html %}
    </div>
  </div>

  {% if page.indicator.indicator_available %}
  <div class="row metadata-available-indicator">
    <div class="col-xs-12">
      <h2>{{ page.indicator.indicator_available }}</h2>
    </div>
  </div>
  {% endif %}

  {% assign sources_list = '' | split: ',' %}
  {% for i in (1..12) %}
    {% assign src_active = "source_active_" | append: i %}
    {% if page.indicator[src_active] == true %}
      {% assign src_org = "source_organisation_" | append: i %}
      {% assign src_org_translated = page.indicator[src_org] %}
      {% assign sources_list = sources_list | push: src_org_translated  %}
    {% endif %}
  {% endfor %}

  {% assign uniqSources = sources_list | uniq | join: ", " %}

  {% if page.indicator.reporting_status != "complete" or page.indicator.data_non_statistical == true %}
    {% assign show_data = false %}
  {% else %}
    {% assign show_data = true %}
  {% endif %}
  <div class="row" id="indicatorData" data-indicatorid='indicator_{{ page.indicator.slug }}' data-id="{{ page.indicator.slug }}" data-country="{{ page.indicator.national_geographical_coverage }}"
  data-charttitle="{{ page.indicator.graph_title }}" data-measurementunit="{{ page.indicator.computation_units }}" data-datasource="{{ uniqSources }}" data-copyright="{{ page.indicator.copyright }}"
  data-geographicalarea="{{ page.indicator.national_geographical_coverage }}" data-footnote="{{ page.indicator.data_footnote }}" data-showdata="{{ show_data }}" data-graphtype="{{ page.indicator.graph_type }}"
  data-geocoderegex="{{ page.indicator.data_geocode_regex }}" data-showmap="{{ page.indicator.data_show_map }}" data-startvalues="{{ page.indicator.data_start_values | join: '|' }}">

    {% if show_data %}
    <div id="indicator-sidebar" class="col-md-3">
      <div id="toolbar">
        <span id="series-help">
          <h4>{{ page.t.indicator.sub_categories }}</h4>
          <p>{{ page.t.indicator.series_help }}</p>
        </span>
        <p>{{ page.t.indicator.legend_help }}</p>
        <div id="fields">
          <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>
        </div>
      </div>
      <div id="units"></div>
    </div>
    <div id="indicator-main" class="col-md-9">
    {% else %}
    <div id="indicator-main" class="col-md-12">
    {% endif %}

      {% if show_data %}
      {% include components/headline.html %}
      {% endif %}

      <section>

        {% if show_data %}
        <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>

        <div style="margin-top: 30px"></div>
        
        <div class="async-loaded" style="display:none">
          <ul class="nav nav-tabs data-view" role="tablist">
            <li role="presentation" class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#chartview" aria-controls="chartview" role="tab" {% include autotrack.html preset="tab_data_chart" category="Tab change" action="Change data view" label="Change to Chart tab" %}>{{ page.t.indicator.chart }}</a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tableview" aria-controls="tableview" role="tab" {% include autotrack.html preset="tab_data_table" category="Tab change" action="Change data view" label="Change to Table tab" %}>{{ page.t.indicator.table }}</a>
            </li>
            <li role="presentation" class="nav-item map" style="display:none">
              <a data-no-disagg="true" class="nav-link" data-toggle="tab" href="#mapview" aria-controls="mapview" role="tab" {% include autotrack.html preset="tab_data_map" category="Tab change" action="Change data view" label="Change to Map tab" %}>{{ page.t.indicator.map }}</a>
            </li>
            {%- if page.indicator.embedded_feature_url -%}
            <li role="presentation" class="nav-item embedded-map">
              <a data-no-disagg="true" class="nav-link" data-toggle="tab" href="#embeddedmapview" aria-controls="embeddedmapview" role="tab" {% include autotrack.html preset="tab_data_embed" category="Tab change" action="Change data view" label="Change to embedded item tab" %}>{{ page.indicator.embedded_feature_tab_title }}</a>
            </li>
          </li>
            {%- endif -%}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content data-view">
            <div role="tabpanel" class="tab-pane active" id="chartview">
              {% include components/charts/chart.html graph_type=page.indicator.graph_type %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tableview">
              <div id="selectionsTable"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mapview" class="map">
              <div id="map">
                <img src="{{ site.baseurl }}/assets/img/loading.gif" alt="{{ page.t.indicator.loading_map }}" />
              </div>
            </div>
            {% if page.indicator.embedded_feature_url %}
            <div role="tabpanel" class="tab-pane" id="embeddedmapview" class="embedded-map">
              <div role="tabpanel" class="tab-pane" id="embeddedmapview" >
              <div class="row">
              <div class="col-xs-12">
                <h3 tabindex="0">{{ page.indicator.embedded_feature_title }}</h3>
              </div>
            </div>
              <div class="embedded-map" id="embeddedmapframe">
                <script type="text/javascript" src="https://pym.nprapps.org/pym.v1.min.js"></script>
                <script>document.querySelector("li.nav-item.embedded-map").addEventListener("click",function(){ var pymParent = new pym.Parent('embeddedmapframe', '{{ page.indicator.embedded_feature_url }}', {});})</script>

              </div>
              {% if page.indicator.embedded_feature_footer %}
                <div id="embedfooter" class="table-footer-text">
                  <p>{{ page.indicator.embedded_feature_footer | markdownify}}</p>
                </div>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}

        <div style="margin-top: 30px"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        {% if site.metadata_tabs %}
          {% for tab in site.metadata_tabs %}
          {% assign tab_key = tab[0] %}
          {% assign tab_obj = tab[1] %}
          {% assign tab_preset = "tab_meta_" | append: tab_key %}
          {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
          <li role="presentation" class="nav-item {% if forloop.first %}active{% endif %}">
            <a class="nav-link" data-toggle="tab" href="#{{ tab_key }}" aria-controls="{{ tab_key }}" role="tab" {% include autotrack.html preset=tab_preset category="Tab change" action="Change metadata view" label=tab_label %}>{{ tab_obj.title | t }}</a>
          </li>
          {% endfor %}
        {% else %}
          <li role="presentation" class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#national" aria-controls="national" role="tab" {% include autotrack.html preset="tab_meta_national" category="Tab change" action="Change metadata view" label="Change to National Metadata tab" %}>{{ site.non_global_metadata | default: 'indicator.national_metadata' | t }}</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#global" aria-controls="global" role="tab" {% include autotrack.html preset="tab_meta_global" category="Tab change" action="Change metadata view" label="Change to Global Metadata tab" %}>{{ page.t.indicator.global_metadata }}</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab" {% include autotrack.html preset="tab_meta_sources" category="Tab change" action="Change metadata view" label="Change to Sources tab" %}>{{ page.t.indicator.sources }}</a>
          </li>
        {% endif %}
          {% if site.environment == 'staging' %}
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">{{ page.t.indicator.edit }}</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          {% if site.metadata_tabs %}
            {% for tab in site.metadata_tabs %}
            {% assign tab_key = tab[0] %}
            {% assign tab_obj = tab[1] %}
            {% assign tab_include = 'components/metadata.html' %}
            {% if tab_key == 'sources' %}
              {% assign tab_include = 'components/sources.html' %}
            {% endif %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab_key }}">
              <article>
                {% if tab_obj.blurb %}<p>{{ tab_obj.blurb | t }}</p>{% endif %}
                {% include {{ tab_include }} scope=tab_key %}
              </article>
            </div>
            {% endfor %}
          {% else %}
          <div role="tabpanel" class="tab-pane active" id="national">
            <!-- National Metadata -->
            <div > <!-- formerly class="collapsible expanded" -->
              <!-- <h3 tabindex='0'>National Metadata</h3> -->
              <article>
                <p>
                  {% assign country_name = site.country.name | t %}
                  {% assign country_adjective = site.country.adjective | t %}
                  {{ page.t.indicator.national_metadata_blurb | replace: '%country_name', country_name | replace: '%country_adjective', country_adjective }}
                </p>
                {% include components/metadata.html scope='national' %}
              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="global">
            <!-- Global Metadata -->
            <div> <!-- formerly <div class="collapsible expanded"> -->
              <!-- <h3 tabindex='0'>Global Metadata</h3> -->
              <article>
                <p>{{ page.t.indicator.global_metadata_blurb }}</p>
                {% include components/metadata.html scope='global' %}
              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="sources">
            {% include components/sources.html %}
          </div>
          {% endif %}
          {% if site.environment == 'staging' %}
          <div role="tabpanel" class="tab-pane" id="edit">
            <div class="edit-container">
              {% include components/edit-buttons.html %}
            </div>
          </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</div>

{% include footer.html %}
