{% include head.html %}
{% include header.html %}
{% include components/fields-template.html %}
{% include components/units-template.html %}
{% include multilingual-js.html key="indicator" %}

{% capture indicator_id %}{{page.indicator | slugify}}{% endcapture %}
{% assign meta = site.data.meta[indicator_id] %}
{%- if meta[current_language] -%}
  {%- assign meta = meta[current_language] -%}
{%- endif -%}
{% assign headline = site.data.headline[indicator_id] %}

{%- assign goal_number = meta.sdg_goal | downcase -%}
{%- assign goal = site.data.translations[default_language].global_goals[goal_number] -%}
{%- assign translated_goal = t.global_goals[goal_number] -%}
{% capture goal_uri %}{{ site.baseurl }}{{ baseurl_folder }}/{{ goal.short | slugify }}{% endcapture %}

{% if meta.reporting_status != "complete" or meta.data_non_statistical == true %}
  {% assign show_data = false %}
{% else %}
  {% assign show_data = true %}
{% endif %}

{% capture goal_href %}{{ goal_uri }}{% endcapture %}
{% capture goal_title %}{{ goal.title }}{% endcapture %}
{% capture indicator_title %}{{ meta.title }}{% endcapture %}

{% capture dataset_name %}indicator_{{meta.indicator | slugify }}{% endcapture %}

{% assign sdg_indicator_data = site.data[dataset_name] %}
{% assign indicator_metadata = sdg_indicators | where: "indicator_id", meta.indicator | first %}
{% assign json_data = sdg_indicator_data | jsonify %}
{%- assign indicator_number = meta.indicator -%}
{%- assign translated_indicator = t.global_indicators[indicator_number] -%}

<div class="heading indicator goal-{{ goal_number }}">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2">
        <a href="{{ goal_uri }}" title="{{ t.indicator.view_indicator_list }}">
          <img src="{{ site.baseurl }}/assets/img/goals/{{ current_language }}/{{ goal_number }}.png" alt="{{ translated_goal.short }} - {{ t.general.goal }} {{ goal_number }}" />
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10">
        <h1>
          <a href="{{ goal_uri }}">
            <span class="hidden-sm hidden-md hidden-lg">{{ t.general.goal }} {{ goal_number }}: </span>{{ translated_goal.title }}
          </a>
        </h1>
        <h2>{{ t.general.indicator }} {{ indicator_number }}: {{ translated_indicator.title }}</h2>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="container goal-{{ goal_number }}">
  {% include components/breadcrumb.html %}

  <div class="row" id="page-content-row">
    <div class="col-xs-12">
      {% include components/indicator-content.html %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2>{{ meta.graph_title }}</h2>
    </div>
  </div>

  <div class="row" id="indicatorData" data-indicatorid='{{dataset_name}}' data-id="{{meta.indicator | slugify }}" data-country="{{ meta.national_geographical_coverage }}"
  data-charttitle="{{ meta.graph_title }}" data-measurementunit="{{ meta.computation_units }}" data-datasource="{{ meta.source_organisation_1 }}" data-geographicalarea="{{ meta.national_geographical_coverage }}" data-footnote="{{ meta.data_footnote }}" data-showdata="{{ show_data }}" data-graphtype="{{ meta.graph_type }}" data-geocoderegex="{{ meta.data_geocode_regex }}" data-showmap="{{ meta.data_show_map }}">
    {% if show_data %}
    <div class="col-md-3">
      <div id="toolbar">
        <span id="series-help">
          <h4>{{ t.indicator.sub_categories }}</h4>
          <p>{{ t.indicator.series_help }}</p>
        </span>
        <p>{{ t.indicator.legend_help }}</p>
        <div id="fields">
          <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>
        </div>
      </div>
      <div id="units"></div>
    </div>
    <div class="col-md-9">
    {% else %}
    <div class="col-md-12">
    {% endif %}

      {% if show_data %}
      {% include components/headline.html %}
      {% endif %}

      <section>

        {% if show_data %}
        <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>
        <div class="async-loaded" style="display:none">
          <ul class="nav nav-tabs data-view" role="tablist">
            <li role="presentation" class="nav-item active">
              <a class="nav-link" data-toggle="tab" href="#chartview" aria-controls="chartview" role="tab">{{ t.indicator.chart }}</a>
            </li>
            <li role="presentation" class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tableview" aria-controls="tableview" role="tab">{{ t.indicator.table }}</a>
            </li>
            <li role="presentation" class="nav-item map" style="display:none">
              <a class="nav-link" data-toggle="tab" href="#mapview" aria-controls="mapview" role="tab">{{ t.indicator.map }}</a>
            </li>
            {%- if meta.embedded_map_html -%}
            <li role="presentation" class="nav-item embedded-map">
              <a class="nav-link" data-toggle="tab" href="#embeddedmapview" aria-controls="embeddedmapview" role="tab">{{ t.indicator.map }}</a>
            </li>
            {%- endif -%}
          </ul>

          <!-- Tab panes -->
          <div class="tab-content data-view">
            <div role="tabpanel" class="tab-pane active" id="chartview">
              {% include components/charts/chart.html graph_type=meta.graph_type data=json_data %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tableview">
              <div id="selectionsTable"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mapview" class="map">
              <div id="map">
                <img src="{{ site.baseurl }}/assets/img/loading.gif" alt="{{ t.indicator.loading_map }}" />
              </div>
            </div>
            {% if meta.embedded_map_html %}
            <div role="tabpanel" class="tab-pane" id="embeddedmapview" class="embedded-map">
              {{ meta.embedded_map_html }}
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="nav-item active">
            <a class="nav-link" data-toggle="tab" href="#metadata" aria-controls="metadata" role="tab">{{ t.indicator.national_metadata }}</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#globalmetadata" aria-controls="globalmetadata" role="tab">{{ t.indicator.global_metadata }}</a>
          </li>
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab">{{ t.indicator.sources }}</a>
          </li>
          {% if site.environment == 'staging' %}
          <li role="presentation" class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">{{ t.indicator.edit }}</a>
          </li>
          {% endif %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="metadata">
            <!-- National Metadata -->
            <div > <!-- formerly class="collapsible expanded" -->
              <!-- <h3 tabindex='0'>National Metadata</h3> -->
              <article>
                <p>{{ t.indicator.national_metadata_blurb | replace: '%country_name', site.country.name | replace: '%country_adjective', site.country.adjective }}</p>
                  {% include components/metadata.html scope='national' %}
              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="globalmetadata">
            <!-- Global Metadata -->
            <div> <!-- formerly <div class="collapsible expanded"> -->
              <!-- <h3 tabindex='0'>Global Metadata</h3> -->
              <article>
                <p>{{ t.indicator.global_metadata_blurb }}</p>
                {% include components/metadata.html scope='global' %}
              </article>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="sources">
            {% include components/sources.html %}
          </div>
          {% if site.environment == 'staging' %}
          <div role="tabpanel" class="tab-pane" id="edit">
            <div class="edit-container">
              <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ site.data_dir_for_edits | default: 'data' }}/indicator_{{ meta.indicator | slugify }}.csv">{{ t.indicator.edit_data }}</a>
              <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/meta/{{ meta.indicator | slugify }}.md">{{ t.indicator.edit_metadata }}</a>
            </div>
          </div>
          {% endif %}
        </div>
      </section>
    </div>
  </div>
</div>

{% include footer.html %}

