{%- include multilingual.html -%}
[
  {%- assign goals = site.goals | where: 'language', current_language -%}
  {%- for goal in goals -%}
  {%- assign goal_number = goal.sdg_goal | downcase -%}
  {%- assign goal_title_key = goal_number | append: '-title' -%}
  {%- assign goal_title = t.global_goals[goal_title_key] -%}
  {
    "goal": {
      "id": "{{goal_number}}",
      "title": "{{goal_title | strip_newlines | strip | replace: '"', "'"}}",
      "indicators": [
        {%- assign all_meta = site.data.meta -%}
        {%- if all_meta[current_language] -%}
          {%- assign all_meta = all_meta[current_language] -%}
        {%- endif -%}
        {%- assign indicators = all_meta | where:'sdg_goal', goal_number -%}
        {%- for indicator in indicators -%}
        {%- capture indicator_id -%}{{indicator.indicator | slugify}}{%- endcapture -%}
        {%- assign meta = all_meta[indicator_id] -%}
        {
          "id": "{{indicator_id}}",
          "title": "{{indicator_id | get_indicator_name | strip_newlines | strip | replace: '"', "'"}}",
          "description": "{{meta.national_indicator_description | strip_newlines | strip | replace: '"', "'" }}",
          "keywords": "{{meta.data_keywords}}",
          "href": "{{ site.baseurl }}{{ baseurl_folder }}/{{ indicator_id }}",
          "status": "{{meta.reporting_status}}"
        }
        {%- if forloop.last -%}{%- else -%},{%- endif -%}
        {%- endfor -%}
      ]
    }
  }
  {%- if forloop.last -%}{%- else -%},{%- endif -%}
  {%- endfor -%}
]
