{%- include multilingual.html -%}
[
  {%- for group in site.Indicators | group_by: 'goal_number' -%}
  {% assign goal = group.name | sdg_lookup %}
  {
    "goal": {
      "id": "{{ goal.number }}",
      "title": "{{ goal.name | strip_newlines | strip | replace: '"', "'" }}",
      "indicators": [
        {% for indicator in group.items %}
        {
          "id": "{{ indicator.slug }}",
          "title": "{{ indicator.name | strip_newlines | strip | replace: '"', "'" }}",
          "description": "{{ indicator.national_indicator_description | strip_newlines | strip | replace: '"', "'" }}",
          "keywords": "{{ indicator.data_keywords }}",
          "href": "{{ indicator.url }}",
          "status": "{{ indicator.reporting_status }}"
        }
        {%- if forloop.last -%}{%- else -%},{%- endif -%}
        {%- endfor -%}
      ]
    }
  }
  {%- if forloop.last -%}{%- else -%},{%- endif -%}
  {%- endfor -%}
]
