---
layout: default
---
{% if site.news.category_links == false %}
  {% assign category_links = false %}
{% else %}
  {% assign category_links = true %}
{% endif %}
<div id="main-content" class="container newslist" role="main">
  <div class="row">
    <div class="{% if category_links %}col-md-9 push-md-3{% else %}col-md-12{% endif %}">
      {% if page.title %}
      <h1>{{ page.title | t }}</h1>
      {% endif %}
      {% include translated-content.html content=content %}
      {% assign posts = site.posts | where: 'language', page.language %}
      {% for post in posts %}
        {% include components/post/post-listing.html category_links=category_links %}
      {% endfor %}
    </div>
    {% if category_links %}
    <div class="col-md-3 pull-md-9">
      {% include components/post-categories.html %}
    </div>
    {% endif %}
  </div>
</div>
