---
layout: default
---
<div class="container">
  {% include components/post/breadcrumbs.html %}
</div>

<div id="main-content" class="container">
  <div class="row">
    <div class="col-md-9 push-md-3">
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="post-title" itemprop="name headline">{{ page.title | t }}</h1>
        <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | t_date: "standard" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

        {% if page.categories %}
        <ul class="post-categories">
          {% for category in page.categories %}
          <li class="warning">
            <a href="{{ page.baseurl }}categories/#{{ category | slugize }}" title="View all posts in the {{category | t}} category">{{ category | t }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </article>
    </div>
    <div class="col-md-3 pull-md-9">
      {% include components/post-categories.html %}
    </div>
  </div>
</div>



