{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">

  <h1>{{ t.status.reporting_status }}</h1>

  {%- assign overall = site.data.reporting.overall -%}
  <div class="goal goal-overall">
      <div class="details">
        <h2 class="status-goal">
            {{ t.status.overall_reporting_status }} <span class="total"><span>{{ overall.totals.total }}</span> {{ t.general.indicators | downcase }}</span>
        </h2>
        <div class="summary">
          <div class="statuses">
            {%- for status in overall.statuses -%}
            <div>
              <span class="status {{ status.status | slugify }}">{{ status.count }}</span><strong>{{ status.translation_key | t }}</strong><span class="value">{{ status.percentage | round }}%</span>
            </div>
            {%- endfor -%}

            <br style="clear:both;">
          </div>
        </div>
        <div class="goal-stats">
            {%- for status in overall.statuses -%}
            <span class="{{ status.status | slugify }}" style="width:{{ status.percentage }}%" title="{{ status.translation_key | t }}: {{ status.percentage | round }}%"></span>
            {%- endfor -%}
        </div>

      </div>
    <!--</li>-->
    <br style="clear:both;">
  </div>

  <h2>{{ t.status.status_by_goal }}</h2>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal  | downcase -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = t.global_goals[goal_short_key] -%}
    <div class="goal">
        <div class="frame">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
            <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" width="100" height="100" />
          </a>
        </div>
        <div class="details">
          <h3 class="status-goal">
            <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">{{ goal_short }}</a>
            <span class="total">{{ goalreport.totals.total }}<span></span> {{ t.general.indicators | downcase }}</span>
          </h3>
          <div class="summary">
            <div class="statuses">
              {%- for status in goalreport.statuses -%}
              <div>
                <span class="status {{ status.status | slugify }}">{{ status.count }}</span><strong>{{ status.translation_key | t }}</strong><span class="value">{{ status.percentage | round }}%</span>
              </div>
              {%- endfor -%}
              <br style="clear:both;">
            </div>
          </div>
          <div class="goal-stats">
          {%- for status in goalreport.statuses -%}
            <span class="{{ status.status | slugify }}" style="width:{{ status.percentage }}%" title="{{ status.translation_key | t }}: {{ status.percentage | round }}%"></span>
          {%- endfor -%}
          </div>
          <div class="divider">
          </div>
        </div>
      <!--</li>-->
      <br style="clear:both;">
    </div>
  {%- endfor -%}

  <!--{{ content }}-->

</div>
{% include footer.html %}
