{% include head.html %}
{% include header.html %}

<script type="text/template" class="results-template">
  <% if(resultsCount) { %>
    <p>{{ page.t.search.results_found }}: <%= resultsCount %></p>
    <% _.each(searchResults, function(result){ %>
      <div class="row search-result">
        <div class="col col-xs-12">
          <a href="<%= result.url %>">
            <h3 class="title"><%= result.title %></h3>
          </a>
          <div class="url"><%= result.type %> &raquo; <%= result.url %></div>
          <div class="content"><%= result.content %></div>
        </div>
      </div>
    <% }); %>

  <% } else { %>
    <p>
      {{ page.t.search.no_results }}
      <% if(didYouMean) { %>
      - {{ page.t.search.did_you_mean }}:
        <% _.each(didYouMean, function(searchTerm){ %>
        <a href="{{ page.baseurl }}search?q=<%= searchTerm %>"><%= searchTerm %></a>
        <% }); %>
      <% } %>
      <br><br>
      {{ page.t.search.adjust_your_search }}
    </p>
  <% } %>
</script>
<script>
opensdg.searchItems = {{ site.data.search_items[page.language] | jsonify }};
{% if site.search_index_boost %}
opensdg.searchIndexBoost = {{ site.search_index_boost | jsonify }};
// @deprecated start
if (!Array.isArray(opensdg.searchIndexBoost)) {
  var searchIndexBoost = [];
  Object.keys(opensdg.searchIndexBoost).forEach(function(key) {
    searchIndexBoost.push({
      field: key,
      boost: opensdg.searchIndexBoost[key],
    });
  });
  opensdg.searchIndexBoost = searchIndexBoost;
}
// @deprecated end
{% else %}
opensdg.searchIndexBoost = [{
  field: 'title',
  boost: 10,
}];
{% endif %}
{% if site.search_index_extra_fields %}
opensdg.searchIndexExtraFields = {{ site.search_index_extra_fields | jsonify }};
{% else %}
opensdg.searchIndexExtraFields = [];
{% endif %}
</script>

<div id="main-content" class="container" role="main">
  <h1>{{ page.t.search.search_results_for }} '<span id="search-term"></span>'</h1>
  {% include search.html id="search-bar-on-page" not_in_menu=true %}
  {% include components/loading.html %}
  <div id="search-results" class="results"></div>
</div>

<script src="https://unpkg.com/lunr/lunr.min.js"></script>
{% if page.language != 'en' %}
  <script src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/lunr.stemmer.support.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lunr-languages@1.4.0/lunr.{{ page.language }}.js"></script>
{% endif %}
{% include footer.html %}
