<li role="presentation" class="nav-item {{ include.classes }} {% if include.active %}active{% endif %}">
    <a
        class="nav-link"
        data-toggle="tab"
        role="tab"
        id="{{ include.id }}"
        href="{{ include.href }}"

        {% if include.aria-controls %}
        aria-controls="{{ include.aria-controls }}"
        {% endif %}

        {% if include.aria-describedby %}
        aria-describedby="{{ include.aria-describedby }}"
        {% endif %}

        {% if include.autotrack-action and include.autotrack-label %}
        {% include autotrack.html preset=include.autotrack-preset category="Tab change" action=include.autotrack-action label=include.autotrack-label %}
        {% endif %}
    >{{ include.label | t }}</a>
</li>