.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

#skiplink {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  padding: 10px;
  background: white;
  text-align: center;
  border: 1px solid black;
  color: black;
  display: block;
}

#accessibility-nav {
  padding-top: 20px;
  padding-right: 10px;
  float: right;
  text-align: right;
  li {
    display: inline-block;
    list-style: none;
    &.contrast {
      font-size: 1.3em;
      font-weight: bold;
      border-radius: 50%;
      width: 25px;
      max-height: 25px;
      text-align: center;
      margin: 0.25em;
      margin-top: 0.1em;
      a {
        margin: auto;
        text-decoration: none;
      }
    }

    &.contrast-default {
      display: none;
      background: white;
      a {
        color: black;
      }
    }

    &.contrast-high {
      display: block;
      background: black;
      a {
        color: yellow;
      }
    }
  }
}

body.contrast-high {

  #page-content {
    .alert {
      div {
        p, h4 {
          color: black;
	}
      }
    }
  }

  #accessibility-nav {
    li {
      &.contrast-default {
        display: block;
      }

      &.contrast-high {
        display: none;
      }
    }
  }

  background-color: black;
  .table {
    background: black;
  }

  .btn { background: white !important; color: black !important;
    &:hover {
      background: yellow !important;
    }
    &:focus {
      background: yellow !important;
    }
  }

  div#units {
    color: white;
  }

  .nav-tabs { border-color: yellow; }

  #main-content #fields .bar .selected { background-color: white; }

  #main-content #fields .variable-selector .variable-hint { color: white; }

  #main-content .nav-tabs .nav-item.active a { background: yellow; color: black; border-color: yellow; }

  a.nav-link:focus { background: white; color: black; }

  caption {
    color: white;
  }

  .table-hover {
    tbody tr:hover {
      background: yellow;
      td {
        color: black;
      }
      th {
        color: black;
      }
      a {
        color: blue;
        text-decoration: underline;
      }
    }
  }



  .container, #main-content, header, footer, #disclaimer, .heading {
    background: black;
    border-color: black;
  }

  p, h2, h3, h4, span, td, th, a#text {
    color: white;
  }

  h1, li, a {
    color: yellow;
  }

  li.contrast-default a {
    color: black !important;
  }

  .navbar {
    li {
      a {
        color: white;
        &:hover, &:focus {
          color: yellow;
        }
      }
    }
    li.active {
      a {
        color: yellow;
        border-color: yellow;
        &:hover {
          color: yellow;
        }
        &:focus {
          color: yellow;
        }
      }
    }
  }

  .goal-indicators {
    div {
      span {
        border-color: white !important;
        color: white !important;
      }
    }
    .indicator-cards {
      a, &.target {
        color: white !important;
      }
      span.status, .tags li{
        color: black !important;
      }
    }
  }

  #main-content #fields label {
    background: black;
    color: white;
    &:hover {
      background: white;
      color: black;
    }
    &:focus {
      background: white;
      color: black;
    }
  }

  #toolbar {
    button {
      background-color: black !important;
      border-color: white;
      color: white;
    }
  }

  .danger {
    background-color: red;
  }
  .warning {
    background-color: yellow;
  }
  .success {
    background-color: green;
  }

  .statuses {
    strong {
      color: white;
    }
    .value {
      color: white !important;
    }
  }

  .variable-options {
    background: black;
    color: white;
    div {
      background: black;
      color: white;
    }
    button {
      background: black;
      color: white !important;
      border-color: white;
    }
  }

  .breadcrumb {
    background: white;
    a {
      color: black !important;
    }
  }

  span.match {
    color: black !important;
  }

  @media screen and (max-width: 768px) {
    .navbar.navbar-default {
      background: black;
      color: white;
    }
    .navbar .top-level li.active {
      background: white;
      span {
        color: black;
      }
    }
    .navbar .menu-target {
      background: black;
    }
    .navbar ul.navbar-nav li a {
      background: black;
    }
  }
}

body.long.contrast-default{
  li.contrast-default{
    display: none;
  }
  li.contrast-high{
    display: block;
    @media only screen and (max-width: 767px) {
      width: 60px;
    }
  }
}

body.long.contrast-high{
  li.contrast-default{
    display: block;
    @media only screen and (max-width: 767px) {
      width: 60px;
    }
  }
  li.contrast-high{
    display: none;
  }
}

body.long {
  .navbar ul.navbar-nav li.contrast {
    @media only screen and (max-width: 768px) {
      display: none
    }
    font-size: 0.75em;
    font-weight: bold;
    border-radius: 5px;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 50px;
    text-align: center;
    margin-left: 1em;
    a {
      margin: auto;
      text-decoration: none;
    }
  }

  #accessibility-nav li.contrast {
    @media screen and (max-width: 500px) {
      font-size: 3vw;
    }
    @media screen and (min-width: 501px) {
      font-size: 1em;
    }
    border-radius: 5px;
    height: auto;
    width: auto;
    text-align: center;
    margin: 0.25em;
    margin-top: 0.1em;
    position: relative;
    top: -2px;
    max-height: 60px;
    max-width: 110px;
    a {
      margin: auto;
      text-decoration: none;
      padding: 1px;
    }
  }
}
