button:focus-visible {
    @include focus;
}
.btn {
    color: $button-foregroundColor;
    &:visited {
        color: $button-foregroundColor-visited;
    }
    &:focus-visible {
        color: $button-foregroundColor-focus;
    }
}
.btn-download {
    border: none !important;
    background: $button-color !important;
    color: $button-foregroundColor !important;
    box-shadow: 0 2px 0 $button-color-dropShadow;
    border-radius: 0;
    position: relative;

    &:active {
        background: $button-color-pressed !important;
    }
    &:hover {
        background: $button-color-hover !important;
    }
    &:visited {
        color: $button-foregroundColor-visited !important;
    }
    &:focus-visible {
        background: $button-color-focus !important;
        color: $button-foregroundColor-focus !important;
    }
}
body.contrast-high {
    button:focus-visible {
        @include focusHighContrast;
    }
    .btn {
        color: $button-foregroundColor-highContrast !important;
        &:visited {
            color: $color-dark-highContrast !important;
        }
        &:focus-visible {
            color: $color-dark-highContrast !important;
        }
    }
    .btn-primary,
    .btn-download {
        background: $button-color-highContrast !important;

        &:active {
            background: $color-highlight-highContrast !important;
        }
        &:hover {
            background: $button-color-hover-highContrast !important;
        }
        &:focus-visible {
            background: $color-highlight-highContrast !important;
        }
    }
}
