// @TODO: Put this in more specific place.
.tab-pane:focus,
.variable-selector button.accessBtn:focus-visible {
    @include focusOutlineOnly;
}
body.contrast-high .variable-selector button.accessBtn:focus-visible {
    @include focusOutlineOnlyHighContrast;
    &,
    span {
        color: $text-color-highContrast !important;
    }
}
