[contentEditable="true"]:focus-visible,
input:focus-visible {
    @include focus;
}
body.contrast-high {
    [contentEditable="true"]:focus-visible,
    input:focus-visible {
        @include focusHighContrast;
    }
}
input[type="radio"]:focus-visible,
body.contrast-high input[type="radio"]:focus-visible,
input[type="checkbox"]:focus-visible,
body.contrast-high input[type="checkbox"]:focus-visible {
    box-shadow: 0px 0px 0px 4px $focusOutlineColor !important;
}
input[type="text"]:focus-visible,
input[type="search"]:focus-visible,
body.contrast-high input[type="text"]:focus-visible,
body.contrast-high input[type="search"]:focus-visible {
    @include focusOutlineOnly;
}
