a,
a:hover{
  text-decoration: underline;
}

a{
  color: $link-color;
}

a:hover{
  color: $link-color-hover;
}

a:visited{
  color: $link-color-visited;
}

body.contrast-high a:visited{
  color: $link-color-visited-highContrast;
}

[href]:focus-visible {
    @include focus;
}
body.contrast-high {
    [href]:focus-visible {
        @include focusHighContrast;
    }
}
