.js {
  #headlineTable {
    display: none;
  }
  .no-js-language-toggle {
    display: none;
  }
}

.no-js {
  .no-js-disaggregation-hint {
    margin-top: 20px;
  }
  [data-bs-target="#navbarSupportedContent"] {
    display: none;
  }
  .nav-item.dropdown {
    display: none;
  }
  #navbarSupportedContent {
    display: block;
  }
  .language-toggle-dropdown {
    display: none;
  }
  #indicatorData {
    > .col-md-3 {
      display: none;
    }
    > .col-md-9 {
      width: 100%;
    }
  }
  .data-view {
    display: none;
  }
  .plot-container {
    display: none;
  }
  .tab-pane {
    display: block!important;
  }
  #main-content {
    .collapsible {
      border: 0;
      &:first-child {
        border: none;
      }
      article {
        display: block;
        padding: 8px 0;
      }
      h3 {
        padding: 0;
        cursor: default;

      }
      h3 span {
        display: none;
      }
    }
  }
}
