.table-hover {
  tbody tr:hover {
    background: darken($backgroundColor, 12%);
  }
}

#page-content {

  border-top: 1px solid $indicatorContent-horizontalRule-color;
  border-bottom: 1px solid $indicatorContent-horizontalRule-color;
  padding-top: 10px;

  table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: $text-color-dark;
    border-width: 1px;
  }

  td, th {
    padding-right: 5px;
    padding-left: 5px;
  }

  thead {
    padding-bottom: 10px;
    border-bottom: 1pt solid $text-color-dark;
  }
}
