.table-hover {
  tbody tr:hover {
    background: darken($backgroundColor, 12%);
  }
}

#page-content {

  border-top: 1px solid $indicatorContent-horizontalRule-color;
  border-bottom: 1px solid $indicatorContent-horizontalRule-color;
  padding-top: 10px;

  table {
    margin-top: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: $color-dark;
    border-width: 1px;
  }

  td, th {
    padding-right: 5px;
    padding-left: 5px;
  }

  thead {
    padding-bottom: 10px;
    border-bottom: 1pt solid $color-dark;
  }
}

table {
  thead {
    th {
      .sort {
        background-image: none !important;
      }
      &[aria-sort="descending"], &[aria-sort="ascending"] {
        position: relative;
        &:first-child:after, &:last-child:before {
          content: " ";
          border-left: 0.4em solid transparent;
          border-right: 0.4em solid transparent;
          position: relative;
        }
      }
      &[aria-sort="descending"]:first-child:after,
      &[aria-sort="descending"]:last-child:before {
        border-top: 0.4em solid black;
        top: 15px;
      }
      &[aria-sort="ascending"]:first-child:after,
      &[aria-sort="ascending"]:last-child:before {
        border-bottom: 0.4em solid black;
        bottom: 15px;
      }
      &[aria-sort]:first-child:after {
        left: auto;
        right: 1em;
      }
      &[aria-sort]:last-child:before {
        left: 1em;
        right: auto;
      }
    }
  }
}

body.contrast-high {
  table {
    thead {
      th {
        &[aria-sort="descending"] {
          &:first-child:after, &:last-child:before {
            border-top-color: $color-light-highContrast;
          }
        }
        &[aria-sort="ascending"] {
          &:first-child:after, &:last-child:before {
            border-bottom-color: $color-light-highContrast;
          }
        }
      }
    }
  }
}