h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

.heading {
  a {
    background: transparent;
    color: white;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1,
	h2,
  h3 {
    color: white;
  }
  h1 {
    margin-top: 12px;
		font-size: 2.2em;
    @media only screen and (max-width: 480px) {
      font-size: 0.938em;
    }
  }
  h2 {
    font-size: 1.5em;

    @media only screen and (min-width: 768px) {
      font-size: 1.8em;
    }

    @media only screen and (min-width: 992px) {
      font-size: 2.2em;
    }
  }
  h3 {
    @media only screen and (max-width: 480px) {
      font-size: 0.813em;
    }
  }

  &.indicator {
    h1 {
      font-size: 24px;

      @media only screen and (max-width: 480px) {
        font-size: 0.813em;
      }
    }
    h3 {
      font-size: 30px;

      @media only screen and (max-width: 480px) {
        font-size: 0.938em;
      }
    }
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

#main-content {
  font-family: 'Roboto', sans-serif;
  background: white;
  padding-top: 15px;
  padding-bottom: 15px;

  h4 {
    margin-bottom: 1.5rem;
  }


  .fa-info {
    margin-right: 5px;
  }
  .alert {
    color: black;
  }
  .alert a {
    display: inline;
    color: inherit;
    padding: 0;
  }

  h2:first-child {
    // margin-top: 0;
    margin-bottom: 14px;
  }
}

.fa-exclamation-circle {
  font-size: 60px;
  display: inline-block;
}
