body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1{ font-size: 36px;}
h2{ font-size: 27px;}
h3{ font-size: 24px;}
.normal-copy { font-size: 16px; }
.lead-copy { font-size: 22px; }

.heading {
  a {
    background: transparent;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1,
	h2,
  h3 {
    color: $text-dark-color;
  }
  h1 {
    margin-top: 12px;
  }

  &.indicator {
    h1 {
      line-height: normal;
    }
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

#main-content {
  background: $background-color;
  padding-top: 15px;
  padding-bottom: 15px;

  h4 {
    margin-bottom: 1.5rem;
  }


  .fa-info {
    margin-right: 5px;
  }
  .alert {
    color: $text-dark-color;
  }
  .alert a {
    display: inline;
    color: inherit;
    padding: 0;
  }

  h2:first-child {
    margin-bottom: 14px;
  }
}

.fa-exclamation-circle {
  font-size: 60px;
  display: inline-block;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
