body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $text-color;
}
body.contrast-high {
    color: $text-color-highContrast;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: $h1-fontSize;
}
h2 {
    font-size: $h2-fontSize;
}
h3 {
    font-size: $h3-fontSize;
}
h4 {
    font-size: $h4-fontSize;
}
.lead-copy {
    font-size: $leadCopy-fontSize;
}
.small-text {
    font-size: $smallText-fontSize;
}
p {
    text-indent: 0;
}
