body{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  color: $text-color;
}
body.contrast-high {
  color: $text-color-highContrast;
}

h1{ font-size: $h1-fontSize; }
h2{ font-size: $h2-fontSize; }
h3{ font-size: $h3-fontSize; }
.lead-copy { font-size: $leadCopy-fontSize; }

.goal-banner {
  a {
    background: transparent;
    display: block;
    &:hover {
      text-decoration: none;
    }
  }
  h1,
	h2,
  h3 {
    color: $color-dark;
  }
  h1 {
    margin-top: 12px;
  }

  &.indicator {
    h1 {
      line-height: normal;
    }
  }

  img {
    max-width: 100%;
    margin-top: 10px;
  }
}

#main-content {
  background: $backgroundColor;
  padding-top: 15px;
  padding-bottom: 15px;

  h4 {
    margin-bottom: 1.5rem;
  }


  .fa-info {
    margin-right: 5px;
  }
  .alert {
    color: $color-dark;
  }
  .alert a {
    display: inline;
    color: inherit;
    padding: 0;
  }

  h2:first-child {
    margin-bottom: 14px;
  }
}

.fa-exclamation-circle {
  font-size: 60px;
  display: inline-block;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

[contentEditable="true"]:focus,
[href]:focus,
[tabindex]:focus,
iframe:focus,
.navbar #search input:focus,
.navbar #search button:focus {
  outline: .25rem solid $focusColor;
  outline-offset: 0;
}
body.contrast-high {
  [contentEditable="true"]:focus,
  [href]:focus,
  [tabindex]:focus,
  iframe:focus,
  .navbar #search input:focus,
  .navbar #search button:focus {
    outline: .25rem solid $focusColor-highContrast;
    outline-offset: 0;
  }
}
