<div class="tab-content data-view">
  {% for tab in page.indicator.indicator_tabs_list %}
    {% if tab.type == 'chart' %}
      <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="chartview">
        {% include components/charts/chart.html graph_type=page.indicator.graph_type %}
      </div>
    {% elsif tab.type == 'table' %}
      <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="tableview">
        <div style="display: none;">
          <span id="column-sort-info">{{ page.t.indicator.table_column_sort }}</span>
        </div>
        {% include components/indicator/table.html %}
      </div>
    {% elsif tab.type == 'map' %}
      <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="mapview" class="map">
        {% include components/indicator/map.html %}
      </div>
    {% elsif tab.type == 'embed' %}
      <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="embeddedmapview" class="embedded-map">
        {% include components/indicator/embedded-feature.html %}
      </div>
    {% endif %}
  {% endfor %}
</div>
