<div id="serieses"></div>
<div id="units"></div>
<div id="comparison" style="display:none">
  <h4>Title for comparison blurb</h4>
  <p>Text for comparison blurb</p>
  <a class="btn btn-primary comparison-link" href="compare">Comparison link</a>
</div>
<div id="toolbar">
  <span id="series-help">
    <h4>{{ page.t.indicator.sub_categories }}</h4>
    <p>{{ page.t.indicator.series_help }}</p>
    <p id="comparison-link" style="display:none">
      <a href="compare">Click here for the comparison</a>
    </p>
  </span>
  <div id="fields">
    <p class="async-loading" data-img="{{ site.baseurl }}/assets/img/loading-small.gif"></p>
  </div>
</div>
