{% include components/tabs/tab-pane-group-start.html classes="data-view" %}
  {% for tab in page.indicator.indicator_tabs_list %}
    {% if tab.type == 'chart' %}
      {% include components/tabs/tab-pane-start.html
        active=forloop.first
        id="chartview"
      %}
      {% include components/charts/chart.html graph_type=page.indicator.graph_type %}
      {% include components/tabs/tab-pane-end.html %}
    {% elsif tab.type == 'table' %}
      {% include components/tabs/tab-pane-start.html
        active=forloop.first
        id="tableview"
      %}
      <div style="display: none;">
        <span id="column-sort-info">{{ page.t.indicator.table_column_sort }}</span>
      </div>
      {% include components/indicator/table.html %}
      {% include components/tabs/tab-pane-end.html %}
    {% elsif tab.type == 'map' %}
      {% include components/tabs/tab-pane-start.html
        active=forloop.first
        id="mapview"
        classes="map"
      %}
      {% include components/indicator/map.html %}
      {% include components/tabs/tab-pane-end.html %}
    {% elsif tab.type == 'embed' %}
      {% include components/tabs/tab-pane-start.html
        active=forloop.first
        id="embeddedmapview"
        classes="embedded-map"
      %}
      {% include components/indicator/embedded-feature.html %}
      {% include components/tabs/tab-pane-end.html %}
    {% endif %}
  {% endfor %}
{% include components/tabs/tab-pane-group-end.html %}
