{% if page.indicator.data_notice_heading and page.indicator.data_notice_heading != '' %}
<div class="row" id="data-notice">
  <div class="col-xs-12">
    <div class="alert {{ page.indicator.data_notice_class }}">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
      <div class="data-notice">
        <h4>{{ page.indicator.data_notice_heading | markdownify }}</h4>
        <p>{{ page.indicator.data_notice_text | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
