<div style="display: none;">
  <span id="table-alternative">{{ page.t.indicator.data_tabular_alternative }}</span>
</div>
{% include components/tabs/tab-item-group-start.html classes="non-stacking-tabs data-view" %}
  {% for tab in page.indicator.indicator_tabs_list %}
    {% if tab.type == 'chart' %}
      {% include components/tabs/tab-item.html
        classes="data-tab-item chart-tab-item"
        active=forloop.first
        label=tab.label
        id="tab-chartview"
        href="#chartview"
        aria-controls="chartview"
        aria-describedby="table-alternative"
        autotrack-preset="tab_data_chart"
        autotrack-action="Change data view"
        autotrack-label="Change to Chart tab"
      %}
    {% elsif tab.type == 'table' %}
      {% include components/tabs/tab-item.html
        classes="data-tab-item table-tab-item"
        active=forloop.first
        label=tab.label
        id="tab-tableview"
        href="#tableview"
        aria-controls="tableview"
        autotrack-preset="tab_data_chart"
        autotrack-action="Change data view"
        autotrack-label="Change to Table tab"
      %}
    {% elsif tab.type == 'map' %}
      {% include components/tabs/tab-item.html
        classes="data-tab-item map-tab-item hide-sidebar-when-active"
        active=forloop.first
        label=tab.label
        id="tab-mapview"
        href="#mapview"
        aria-controls="mapview"
        autotrack-preset="tab_data_map"
        autotrack-action="Change data view"
        autotrack-label="Change to Map tab"
      %}
    {% elsif tab.type == 'embed' %}
      {% include components/tabs/tab-item.html
        classes="data-tab-item embedded-map-tab-item hide-sidebar-when-active"
        active=forloop.first
        label=tab.label
        id="tab-embeddedmapview"
        href="#embeddedmapview"
        aria-controls="embeddedmapview"
        autotrack-preset="tab_data_map"
        autotrack-action="Change data view"
        autotrack-label="Change to embedded item tab"
      %}
    {% endif %}
  {% endfor %}
{% include components/tabs/tab-item-group-end.html %}
