<div class="edit-container">
  {% if site.data_edit_url and site.data_edit_url != '' %}
  {% assign data_edit_url = site.data_edit_url %}

  {% comment %}
  The open-sdg-data-starter has the CSV files prefixed with 'indicator_', which
  casuses a problem with standalone indicators. So manually check for that and
  remove it here.
  {% endcomment %}
  {% if page.indicator.standalone and site.data_edit_url contains 'indicator_' %}
  {% assign data_edit_url = data_edit_url | replace: 'indicator_', '' %}
  {% endif %}


  <a class="btn btn-primary" href="{{ data_edit_url | replace: '[id]', page.indicator.slug }}">{{ page.t.indicator.edit_data }}</a>
  {% else %}
  <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/{{ site.data_dir_for_edits | default: 'data' }}/indicator_{{ page.indicator.slug }}.csv">{{ page.t.indicator.edit_data }}</a>
  {% endif %}

  {% if site.metadata_edit_url and site.metadata_edit_url != '' %}
  <a class="btn btn-primary" href="{{ site.metadata_edit_url | replace: '[id]', page.indicator.slug }}">{{ page.t.indicator.edit_metadata }}</a>
  {% else %}
  <a class="btn btn-primary" href="http://prose.io/#{{ site.org_name }}/{{ site.repo_name }}/edit/{{ site.branch }}/meta/{{ page.indicator.slug }}.md">{{ page.t.indicator.edit_metadata }}</a>
  {% endif %}

  {% if site.configuration_edit_url and site.configuration_edit_url != '' %}
  <a class="btn btn-primary" href="{{ site.configuration_edit_url | replace: '[id]', page.indicator.slug }}">{{ page.t.indicator.edit_configuration }}</a>
  {% endif %}

</div>
