<script type="text/template" id="item_template">
  <% _.each(fields, function(fieldItem) { %>
    <div class="variable-selector
      <% if(allowedFields.indexOf(fieldItem.field) == -1) { %> disallowed <% }%>
      <% if (typeof childFields !== 'undefined' && childFields.indexOf(fieldItem.field) !== -1) { %> child <% }%>
      <% // @deprecated start %>
      <% if (typeof childFields === 'undefined' && allowedFields.indexOf(fieldItem.field) == -1) { %> child <% }%>
      <% // @deprecated end %>
      "
      data-field="<%=fieldItem.field%>"
    >
      <button class='accessBtn' tabindex='0' aria-expanded='false'
        <% if(allowedFields.indexOf(fieldItem.field) == -1) { %>
        aria-describedby='variable-hint-<%=fieldItem.field.replace(/ /g, '-')%>'
        <% }%>
      >
        <% if(allowedFields.indexOf(fieldItem.field) == -1) { %><h6><% } else { %><h5><% } %>
          <span aria-hidden="true"><%=translations.t(fieldItem.label)%><i class="fa fa-chevron-down"></i></span>
          <span class="sr-only">{{ page.t.indicator.sub_categories_show }} <%=translations.t(fieldItem.label)%></span>
        <% if(allowedFields.indexOf(fieldItem.field) == -1) { %></h6><% } else { %></h5><% } %>
      </button>
      <div class="variable-options">
        <fieldset>
          <legend class="sr-only">{{ page.t.indicator.sub_categories }} - <%=translations.t(fieldItem.field)%></legend>
          <div>
            <button data-type="select">{{ page.t.indicator.select_all }}</button>
            <button data-type="clear">{{ page.t.indicator.clear_all }}</button>
          </div>
          <% _.each(fieldItem.values, function(item) { %>
            <label>
              <input type="checkbox" <%=item.checked ? 'checked' : ''%> value="<%=item.value%>" data-field="<%=fieldItem.field%>" /><%=translations.t(item.value)%>
            </label>
          <% }); %>
        </fieldset>
      </div>

      <% if(allowedFields.indexOf(fieldItem.field) == -1) { %>
        <div class="variable-hint" id="variable-hint-<%=fieldItem.field.replace(/ /g, '-')%>">
          {%- capture var_hint_replacement -%}
            {% raw %}<%= translations.t(_.find(edges, { To: fieldItem.field }).From) %>{% endraw %}
          {%- endcapture -%}
          {{ page.t.indicator.variable_hint | replace_first: '%field', var_hint_replacement }}
        </div>
        <div class="no-data-hint" id="no-data-hint-<%=fieldItem.field.replace(/ /g, '-')%>">
          {{ page.t.indicator.no_data_hint }}
        </div>
      <% }%>

    </div>
  <% }); %>
</script>
