<div class="heading goal-banner indicator goal-{{ page.goal.number }}">
  <div class="container">
    <div class="row">
      {% unless page.indicator.standalone %}
      <div class="col-xs-4 col-md-3 col-lg-2 goal-icon goal-tiles">
        <a href="{{ page.goal.url }}" title="{{ page.t.indicator.view_indicator_list }}">
          <img src="{{ page.goal.icon }}" alt="{{ page.goal.short | escape }} - {{ page.t.general.goal }} {{ page.goal.number }}" id="goal-{{ page.goal.number }}" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </a>
      </div>
      <div class="col-xs-8 col-md-9 col-lg-10 indicator-details">
      {% else %}
      <div class="col-xs-12 indicator-details">
      {% endunless %}
        <div>
          <h1>
            {% unless page.indicator.standalone %}
            {{ page.t.general.indicator }} {{ page.indicator.number }}
            {% endunless %}
            <span class="lead-copy">{{ page.indicator.name }}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
