<ul class="nav nav-tabs spacer medium" role="tablist">
{% if site.metadata_tabs and site.metadata_tabs.size > 0 %}
{% for tab in site.metadata_tabs %}
  {% comment %} @deprecated start {% endcomment %}
  {% assign tab_key = tab[0] %}
  {% assign tab_obj = tab[1] %}
  {% comment %} @deprecated end {% endcomment %}
  {% if tab.scope %}
    {% assign tab_key = tab.scope %}
    {% assign tab_obj = tab %}
  {% endif %}
  {% if tab_key == 'global' and page.indicator.standalone %}
    {% continue %}
  {% endif %}
  {% assign tab_preset = "tab_meta_" | append: tab_key %}
  {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
  <li role="presentation" class="nav-item {% if forloop.first %}active{% endif %}">
    <a class="nav-link" data-toggle="tab" id="tab-{{ tab_key }}" href="#{{ tab_key }}" aria-controls="{{ tab_key }}" role="tab" {% include autotrack.html preset=tab_preset category="Tab change" action="Change metadata view" label=tab_label %}>{{ tab_obj.title | t }}</a>
  </li>
{% endfor %}
{% else %}
  {% include components/indicator/metadata-tabs-default.html %}
{% endif %}
  {% if site.environment == 'staging' %}
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">{{ page.t.indicator.edit }}</a>
  </li>
  {% endif %}
</ul>
