<ul class="nav nav-tabs spacer medium" role="tablist">
{% if site.metadata_tabs %}
{% for tab in site.metadata_tabs %}
  {% assign tab_key = tab[0] %}
  {% assign tab_obj = tab[1] %}
  {% assign tab_preset = "tab_meta_" | append: tab_key %}
  {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
  <li role="presentation" class="nav-item {% if forloop.first %}active{% endif %}">
    <a class="nav-link" data-toggle="tab" href="#{{ tab_key }}" aria-controls="{{ tab_key }}" role="tab" {% include autotrack.html preset=tab_preset category="Tab change" action="Change metadata view" label=tab_label %}>{{ tab_obj.title | t }}</a>
  </li>
{% endfor %}
{% else %}
  <li role="presentation" class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#national" aria-controls="national" role="tab" {% include autotrack.html preset="tab_meta_national" category="Tab change" action="Change metadata view" label="Change to National Metadata tab" %}>{{ site.non_global_metadata | default: 'indicator.national_metadata' | t }}</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#global" aria-controls="global" role="tab" {% include autotrack.html preset="tab_meta_global" category="Tab change" action="Change metadata view" label="Change to Global Metadata tab" %}>{{ page.t.indicator.global_metadata }}</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab" {% include autotrack.html preset="tab_meta_sources" category="Tab change" action="Change metadata view" label="Change to Sources tab" %}>{{ page.t.indicator.sources }}</a>
  </li>
{% endif %}
  {% if site.environment == 'staging' %}
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">{{ page.t.indicator.edit }}</a>
  </li>
  {% endif %}
</ul>
