<ul class="nav nav-tabs spacer medium" role="tablist">
{% if site.metadata_tabs %}
{% for tab in site.metadata_tabs %}
  {% assign tab_key = tab[0] %}
  {% assign tab_obj = tab[1] %}
  {% assign tab_preset = "tab_meta_" | append: tab_key %}
  {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
  <li role="presentation" class="nav-item {% if forloop.first %}active{% endif %}">
    <a class="nav-link" data-toggle="tab" href="#{{ tab_key }}" aria-controls="{{ tab_key }}" role="tab" {% include autotrack.html preset=tab_preset category="Tab change" action="Change metadata view" label=tab_label %}>{{ tab_obj.title | t }}</a>
  </li>
{% endfor %}
{% else %}
  <li role="presentation" class="nav-item active">
    <a class="nav-link" data-toggle="tab" href="#national" aria-controls="national" role="tab" {% include autotrack.html preset="tab_meta_national" category="Tab change" action="Change metadata view" label="Change to National Metadata tab" %}>{{ site.non_global_metadata | default: 'indicator.national_metadata' | t }}</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#global" aria-controls="global" role="tab" {% include autotrack.html preset="tab_meta_global" category="Tab change" action="Change metadata view" label="Change to Global Metadata tab" %}>{{ page.t.indicator.global_metadata }}</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#sources" aria-controls="sources" role="tab" {% include autotrack.html preset="tab_meta_sources" category="Tab change" action="Change metadata view" label="Change to Sources tab" %}>{{ page.t.indicator.sources }}</a>
  </li>
{% endif %}
  {% if site.environment == 'staging' %}
  <li role="presentation" class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#edit" aria-controls="edit" role="tab">{{ page.t.indicator.edit }}</a>
  </li>
  {% endif %}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {% if site.metadata_tabs %}
    {% for tab in site.metadata_tabs %}
    {% assign tab_key = tab[0] %}
    {% assign tab_obj = tab[1] %}
    {% assign tab_include = 'components/indicator/metadata-table.html' %}
    {% if tab_key == 'sources' %}
      {% assign tab_include = 'components/indicator/sources.html' %}
    {% endif %}
    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab_key }}">
      <article>
        {% if tab_obj.blurb %}<p>{{ tab_obj.blurb | t }}</p>{% endif %}
        {% include {{ tab_include }} scope=tab_key %}
      </article>
    </div>
    {% endfor %}
  {% else %}
  <div role="tabpanel" class="tab-pane active" id="national">
    <!-- National Metadata -->
    <div >
      <article>
        <p>
          {% assign country_name = site.country.name | t %}
          {% assign country_adjective = site.country.adjective | t %}
          {{ page.t.indicator.national_metadata_blurb | replace: '%country_name', country_name | replace: '%country_adjective', country_adjective }}
        </p>
        {% include components/indicator/metadata-table.html scope='national' %}
      </article>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="global">
    <!-- Global Metadata -->
    <div>
      <article>
        <p>{{ page.t.indicator.global_metadata_blurb }}</p>
        {% include components/indicator/metadata-table.html scope='global' %}
      </article>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="sources">
    {% include components/indicator/sources.html %}
  </div>
  {% endif %}
  {% if site.environment == 'staging' %}
  <div role="tabpanel" class="tab-pane" id="edit">
    <div class="edit-container">
      {% include components/indicator/edit-buttons.html %}
    </div>
  </div>
  {% endif %}
</div>
