{% include components/tabs/tab-item-group-start.html classes="spacer medium" %}
{% if site.metadata_tabs and site.metadata_tabs.size > 0 %}
{% for tab in site.metadata_tabs %}
  {% comment %} @deprecated start {% endcomment %}
  {% assign tab_key = tab[0] %}
  {% assign tab_obj = tab[1] %}
  {% comment %} @deprecated end {% endcomment %}
  {% if tab.scope %}
    {% assign tab_key = tab.scope %}
    {% assign tab_obj = tab %}
  {% endif %}
  {% if tab_key == 'global' and page.indicator.standalone %}
    {% continue %}
  {% endif %}
  {% assign tab_preset = "tab_meta_" | append: tab_key %}
  {% assign tab_label = "Change to " | append: tab_obj.title | append: " tab" %}
  {% assign tab_id = "tab-" | append: tab_key %}
  {% assign tab_href = "#" | append: tab_key %}
  {% assign tab_title = tab_obj.title | t %}
  {% include components/tabs/tab-item.html
    active=forloop.first
    label=tab_title
    id=tab_id
    href=tab_href
    aria-controls=tab_key
    autotrack-preset=tab_preset
    autotrack-action="Change metadata view"
    autotrack-label=tab_label
  %}
{% endfor %}
{% else %}
  {% include components/indicator/metadata-tabs-default.html %}
{% endif %}
  {% if site.environment == 'staging' %}
  {% include components/tabs/tab-item.html
    label=page.t.indicator.edit
    href="#edit"
    aria-controls="edit"
  %}
  {% endif %}
{% include components/tabs/tab-item-group-end.html %}
