<p>This section provides metadata for the data reported for this indicator at the national level and at the global level.</p>
<div class="accordion" id="accordionExample">
  <button class="btn btn-primary btn-toggle-all" id="toggleAll"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all sections</button>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Indicator information
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <dl>
          <dt>Goal</dt>
          <dd>{{ page.indicator['SDG_GOAL__GLOBAL'] | markdownify }}</dd>
          <dt>Target</dt>
          <dd>{{ page.indicator['SDG_TARGET__GLOBAL'] | markdownify }}</dd>
          <dt>Indicator</dt>
          <dd>{{ page.indicator['SDG_INDICATOR__GLOBAL'] | markdownify }}</dd>
          <dt>Series</dt>
          <dd>{{ page.indicator['SDG_SERIES_DESCR__GLOBAL'] | markdownify }}</dd>
          <dt>Related indicators</dt>
          <dd>{{ page.indicator['SDG_RELATED_INDICATORS__GLOBAL'] | markdownify }}</dd>
          <dt>Custodian agencies</dt>
          <dd>{{ page.indicator['SDG_CUSTODIAN_AGENCIES__GLOBAL'] | markdownify }}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Data reporter
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 10%;">Field</th>
              <th scope="col" style="width: 45%;">National</th>
              <th scope="col" style="width: 45%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Organisation</th>
              <td>{{ page.indicator['CONTACT_ORGANISATION'] | markdownify }}</td>
              <td>{{ page.indicator['CONTACT_ORGANISATION__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Contact organisation unit</th>
              <td>{{ page.indicator['ORGANISATION_UNIT'] | markdownify }}</td>
              <td>{{ page.indicator['ORGANISATION_UNIT__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Contact email address</th>
              <td>{{ page.indicator['CONTACT_EMAIL'] | markdownify }}</td>
              <td>{{ page.indicator['CONTACT_EMAIL__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Definition, concepts, and classifications
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 10%;">Field</th>
              <th scope="col" style="width: 45%;">National</th>
              <th scope="col" style="width: 45%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Definition and concepts</th>
              <td>{{ page.indicator['STAT_CONC_DEF'] | markdownify }}</td>
              <td>{{ page.indicator['STAT_CONC_DEF__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Unit of measure</th>
              <td>{{ page.indicator['UNIT_MEASURE'] | markdownify }}</td>
              <td>{{ page.indicator['UNIT_MEASURE__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Classifications</th>
              <td>{{ page.indicator['CLASS_SYSTEM'] | markdownify }}</td>
              <td>{{ page.indicator['CLASS_SYSTEM__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Data source type and data collection method
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 10%;">Field</th>
              <th scope="col" style="width: 45%;">National</th>
              <th scope="col" style="width: 45%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Data sources</th>
              <td>{{ page.indicator['SOURCE_TYPE'] | markdownify }}</td>
              <td>{{ page.indicator['SOURCE_TYPE__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Data collection method</th>
              <td>{{ page.indicator['COLL_METHOD'] | markdownify }}</td>
              <td>{{ page.indicator['COLL_METHOD__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Data collection calendar</th>
              <td>{{ page.indicator['FREQ_COLL'] | markdownify }}</td>
              <td>{{ page.indicator['FREQ_COLL__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Data release calendar</th>
              <td>{{ page.indicator['REL_CAL_POLICY'] | markdownify }}</td>
              <td>{{ page.indicator['REL_CAL_POLICY__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Data providers</th>
              <td>{{ page.indicator['DATA_SOURCE'] | markdownify }}</td>
              <td>{{ page.indicator['DATA_SOURCE__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Data compilers</th>
              <td>{{ page.indicator['COMPILING_ORG'] | markdownify }}</td>
              <td>{{ page.indicator['COMPILING_ORG__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Institutional mandate</th>
              <td>{{ page.indicator['INST_MANDATE'] | markdownify }}</td>
              <td>{{ page.indicator['INST_MANDATE__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Other methodological considerations
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 10%;">Field</th>
              <th scope="col" style="width: 45%;">National</th>
              <th scope="col" style="width: 45%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Rationale</th>
              <td>{{ page.indicator['RATIONALE'] | markdownify }}</td>
              <td>{{ page.indicator['RATIONALE__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Comments and limitations</th>
              <td>{{ page.indicator['REC_USE_LIM'] | markdownify }}</td>
              <td>{{ page.indicator['REC_USE_LIM__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Method of computation</th>
              <td>{{ page.indicator['DATA_COMP'] | markdownify }}</td>
              <td>{{ page.indicator['DATA_COMP__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Adjustments</th>
              <td>{{ page.indicator['ADJUSTMENT'] | markdownify }}</td>
              <td>{{ page.indicator['ADJUSTMENT__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Treatment of missing values (i) at country level and (ii) at regional level</th>
              <td>{{ page.indicator['IMPUTATION'] | markdownify }}</td>
              <td>{{ page.indicator['IMPUTATION__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Regional aggregations</th>
              <td>{{ page.indicator['REG_AGG'] | markdownify }}</td>
              <td>{{ page.indicator['REG_AGG__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Methods and guidance available to countries for the compilation of the data at the national level</th>
              <td>{{ page.indicator['DOC_METHOD'] | markdownify }}</td>
              <td>{{ page.indicator['DOC_METHOD__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Quality management</th>
              <td>{{ page.indicator['QUALITY_MGMNT'] | markdownify }}</td>
              <td>{{ page.indicator['QUALITY_MGMNT__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Quality assurance</th>
              <td>{{ page.indicator['QUALITY_ASSURE'] | markdownify }}</td>
              <td>{{ page.indicator['QUALITY_ASSURE__GLOBAL'] | markdownify }}</td>
            </tr>
            <tr>
              <th scope="row">Quality assessment</th>
              <td>{{ page.indicator['QUALITY_ASSMNT'] | markdownify }}</td>
              <td>{{ page.indicator['QUALITY_ASSMNT__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
        Data availability and disaggregation
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 50%;">National</th>
              <th scope="col" style="width: 50%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ page.indicator['COVERAGE'] | markdownify }}</td>
              <td>{{ page.indicator['COVERAGE__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingSeven">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
        Comparability/deviation from international standards
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 50%;">National</th>
              <th scope="col" style="width: 50%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ page.indicator['COMPARABILITY'] | markdownify }}</td>
              <td>{{ page.indicator['COMPARABILITY__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingEight">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
        References and documentation
      </button>
    </h2>
    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table>
          <thead>
            <tr>
              <th scope="col" style="width: 50%;">National</th>
              <th scope="col" style="width: 50%;">Global</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ page.indicator['OTHER_DOC'] | markdownify }}</td>
              <td>{{ page.indicator['OTHER_DOC__GLOBAL'] | markdownify }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#toggleAll").click( function() {
      let button = document.getElementById("toggleAll");
      if(!$('.accordion-button').hasClass("collapsed")){
          $('.accordion-button').removeClass("collapsed").addClass("collapsed");
          $('.accordion-collapse').removeClass("show");
          button.innerHTML = '<i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Show all sections'
          

      } else {
          $('.accordion-button').addClass("collapsed").removeClass("collapsed");
          $('.accordion-collapse').addClass("show");
          button.innerHTML = '<i class="fa fa-chevron-circle-up" aria-hidden="true"></i> Hide all sections'
        
      }
    });
  });
</script>
