{% if page.indicator.publications and page.indicator.publications.size > 0 %}
<div class="row">
{% for publication in page.indicator.publications %}
    <article class="publication">
        {% if publication.title and publication.title != '' %}
        <h2 class="publication-title">
            <a href="{{ publication.link }}">{{ publication.title | t }}</a>
        </h2>
        {% endif %}
        {% if publication.description and publication.description != '' %}
        <div class="publication-description">
            {{ publication.description | t | markdownify }}
        </div>
        {% endif %}
        {% if publication.date and publication.date != '' %}
        <div class="publication-date small-text">
            <time datetime="{{ publication.date | date_to_xmlschema }}">{{ publication.date | t_date: 'standard' }}</time>
        </div>
        {% endif %}
    </article>
{% endfor %}
</div>
{% else %}
    {% if include.placeholder and include.placeholder != '' %}
    <div class="empty-metadata-placeholder">{{ include.placeholder | t | markdownify }}</div>
    {% endif %}
{% endif %}
