{% if page.indicator.related_indicators and page.indicator.related_indicators.size > 0 %}
{% assign related_indicators = "" | split: "," %}
{% for indicator_id in page.indicator.related_indicators %}
    {% assign indicator = indicator_id | sdg_lookup %}
    {% if indicator %}
        {% assign related_indicators = related_indicators | push: indicator %}
    {% endif %}
{% endfor %}


{% assign related_indicators_by_goal = related_indicators | group_by: 'goal_number' %}
{% for group in related_indicators_by_goal %}
    {% assign goal = group.name | sdg_lookup %}
    <h2>{{ goal.number }}: {{ goal.name }}</h2>
    <ul>
    {% for indicator in group.items %}
        <li><a href="{{ indicator.url }}">{{ indicator.number }}: {{ indicator.name }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}
{% else %}
    {% if include.placeholder and include.placeholder != '' %}
    <div class="empty-metadata-placeholder">{{ include.placeholder | t | markdownify }}</div>
    {% endif %}
{% endif %}
