<script type="text/template" id="series_template">
  {% if site.hide_single_series %}
  <% if(serieses.length > 1) { %>
  {% endif %}
    <h4>{{ page.t.indicator.series }}</h4>
    <fieldset>
      <legend class="sr-only">{{ page.t.indicator.series }}</legend>
      <% _.each(serieses, function(seriesItem, index) { %>
        <% var checked = (selectedSeries) ? (selectedSeries==seriesItem) : (index==0); %>
        <label><input type="radio" name="series" value="<%=seriesItem%>" tabindex=0 <%=checked ? 'checked' : ''%> /> <%=translations.t(seriesItem)%></label>
      <% }); %>
    </fieldset>
  {% if site.hide_single_series %}
  <% } %>
  {% endif %}
</script>
