<script type="text/template" id="series_template">
  <% if(serieses.length) { %>
    <h4>{{ page.t.indicator.series }}</h4>
    <fieldset>
      <legend><span class="sr-only">{{ page.t.indicator.series }}</span></legend>
      <% _.each(serieses, function(seriesItem, index) { %>
        <% var checked = (selectedSeries) ? (selectedSeries==seriesItem) : (index==0); %>
        <label><input type="radio" name="series" value="<%=seriesItem%>" tabindex=0 <%=checked ? 'checked' : ''%> /> <%=translations.t(seriesItem)%></label>
      <% }); %>
    </fieldset>
  <% } %>
</script>
